<div class="row">
	<div class="small-12 columns">
		<table class="order" style="margin: auto;">

			<tbody>
				<tr>
					<th>Item</th>
					<th>Description</th>
					<th>Quantity</th>
					<th>Testers</th>
					<th>MSRP</th>
					<th>Unit Price <small>(<%= order.discount %>%)</small></th>
					<th>Amount</th>
				</tr>
				<% get_sorted_order_items(order).each do |lineitem| %>
				<tr>
				<td><%= lineitem.item_id.present? ? "#{lineitem.item_id}" : "&nbsp;".html_safe %></td>
				<td><%= display_lineitem_name(lineitem) %> <%= lineitem.product ? "" : "(err: 33!)" %></td>
				<td><%= display_lineitem_quantity(lineitem) %></td>
				<td><%= display_lineitem_quantity_testers(lineitem) %></td>
				<td><%= number_to_currency(lineitem.price_in_dollars) %></td>
				<td><%= number_to_currency(lineitem.tiered_price_in_dollars) %></td>
				<td class="text-right"><%= number_to_currency(lineitem.total_price) %></td>
				</tr>
				<% end %>
				<tr class="subtotal">
					<td colspan="6" class="text-right">Item Subtotal</td>
					<td class="text-right"><%= number_to_currency(order.subtotal_price) %></td>
				</tr>
				<% if order.markeing_co_op_discount > 0 %>
				<tr class="discount">
					<td colspan="6" class="text-right">Marketing Co-Op <small>(<%= order.marketing_co_op %> %)</small></td>
					<td class="text-right">(<%= number_to_currency(order.markeing_co_op_discount) %>)</td>
				</tr>
				<% end %>
				<% if order.damages_budget_discount > 0 %>
				<tr class="discount">
					<td colspan="6" class="text-right">Damages Budget <small>(<%= order.damages_budget %> %)</small></td>
					<td class="text-right">(<%= number_to_currency(order.damages_budget_discount) %>)</td>
				</tr>
				<% end %>
				<% if order.damages_budget_discount > 0 || order.markeing_co_op_discount > 0 %>
				<tr class="subtotal">
					<td colspan="6" class="text-right">Final Item Subtotal</td>
					<td class="text-right"><%= number_to_currency(order.final_subtotal_price) %></td>
				</tr>
				<% end %>

				<tr class="<%= order.status == 'open' ? 'inactive' : '' %>">
					<th colspan="2">Additional Charge</th>
					<th colspan="4">Description</th>
					<th>Amount</th>
				</tr>
				<% if order.order_additional_charges.present? %>
					<% order.order_additional_charges.each do |lineitem| %>
					<tr>
						<td colspan="2"><%= lineitem.name %></td>
						<td colspan="4"><%= lineitem.description %></td>
						<td class="text-right"><%= number_to_currency(lineitem.amount_in_dollars) %></td>
					</tr>
					<% end %>
					<tr class="subtotal">
						<td colspan="6" class="text-right">Additional Charges Subtotal <small></small></td>
						<td class="text-right"><%= number_to_currency(order.charges_subtotal_price) %></td>
					</tr>
				<% else %>
					<tr><td colspan="7" class="text-center">
						<% if ["open","submitted","pending"].include? order.status %>
						<h3>[ Any additional charges will be calculated and added by <%= order.brand.company_name %> after the order is submitted ]</h3>
						<% end %>
					</th></td>
					<tr class="subtotal inactive">
						<td colspan="6" class="text-right">Additional Charges Subtotal <small></small></td>
						<td class="text-right"><%= number_to_currency(0) %></td>
					</tr>
				<% end %>

				<% if order.meets_minimum(user: @current_user) %>
					<tr class="total">
						<td colspan="6" class="text-right">Order Total <small></small></td>
						<td class="text-right"><%= number_to_currency(order.total_price) %></td>
					</tr>
				<% else %>
					<tr class="total">
						<td colspan="6" class="text-right" style="color: red;">Order Minimum <small></small></td>
						<td class="text-right" style="color: red;"><%= number_to_currency(dollarize(order.brand.order_minimum)) %></td>
					</tr>
					<tr class="total">
						<td colspan="6" class="text-right" >Current Order Total <small></small></td>
						<td class="text-right" ><%= number_to_currency(order.total_price) %></td>
					</tr>
				<% end %>

				<% if @current_user.brand %>
				<tr>
					<td colspan="7" class="text-right"><%= link_to "View your estimated payout", show_order_calculator_url(order), class: "landing-button", style: "color: white; text-decoration: none; font-weight: 500;", remote: true %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div><!--/.small-12-->
</div><!--/.row-->