<div class="row">
	<div class="medium-11 medium-centered columns">

		<div class="row">
			<div class="medium-6 columns medium-text-right  medium-push-6">
				<h2 style="line-height: 1.5em;">
					[Estimated] Invoice<br>
					<small>by</small>
					<%= image_tag 'https://s3.amazonaws.com/landingintl-us/general/landing-logo.png', width: "100", alt: "Landing International" %>
				</h2>

				<h3>
				<% if @order.u_at.present? %>
					<%= @order.u_at.strftime("Date: %d %b %Y") %><br>
				<% elsif @order.c_at.present? %>
					<%= @order.c_at.strftime("Date: %d %b %Y") %><br>
				<% end %>
				Status: <%= @order.status.capitalize %> 
				</h3>

			</div><!--/.medium-6-->
			<div class="medium-6 columns text-left medium-pull-6">
				<% if @order.brand.logo_file_name %>
					<%= image_tag @order.brand.logo.url(:medium), alt: "Logo" %>
				<% else %>
					<% if !@order.brand.facebook.blank? && fb_picture(@order.brand.facebook) %>
						<%= image_tag fb_picture(@order.brand.facebook) %>
					<% else %>
						<%= image_tag @order.brand.logo.url(:medium), width: "100", height: "100", alt: "Logo" %>
					<% end %>
				<% end %>

				<h3 style="margin-top: 2em;">
					<%= @order.brand.company_name %>
					<%= "<br>#{@order.brand.address.address1}".html_safe unless !@order.brand.address.address1 || @order.brand.address.address1.empty? %>
					<%= "<br>#{@order.brand.address.address2}".html_safe unless !@order.brand.address.address2 || @order.brand.address.address2.empty? %>
					<%= "<br>#{@order.brand.address.city}".html_safe unless !@order.brand.address.city || @order.brand.address.city.empty? %>
					<%= "#{@order.brand.address.state}".html_safe unless !@order.brand.address.state || @order.brand.address.state.empty? %>
					<%= "#{@order.brand.address.postcode}".html_safe unless !@order.brand.address.postcode || @order.brand.address.postcode.empty? %>
					<%= "<br>#{@order.brand.address.country}".html_safe unless !@order.brand.address.country || @order.brand.address.country.empty? %>
				</h3>

				<h3 style="margin-top:1.5em; margin-bottom: 2em;">Bill to:<br>
					<%= @order.orderer.company_name %>
					<%= "<br>#{@order.orderer.address.address1}".html_safe unless !@order.orderer.address.address1 || @order.orderer.address.address1.empty? %>
					<%= "<br>#{@order.orderer.address.address2}".html_safe unless !@order.orderer.address.address2 || @order.orderer.address.address2.empty? %>
					<%= "<br>#{@order.orderer.address.city}".html_safe unless !@order.orderer.address.city || @order.orderer.address.city.empty? %>
					<%= "#{@order.orderer.address.state}".html_safe unless !@order.orderer.address.state || @order.orderer.address.state.empty? %>
					<%= "#{@order.orderer.address.postcode}".html_safe unless !@order.orderer.address.postcode || @order.orderer.address.postcode.empty? %>
					<%= "<br>#{@order.orderer.address.country}".html_safe unless !@order.orderer.address.country || @order.orderer.address.country.empty? %>
				</h3>

			</div><!--/.medium-6-->
		</div><!--/.row-->

	</div><!--/.medium-11 medium-centered-->
</div><!--/.row-->

<div id="order-table-data">
<%= render partial: "shared/orders/order_table", locals: { order: @order } %>
</div>