<%= render partial: 'shared/v2/header/main' %>
<br><br>

<div class="front-top-panel">
  <div class="row">
    <div class="small-10 medium-5 small-centered columns">
      <div class="ldpanel">

        <div class="row">
          <div class="small-12 columns">
            <h2>Set / Reset Password </h2>
          </div>
        </div>

        <div class="row">
        <div class="small-10 columns small-centered">
        <p>Enter a new password for <%= @user.email %></p>
          <% if @user %>
            <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
              <%= @share_id ? (hidden_field_tag :pshare, @share_id) : "" %>
              <% if @user.errors.any? %>
                <div class="error_messages">
                  <h2>Form is invalid</h2>
                  <ul>
                    <% for message in @user.errors.full_messages %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="field">
                <%= f.label :password %>
                <%= f.password_field :password, label: false %>
              </div>
              <div class="field">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, label: false %>
                <br>
              </div>
              <div class="actions"><%= f.submit "Update Password", class: "button alert tiny" %></div>
            <% end %>
          <% else %>
            <h1>Invalid Password Reset URL</h1>
            <%= link_to "Try Again", login_url %>
          <% end %>

        </div><!--/.small-8-->
        </div><!--/.row-->

      </div>
      

    </div><!--/.medium-5 columns -->

  </div><!-- /.row -->

</div>

