<%= render partial: 'shared/v2/header/main' %>
<br><br>

<div class="front-top-panel">

	<div class="row">
		<div class="small-10 medium-5 small-centered columns">
			<div class="ldpanel">

			  <div class="row">
					<div class="small-12 columns">
						<h2>Reset Password </h2>
					</div>
				</div>

				<div class="row">
				<div class="small-10 columns small-centered">
				<p>Enter the email you use to login</p>
				<%= form_tag password_resets_path, :method => :post do %>
				  <div class="field">
				    <%= label_tag :email %>
				    <%= text_field_tag :email, params[:email] %>
				  </div>
				  <div class="actions"><%= submit_tag "Reset Password", class: "button alert tiny"%></div>
				<% end %>
				</div><!--/.small-12-->
				</div><!--/.row-->

			</div>
			

		</div><!--/.medium-5 columns -->

	</div><!-- /.row -->

</div>

