<div id="front-logo">
	<%= link_to root_url do %><h4 style="color:white;"><%= image_tag '/images/landing_page_LOGO.svg', class: "shadow", width: 50  %> go back</h4><% end %>
</div>

<div class="front-top-panel">
	<div class="row">
		<div class="small-12 columns">
			<br><br><br>
			<div class="text-center"><h1 class="shadow" style="color:white;">WELCOME 欢迎 환영 <br>BEM-VINDO स्वागत ДОБРО ПОЖАЛОВАТЬ</h1></div>
		</div><!--/.small-8 small-centered-->
	</div><!--/.row-->
	<div class="row" data-equalizer>
		<div class="small-10 medium-5 small-centered columns">
			<div class="ldpanel">

			  <div class="row">
					<div class="small-12 columns">
						<h2><img src="/images/li_blue_round.png" width="50" height="50" alt="Landing International" /> Reset Password </h2>
					</div>
				</div>

				<div class="row">
				<div class="small-6 columns small-centered">
				
				<%= form_tag password_resets_path, :method => :post do %>
				  <div class="field">
				    <%= label_tag :email %>
				    <%= text_field_tag :email, params[:email] %>
				  </div>
				  <div class="actions"><%= submit_tag "Reset Password", class: "button alert tiny"%></div>
				<% end %>
				</div><!--/.small-12-->
				</div><!--/.row-->

			</div>
			

		</div><!--/.medium-5 columns -->

	</div><!-- /.row -->

</div>

