<div class="ps-panel noborder">
	<div class="row">
		<div class="small-12 columns">
			<h2>Setup a new account for<br><strong><%= @email %></strong></h2>
			<% if flash[:notice] %>
				<div class="errornotice error-on" %>">
					<%= flash[:notice] ? flash[:notice].html_safe : "&nbsp;".html_safe %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<br>

<div class="ps-panel">

	<%= form_for @newuser, url: users_path, remote: true do |f| %>
	<%= hidden_field_tag :user_type, (get_share_type(@share_id) == "brand" ? "distributor" : "brand") %>
	<%= hidden_field_tag "user[email]", @email %>
	<%= hidden_field_tag :pshare, @share_id %>

	<div id="p-share-user-error"></div>
	<div class="row collapse">
		<%= f.fields_for :contact do |ff| %>
		<div class="medium-6 columns">
			<%= ff.text_field :firstname, :placeholder => 'FIRST NAME', :value => @user_firstname, :label => false  %>
		</div>
		<div class="medium-6 columns">
			<%= ff.text_field :lastname, :placeholder => 'LAST NAME', :value => @user_lastname, :label => false  %>
		</div>
		<% end %>
	
		<div class="medium-12 columns">
		<%= f.password_field :password, :placeholder => 'PASSWORD', :label => false %>
		</div>
		<div class="medium-12 columns">
		<%= f.password_field :password_confirmation, :placeholder => 'PASSWORD (repeat)', :label => false %>
		</div>
		<div class="medium-12 columns">
			<br>
			<%= f.submit "JOIN LANDING INTERNATIONAL", class: "button tiny alert" %>
		</div>
	</div>
	<% end %>

</div>