<div class="row">
	<div class="small-12 columns">
		<a class="anchor" id="a-channelcapacities"></a>
		<h1>Channel Capacities</h1>
	</div>
</div>
<div class="row">
	<div class="medium-12 medium-centered columns">
		<div class="row">
			<div class="medium-6 columns text-right">
				<h4><strong>Channel</strong></h4>
			</div>
			<div class="medium-6 columns">
				<h4><strong>Capacity</strong></h4>
			</div>
		</div>	
		<%= form_tag(channel_capacity_bulkupdate_url, method: "post") do  %>
			<%= hidden_field_tag "redirect_anchor", "a-channelcapacities" %>
			<% if @distributor.channels.empty? %>
				<div class="row">
					<div class="medium-12 columns text-center">
					<h6 class="information">( Please Select Channels in Sector and Channel Profile )</h6>
					</div>
				</div>
			<% end %>
			<% @distributor.channels.each do |chan| %>
				<div class="row">
					<div class="medium-6 columns">
						<%= label_tag "channel_capacity[bulk_ids][#{chan.id}]", chan.name, class: "right" %>
					</div>
					<div class="medium-3 columns end">
						<%= number_field_tag("channel_capacity[bulk_ids][#{chan.id}]", @distributor.channel_capacities.where(channel_id: chan.id).first.capacity) %>
					</div>
				</div>
			<% end %>
			<div id="custom-channel-capacities-list">
				<%= render partial: 'shared/profileform/custom_channel_capacities_list', locals:{u: @distributor} %>
			</div>
			<div class="row">
				<div class="medium-12 columns">
					<hr>
					<%= submit_tag('Update Channel Capacities', class: "landing-button right") %>
				</div>
			</div>
		<% end %>					
	</div>
</div>