<br>
<a class="anchor" id="a-ordering-requirements"></a>
<div class="row clearfix">
	<%= form_for @distributor, url: distributor_url, remote: true do |f| %>
	<%= hidden_field_tag "redirect_anchor", "a-ordering-requirements" %>
		<div class="small-12 columns editform">
			<div class="row">
				<div class="medium-4 columns">
					<div class="row">
						<div class="small-12 columns text-center">
							<%= f.label :margin %>
						</div><!--/.small-12-->
					</div><!--/.row-->
					<div class="row collapse">
						<div class="small-8 columns">
							<%= f.number_field :margin, label: false, min: "0", max: "100", class: "auto-form-text"  %>
						</div><!--/.small-8-->
						<div class="small-4 columns">
							<span class="postfix">%</span>
						</div><!--/.small-4-->
					</div><!--/.row-->
					<div class="row">
						<div class="small-12 columns text-center">
							<div class="inline-error" id="margin-error"></div>
							<span id="margin-validation-notice"><%= render partial: "shared/profileform/margin_validation_notice", locals: { company: @distributor } %></span>
						</div><!--/.small-12-->
					</div><!--/.row-->
				</div><!--/.medium-4-->

				<div class="medium-4 columns">
					<div class="row">
						<div class="small-12 columns text-center">
							<%= f.label :marketing_co_op, "Marketing Co-Op" %>
						</div><!--/.small-12-->
					</div><!--/.row-->
					<div class="row collapse">
						<div class="small-8 columns">
							<%= f.number_field :marketing_co_op, label: false, min: "0", max: "100", class: "auto-form-text"  %>
						</div><!--/.small-8-->
						<div class="small-4 columns">
							<span class="postfix">%</span>
						</div><!--/.small-4-->
					</div><!--/.row-->
					<div class="row">
						<div class="small-12 columns text-center">
							<div class="inline-error" id="marketing-co-op-error"></div>
						</div><!--/.small-12-->
					</div><!--/.row-->
				</div><!--/.medium-4-->

				<div class="medium-4 columns">
					<div class="row">
						<div class="small-12 columns text-center">
							<%= f.label :damages_budget, "Damages Budget" %>
						</div><!--/.small-12-->
					</div><!--/.row-->
					<div class="row collapse">
						<div class="small-8 columns">
							<%= f.number_field :damages_budget, label: false, min: "0", max: "100", class: "auto-form-text" %>
						</div><!--/.small-8-->
						<div class="small-4 columns">
							<span class="postfix">%</span>
						</div><!--/.small-4-->
					</div><!--/.row-->
					<div class="row">
						<div class="small-12 columns text-center">
							<div class="inline-error" id="damages-budget-error"></div>
						</div><!--/.small-12-->
					</div><!--/.row-->
				</div><!--/.medium-4-->

			</div><!--/.row-->

			<hr>
			<div class="row">
				<div class="small-12 columns">
					<h3>Additional Requirements</h3>
				</div><!--/.small-12-->
			</div><!--/.row-->
			<div class="row">
				<div class="small-6 columns">
					<%= f.check_box :product_ticketing, label: false, class: "auto-form" %>
					<%= f.label :product_ticketing, "Product Ticketing" %>
				</div><!--/.small-6-->
				<div class="small-6 columns">
					<%= f.check_box :retailer_edi, label: false, class: "auto-form" %>
					<%= f.label :retailer_edi, "Retailer EDI" %>
				</div><!--/.small-6-->
			</div><!--/.row-->
			<%#= f.submit 'Update Requirements', class: "landing-button right" %>
		</div>
	<% end %>
</div>