<br>
<a class="anchor" id="a-payment-shipping-terms"></a>
<div class="row clearfix">
	<%= form_for @distributor, url: distributor_url, remote: true do |f| %>
	<%= hidden_field_tag "redirect_anchor", "a-payment-shipping-terms" %>
		<div class="small-12 columns editform">

<div class="row">
	<div class="small-12 columns">
		<h3>Payment Terms</h3>
<%= radio_button_tag("distributor[payment_terms]", "Prepay", @distributor.payment_terms == 'Prepay' || !@distributor.payment_terms, class: "auto-form") %>
<%= label_tag("distributor[payment_terms]_Prepay", "Prepay") %>
<%= radio_button_tag("distributor[payment_terms]", "Net 30", @distributor.payment_terms == 'Net 30', class: "auto-form") %>
<%= label_tag("distributor[payment_terms]_Net_30", "Net 30") %>
<%= radio_button_tag("distributor[payment_terms]", "Net 45", @distributor.payment_terms == 'Net 45', class: "auto-form") %>
<%= label_tag("distributor[payment_terms]_Net_45", "Net 45") %>
<%= radio_button_tag("distributor[payment_terms]", "Net 60", @distributor.payment_terms == 'Net 60', class: "auto-form") %>
<%= label_tag("distributor[payment_terms]_Net_60", "Net 60") %>

<span id="payment-terms-validation-notice"><%= render partial: "shared/profileform/payment_terms_validation_notice", locals: { company: @distributor } %></span>

	</div><!--/.small-12-->
</div><!--/.row-->

<hr>
<div class="row">
	<div class="small-12 columns">
		<h3>U.S. Shipping Terms</h3>
	</div><!--/.small-12-->
	<div class="small-6 columns">
		<%= radio_button_tag("distributor[us_shipping_terms]", "Brand", get_shipping_terms(@distributor) == 'Brand', class: "auto-form") %>
		<%= label_tag("distributor[us_shipping_terms]_Brand", "Brand") %>
		<%= radio_button_tag("distributor[us_shipping_terms]", "Retailer", get_shipping_terms(@distributor) == 'Retailer', class: "auto-form") %>
		<%= label_tag("distributor[us_shipping_terms]_Retailer", "Retailer") %>
	</div><!--/.small-6-->
	<div class="small-6 columns">

	</div><!--/.small-6-->
</div><!--/.row-->


<hr>
<div class="row">
	<div class="small-12 columns">
		<h3>Additional Terms</h3>
	</div><!--/.small-12-->
	<div class="small-6 columns">
		<%= f.check_box :accepts_overseas_shipment, label: false, class: "auto-form" %>
		<%= f.label :accepts_overseas_shipment, 'Accepts Overseas Shipment' %>
	</div><!--/.small-6-->
	<div class="small-6 columns">
		<input type="hidden" value="0" name="distributor[other_terms_switch]">
		<%= check_box_tag "distributor[other_terms_switch]", 1, (@distributor.other_terms.present? ? true : false), label: false, class: "auto-form" %>
		<%= label_tag "distributor[other_terms_switch]", 'Other' %>		
	</div><!--/.small-6-->
</div><!--/.row-->

<div class="row">
	<div class="medium-6 columns">

	</div><!--/.medium-6-->
	<div class="medium-6 columns">
			<% if @distributor.other_terms.present? %>
				<div id="other-terms-comments">
					<%= label_tag "distributor[other_terms]", "Please list 'Other' terms below".html_safe %>
					<%= text_area_tag "distributor[other_terms]", @distributor.other_terms, rows: 10, placeholder: "ADD DETAILS",  class: "auto-form-text" %>
				</div>
			<% else %>
				<div id="other-terms-comments" style="display: none;">
					<%= label_tag "distributor[other_terms]", "Please list 'Other' terms below".html_safe %>
					<%= text_area_tag "distributor[other_terms]", "", rows: 10, placeholder: "ADD OTHER TERMS", class: "auto-form-text" %>
				</div>
			<% end %>
	</div><!--/.medium-6-->
</div><!--/.row-->
			<%#= f.submit 'Update Terms', class: "landing-button right" %>
		</div>
	<% end %>
</div>