<br>
<a class="anchor" id="a-payment-shipping-terms"></a>
<div class="row clearfix">
	<%= form_for @distributor, url: distributor_url, remote: true do |f| %>
	<%= hidden_field_tag "redirect_anchor", "a-payment-shipping-terms" %>
		<div class="small-12 columns editform">

<div class="row">
	<div class="small-12 columns">
		<h3>Payment Terms</h3>
<%= radio_button_tag("distributor[payment_terms]", "Prepayment", @distributor.payment_terms == 'Prepayment' || !@distributor.payment_terms, class: "auto-form") %>
<%= label_tag("distributor[payment_terms]_Prepayment", "Prepayment") %>
<%= radio_button_tag("distributor[payment_terms]", "Net 30", @distributor.payment_terms == 'Net 30', class: "auto-form") %>
<%= label_tag("distributor[payment_terms]_Net_30", "Net 30") %>
<%= radio_button_tag("distributor[payment_terms]", "Net 45", @distributor.payment_terms == 'Net 45', class: "auto-form") %>
<%= label_tag("distributor[payment_terms]_Net_45", "Net 45") %>
<%= radio_button_tag("distributor[payment_terms]", "Net 60", @distributor.payment_terms == 'Net 60', class: "auto-form") %>
<%= label_tag("distributor[payment_terms]_Net_60", "Net 60") %>

	</div><!--/.small-12-->
</div><!--/.row-->

<hr>
<div class="row">
	<div class="small-12 columns">
		<h3>U.S. Shipping Terms</h3>
	</div><!--/.small-12-->
	<div class="small-6 columns">
		<%= radio_button_tag("distributor[us_shipping_terms]", "Brand", get_shipping_terms(@distributor) == 'Brand', class: "auto-form") %>
		<%= label_tag("distributor[us_shipping_terms]_Brand", "Brand") %>
		<%= radio_button_tag("distributor[us_shipping_terms]", "Retailer", get_shipping_terms(@distributor) == 'Retailer', class: "auto-form") %>
		<%= label_tag("distributor[us_shipping_terms]_Retailer", "Retailer") %>
		<%= radio_button_tag("distributor[us_shipping_terms]", "Other", get_shipping_terms(@distributor) == 'Other', class: "auto-form") %>
		<%= label_tag("distributor[us_shipping_terms]_Other", "Other") %>
		<%#= f.select(:us_shipping_terms, options_for_select([['Brand', 'Brand'], ['Retailer', 'Retailer'], ['Other', 'Other']], get_shipping_terms(@distributor)), {:label => false}, { :class => 'auto-form' }) %>
	</div><!--/.small-6-->
	<div class="small-6 columns">

	</div><!--/.small-6-->
</div><!--/.row-->
<div class="row">
	<div class="small-12 columns">
			<br>
			<% is_other, terms = get_other_shipping_terms(@distributor) %>
			<% if is_other %>
				<div id="other-terms-comments">
					<%= label_tag "distributor[us_shipping_terms_other_comments]", "<strong>Please add details for 'Other' terms</strong>".html_safe %>
					<%= text_area_tag "distributor[us_shipping_terms_other_comments]", terms, rows: 10, placeholder: "ADD DETAILS",  class: "auto-form-text" %>
				</div>
			<% else %>
				<div id="other-terms-comments" style="display: none;">
					<%= label_tag "distributor[us_shipping_terms_other_comments]", "<strong>Please add details for 'Other' terms</strong>".html_safe %>
					<%= text_area_tag "distributor[us_shipping_terms_other_comments]", "", rows: 10, placeholder: "ADD DETAILS", class: "auto-form-text" %>
				</div>
			<% end %>

	</div><!--/.small-12-->
</div><!--/.row-->

<hr>
<div class="row">
	<div class="small-12 columns">
		<h3>Additional Terms</h3>
	</div><!--/.small-12-->
	<div class="small-6 columns">
		<%= f.check_box :accepts_overseas_shipment, label: false, class: "auto-form" %>
		<%= f.label :accepts_overseas_shipment, 'Accepts Overseas Shipment' %>
	</div><!--/.small-6-->
	<div class="small-6 columns">
		
	</div><!--/.small-6-->
</div><!--/.row-->

			<%#= f.submit 'Update Terms', class: "landing-button right" %>
		</div>
	<% end %>
</div>