<%= render partial: 'shared/v2/header/main' %>
<%= render partial: 'shared/v2/header/marketplace' %>

<div class="row">
	<div class="medium-11 medium-centered columns">
		<div class="container marketplace">
			<%= render partial: "shared/v2/container/marketplace_lead", locals: {close_link: dashboard_url , subhead: "profile settings"} %>
			<div id="main-body">

				<div id="edit-profile-nav">
					<div id="top">
						<div class="row">
							<div class="medium-6 columns">
								<h1>Your Profile</h1>
								Complete your distributor profile so your potential brand partners can learn about you and be better matched to your brand assortment and customer base.
							</div><!--/.medium-6-->
							<div class="medium-6 columns">
								<div class="row">
									<div class="small-12 columns" id="profile-completeness">					
										<div class="row">
											<div class="small-12 columns text-center">
												<% percent = check_distributor_full_profile(@profile) %>
												<div class="progress small-12 round <%= percent == 100 ? "success" : "" %>" style="margin: auto;">
												  <span class="meter" style="width: <%= percent %>%"></span>
												</div>
												<small>Your Full Profile is <%= percent == 100 ? "" : "#{percent}%" %> Complete!</small>
											</div>
										</div>
									</div>
								</div><!--/.row-->
							</div><!--/.medium-6-->
						</div><!--/.row-->
					</div>
					<div id="bottom">
						<div class="row">
							<div class="small-12 columns text-left" id="nav">
								<ul class="navlist" id="left">
									<li><%= link_to 'EDIT Profile', distributor_url %></li>
									<li class="active"><%= link_to 'PREVIEW Profile', distributor_full_profile_url %></li>
								</ul>
							</div><!--/.small-12-->
						</div><!--/.row-->
					</div><!--/.bottom-->
				</div><!--/.edit-profile-nav-->


				<br>
				<div class="row collapse">
					<div class="small-12 columns" id="settings-preview-top">
						<h2 style="margin-bottom: 0;">Full Profile Preview</h2>
					</div><!--/.small-12 small-centered-->
				</div><!--/.row-->
				<div class="row collapse">
					<div class="small-12 columns" id="settings-preview-bottom">
						<div class="row">
							<div class="medium-11 medium-centered columns">

								<%= render partial: "/shared/profile/distributor_full_profile", locals: {profile: @profile}  %>
								<br><br>
							</div><!--/.medium-11 medium-centered-->
						</div><!--/.row-->

					</div>
				</div>


			</div><!--/#main-body-->
		</div><!--/#container-->
	</div><!--/.medium-11 medium-centered-->
</div><!--/.row-->
	