<% @brand.products.each do |product| %>
<table class="inventory" >	
	<tr class="product-header">
		<td colspan="4"><%= product.name %></td>
	</tr>
	<tr class="adjustments-header">
		<th>DATE</th>
		<th>UNITS REQUESTED BY LANDING</th>
		<th>UNITS SENT BY <%=@brand.company_name %></th>
		<th>UNITS RECEIVED (DEDUCTED)</th>
	</tr>
	<% if product.inventory_adjustments.blank? %>
	<tr>
		<td colspan="4">&nbsp;</td>
	</tr>
	<% end %>
	<% product.inventory_adjustments.each do |adjustment| %>
	<tr class="item">
		<td>
			<%= adjustment.c_at.strftime("%B %d, %Y") %><br>
			<small><%= adjustment.c_at.in_time_zone("Pacific Time (US & Canada)").strftime("%H:%M:%S %Z") %></small>
		</td>
		<td><%= adjustment.type == "request" ? "#{adjustment.units}<br><small>#{adjustment.comment}</small>".html_safe : "&nbsp;".html_safe %></td>
		<td><%= adjustment.type == "sent" ? "#{adjustment.units}<br><small>#{adjustment.comment}</small>".html_safe : "&nbsp;".html_safe %></td>
		<td>
			<% if adjustment.type == "received" %>
				<%= link_to_if @current_user.administrator?, "#{adjustment.units}<br><small>#{adjustment.comment}</small>".html_safe, edit_inventory_adjustment_url(adjustment.id), remote: true %>
			<% elsif adjustment.type == "deducted" %>
				<%= adjustment.units %><br>
				<small><%= adjustment.comment %></small>
			<% end %>
		</td>
	</tr>
	<% end %>
	<tr class="total">
		<td colspan="3">Total Inventory: </td>
		<td><%= product.inventory ||= 0 %></td>
	</tr>
	<tr class="controls">
		<% if @current_user.administrator? %>
		<td colspan="2">&nbsp;</td>
		<td class="addnew"><%= link_to "add request", new_inventory_adjustment_url("request",product.id), remote: true %></td>
		<td class="addnew"><%= link_to "add received", new_inventory_adjustment_url("received",product.id), remote: true %></td>
		<% else %>
		<td colspan="3">&nbsp;</td>
		<td class="addnew"><%= link_to "add sent", new_inventory_adjustment_url("sent",product.id), remote: true %></td>
		<% end %>
	</tr>
</table>
<% end %>