<% if adjustment.type == "shipment" %>
<div <%= adjustment.complete? ? "class=complete" : "" %>>
<% if adjustment.complete? %>
<div class="complete-indicator received"><i class="fa fa-check" aria-hidden="true"></i> received</div>
<% end %>
<%= adjustment.units %><br>
<small>Units Shipped</small><br>
<%= simple_format(adjustment.comment,{ class: 'comments' }, wrapper_tag: 'div') %>
</div>
<% adjustment.associated_requests.each do |a| %>
<div class="comments-complete shipped">Includes units for request of <%= a.units %> Units from <%= a.c_at.in_time_zone("Pacific Time (US & Canada)").strftime("%B %d, %Y at %H:%M %Z") %></div>
<% end %>

<% adjustment.associated_received_shipments.each do |a| %>
<div class="comments-complete received">Received on <%= a.c_at.in_time_zone("Pacific Time (US & Canada)").strftime("%B %d, %Y at %H:%M %Z") %></div>
<% end %>

<% if @current_user.brand %>
	<%= link_to edit_inventory_adjustment_url(adjustment.id), remote: true, 'aria-label': 'edit' do %>
  <svg aria-hidden="true" class="icon-edit"><use xlink:href="#icon-edit"/></svg>
	<% end %>
<% end %>
<% end %>