<% if adjustment.type == "requested" %>
<div <%= adjustment.complete? ? "class=complete" : "" %>>
<% if adjustment.complete? %>
<div class="complete-indicator shipped"><i class="fa fa-check" aria-hidden="true"></i> complete</div>
<% end %>
<%= adjustment.units %><br>
<small>Units Requested</small><br>
<%= simple_format(adjustment.comment,{ class: 'comments' }, wrapper_tag: 'div').html_safe %>
<% if @current_user.administrator? %>
	<%= link_to edit_inventory_adjustment_url(adjustment.id), remote: true, 'aria-label': 'edit' do %>
  <svg aria-hidden="true" class="icon-edit"><use xlink:href="#icon-edit"/></svg>
	<% end %>
<% end %>
</div>
<% adjustment.associated_shipments.each do |a| %>
<div class="comments-complete shipped">Included in shipment of <%= a.units %> Units on <%= a.c_at.in_time_zone("Pacific Time (US & Canada)").strftime("%B %d, %Y at %H:%M %Z") %></div>
<% end %>
<% unless adjustment.complete? %>
<div class="request-remainder">Units remaining to be shipped<br><span><%= adjustment.units - adjustment.associated_shipments.sum(:units) %></span></div>
<% end %>
<% end %>