<div class="row">
	<div class="small-12 columns text-center">
		<h2><strong><%= @adjustment.product.name %></strong>
		<% if @type == "request" %>
			<br>Inventory Request
		<% elsif @type == "received" %>
			<br>Inventory Received
		<% elsif @type == "sent" %>
			<br>Inventory Shipped
		<% end %>
		</h2>
	</div><!--/.small-12-->
</div><!--/.row-->
<%= form_for @adjustment, remote: true do |f| %>
<%= f.hidden_field :type, value: @type %>
<%= hidden_field_tag "product_id", @adjustment.product.id %>
<div class="row">
	<div class="medium-4 medium-centered columns text-center">
		<%= f.number_field :units %>
	</div><!--/.medium-4-->
</div><!--/.row-->
<div class="row">
	<div class="small-12 columns text-center">
		<%= f.text_area :comment, rows: "5" %>
	</div><!--/.small-12-->
</div><!--/.row-->
<div class="row">
	<div class="small-12 columns text-center">
		<%= f.submit "Submit", class: "landing-button tiny" %>
	</div><!--/.small-12-->
</div><!--/.row-->
<% end %>