<li>
	<div class="outer">
		<%= link_to product_preview_url(product), remote: true do %>
		<% if photo = get_product_photo(product) %>
		<div class="inner" style="background-image: url(<%= photo.photo.url(:small)%>) ">
		<% else %>
		<div class="inner">
		<% end %>
		</div>
		<% end %>
	</div>
	<div class="name">
		<%= link_to product_preview_url(product), remote: true do %>
		<%= product.name %> <br><span style="font-weight: 100;">by <%= product.brand.company_name %></span>
		<% end %>
	</div>
</li>