<%= link_to public_view_article_url(a) do %>
<div class="article-tile-2">
<div class="image" style="background-image: url(<%= a.article_photos.present? ? a.article_photos.first.photo.url(:large) : "" %>) "></div>
<div class="headline">
	<div class="type"><%= get_article_type(a.article_type) %></div>
	<%= a.headline %>
</div>
<div class="date"><%= a.date.strftime("%e %B %Y") %></div>
</div>
<% end %>
