<div class="container marketplace">
	<%= render partial: "shared/v2/container/marketplace_lead", locals: {close_link: root_url , subhead: "insights"} %>
	<div id="main-body">

		<div class="article">

			<div class="row">
				<div class="small-12 columns">
					<h2><%= get_article_type(@article.article_type) %></h2>
					<h1><%= @article.headline %></h1>
					<div class="byline"><%= @article.date.strftime("%m.%d.%Y") %></div>
					<div class="social">Share: 
						<a href="https://twitter.com/share" class="twitter-share-button"{count}>Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
						<a href="https://www.pinterest.com/pin/create/button/">
						    <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
						</a>
					</div>
				</div><!--/.small-12-->
			</div><!--/.row-->

			<div class="row">
				<div class="medium-8 columns">

							<div class="row">
								<div class="small-12 columns text-center">
									
								<% unless @article.article_photos.blank? %>

									<div id="article-carousel" class="owl-carousel owl-theme">
										<% @article.article_photos.each do |photo| %>
									  <div class="item"><%= image_tag photo.photo.url(:large) %></div>
										<% end %>
									</div>

								<% end %>
								</div><!--/.small-12-->
							</div><!--/.row-->

							<% if @article.body.match(/<[a-z][\s\S]*>/) %>
								<%= @article.body.html_safe %>
							<% else %>
								<%= simple_format(@article.body) %>
							<% end %>

				</div><!--/.medium-8-->
				<div class="medium-4 columns">
					<div class="show-for-small-only"><br></div>
					<h3>FEATURING</h3>
					<ul class="featuringlist">
						<% @article.brands.each do |b| %>
							<%= render partial: "featured_brand", locals: { brand: b } %>
							<%#= b.company_name %>
						<% end %>
					</ul>
				</div><!--/.medium-4-->
			</div><!--/.row-->
		
		</div><!--.article-->

	</div><!--/#main-body-->

</div><!--/.container-->