<%= link_to public_view_article_url(a) do %>
	<article class="preview_standard">
		<div class="row">
			<div class="medium-8 columns">
				<div class="row">
					<div class="medium-6 columns text-left medium-text-right">
						<% unless a.article_photos.blank? %>
						<%= image_tag a.article_photos.first.photo.url(:preview) %>
						<% end %>
					</div><!--/.medium-12-->
					<div class="medium-6 columns">
						<div class="row">
							<div class="small-12 columns text-left medium-text-right">
								<h1><%= a.headline %></h1>
								<h2><%= get_article_type(a.article_type) %></h2>
								<p><%= a.date.strftime("%m.%d.%Y") %> by <%= a.author %> // <%= a.preview_text %></p>
							</div><!--/.small-12-->
						</div><!--/.row-->
					</div><!--/.medium-6-->
				</div><!--/.row-->
			</div><!--/.medium-8-->
			<div class="medium-4 columns">
				<div class="show-for-small-only"><br></div>
				<h3>FEATURING</h3>
				<ul class="featuringlist">
					<% a.brands.each do |b| %>
						<%= render partial: "articles/featured_brand_preview", locals: { brand: b } %>
					<% end %>
				</ul>
			</div><!--/.medium-12-->
		</div><!--/.row-->
	</article>
<% end %>	