<%= render partial: "shared/topbar_admin" %>
<div class="admin-container">
<br>
<div class="row">
	<div class="small-12 columns">
		<%= link_to "<< Back to All Articles", articles_url, class: "article-cm-action-link" %>	
	</div><!--/.small-12-->
</div><!--/.row-->
<br>
<div class="row">
	<div class="small-12 columns">
		<h1>ARTICLE: <strong><%= @article.headline %></strong></h1>
	</div><!--/.small-12-->
</div><!--/.row-->

<div class="row">
	<div class="small-9 small-centered columns">
		<%= render "form" %>
	</div><!--/.small-9-->
</div><!--/.row-->

<div class="row">
	<div class="small-12 columns">
		<hr>
		<a name="article-preview"></a>
		<h2>ARTICLE PREVIEW <br><small>(reload page to see changes to Article Featured Brands)</small></h2>
		<hr>		
	</div><!--/.small-12-->
</div><!--/.row-->

<div class="row">
	<div class="medium-11 medium-centered columns">
		<div id="full-article-preview">
		<%= render "full_article" %>
		</div>
	</div><!--/.medium-11 medium-centered-->
</div><!--/.row-->

</div>
