<%= render partial: "shared/topbar_admin" %>
<div class="row">
	<div class="small-12 columns">
		<h1>ARTICLE: <%= @article.headline %></h1>
	</div><!--/.small-12-->
</div><!--/.row-->


<div class="row">
	<div class="small-12 columns">
		<%= link_to "<< Back to All Articles", articles_url, class: "article-cm-action-link" %>	
	</div><!--/.small-12-->
</div><!--/.row-->


<div class="row">
	<div class="small-9 small-centered columns">
		<span class="notice"><%= notice %></span>
		<%= render "form" %>
	</div><!--/.small-9-->
</div><!--/.row-->


<div class="row">
	<div class="small-12 columns">
		<hr>
		ARTICLE PREVIEW
		<hr>		
	</div><!--/.small-12-->
</div><!--/.row-->


<%= render "full_article" %>