
	<% if match.stage == "prepare" %>

		<% if match && !match.messages.blank? && match.stage == "prepare" %>

			<% if @current_user.brand %>
	
				<% if has_all_docs('prepare') %>
					<div class="conversation-action-tile active" id="action-one">
						<h4><strong>SHARE INFORMATION with <%= profile.company_name %></strong></h4>
						<p>You can share information to help prepare for international distribution</p>

						<h3>Product Documents<br>
							<small>[uploaded in your <%= link_to 'Global Terms &amp; Documents'.html_safe, library_documents_url %>]</small></h3>
						<div class="shared-indicator-block">
							<%= shared_indicator_list("Certification Information", :certification_information_documents, match) %>
							<%= shared_indicator_list("Patent Information", :patent_information_documents, match) %>
							<%= shared_indicator_list("Testing Information", :testing_information_documents, match) %>
							<%= shared_indicator_list("Ingredient or Materials List", :ingredient_or_materials_lists, match) %>
						</div>

						<%= link_to '#', id: "conversation-action-toggle", class: "button tiny alert expand" do %>
							SHARE DOCUMENTS <br> with <%= profile.company_name %>
						<% end %>
					</div>
					<div class="conversation-action-tile" id="action-two" style="display: none;">
						<%= form_for match, url: match_share_path(match), class: 'conversation-share-form', remote: true do |f| %>
						<%#= form_tag match_share_path(match), class: 'conversation-share-form', remote: true do %>

							<div class="share-form-top-header">
								<div class="row">
									<div class="small-12 columns">
										<h1>SHARE INFORMATION</h1>
									</div><!--/.small-12-->
								</div><!--/.row-->
							</div>							

							<div class="share-form-header">
								<div class="row">
									<div class="small-12 columns">
										<h2>PRODUCT DOCUMENTS</h2>
									</div><!--/.small-12-->
								</div><!--/.row-->
							</div>

							<div class="row">
								<div class="small-12 columns">
									<h2>Select documents you'd like to share:<br>
									<p>These include the following documents that you have uploaded to your <%= link_to 'Global Terms &amp; Documents'.html_safe, library_documents_url %></p>
									</h2>
								</div><!--/.small-12-->
							</div><!--/.row-->
							<div class="row">
								<div class="prepare-action-tile">
									<div class="small-4 columns text-right">
										<%= f.label :certification_information_documents, "Certification Information" %>
										<div class="conversation-share-info text-right">
										For example, if you have an organic product, your partner will need to see verification before they can market the product as such. 
										</div>
									</div><!--/.small-4-->
									<div class="small-8 columns">
										<%= render partial: "matches/conversation/match_document_share_checkbox", locals: {match: match, doctype: "Certification Information", fieldname: "certification_information_documents"} %>
									</div><!--/.small-8-->
								</div>
							</div><!--/.row-->
							
							<div class="row">
								<div class="prepare-action-tile">
									<div class="small-4 columns text-right">
										<%= f.label :patent_information_documents, "Patent Information" %>
										<div class="conversation-share-info text-right">
										Share your relevant patent information.
										</div>
									</div><!--/.small-4-->
									<div class="small-8 columns">
										<%= render partial: "matches/conversation/match_document_share_checkbox", locals: {match: match, doctype: "Patent Information", fieldname: "patent_information_documents"} %>
									</div><!--/.small-8-->
								</div>
							</div><!--/.row-->
							
							<div class="row">
								<div class="prepare-action-tile">
									<div class="small-4 columns text-right">
										<%= f.label :testing_information_documents, "Testing Information" %>
										<div class="conversation-share-info text-right">
										Share your relevant testing documents.
										</div>
									</div><!--/.small-4-->
									<div class="small-8 columns">
										<%= render partial: "matches/conversation/match_document_share_checkbox", locals: {match: match, doctype: "Testing Information", fieldname: "testing_information_documents"} %>
									</div><!--/.small-8-->
								</div>
							</div><!--/.row-->
							
							<div class="row">
								<div class="prepare-action-tile">
									<div class="small-4 columns text-right">
										<%= f.label :ingredient_or_materials_lists, "Ingredient or Materials List" %>
										<div class="conversation-share-info text-right">
										Your partner will often need to register these documents in their market and will aslo need to determine whether your products require testing in their territory.
										</div>
									</div><!--/.small-4-->
									<div class="small-8 columns">
										<%= render partial: "matches/conversation/match_document_share_checkbox", locals: {match: match, doctype: "Ingredient or Materials List", fieldname: "ingredient_or_materials_lists"} %>
									</div><!--/.small-8-->
								</div>
							</div><!--/.row-->

							<div class="row">
								<div class="small-4 columns">
									&nbsp;
								</div><!--/.small-4-->
								<div class="small-8 columns">
									<div class="row">
										<div class="small-4 columns">
											<%= link_to '#', id: "conversation-action-cancel", class: "button tiny secondary expand" do %>
												Cancel
											<% end %>
										</div><!--/.small-4-->
										<div class="small-8 columns">
											<%= submit_tag "SHARE INFORMATION", class: "button tiny alert expand" %>
										</div><!--/.small-8-->
									</div><!--/.row-->
								</div><!--/.small-8-->
							</div><!--/.row-->

						<% end %>
					</div>
				<% else %>
					<div class="conversation-action-tile" id="action-one">
						<h4><strong><i class='fi-alert' style='color: red;'></i> To advance to the next stage of your conversation, you need to share your PRODUCT information with <%= profile.company_name %>.</strong></h4>
						<p>Some of your PRODUCT &amp; PRICING information documents have yet to be uploaded to your
							<%= link_to library_documents_path do %>
								Global Terms &amp; Documents
							<% end %>:</p>
						<ul>
							<li>Certification Information <%= check_docs('Certification Information').html_safe %></li>
							<li>Patent Information <%= check_docs('Patent Information').html_safe %></li>
							<li>Testing Information <strong> <%= check_docs('Testing Information').html_safe %></strong></li>
							<li>Ingredient or Materials List <%= check_docs('Ingredient or Materials List').html_safe %></li>
						</ul>
						<h4><strong>Pleae upload all of these documents in your 
							<%= link_to library_documents_path do %>
								Global Terms &amp; Documents
							<% end %>
							in order to proceed to the next stage!
						</strong></h4>
					</div>
				<% end %>




			<% elsif @current_user.distributor %>



				<div class="conversation-action-tile active" id="action-one">
					<h4><strong>SHARE INFORMATION with <%= profile.company_name %></strong></h4>
					<p>You can share information to help this brand prepare for international distribution</p>

					<h3>Country Considerations</h3>
					<div class="shared-indicator-block">
						<%= shared_indicator_list("Testing Information", :testing_information, match) %>
						<%= shared_indicator_list("Certification Information", :certification_information, match) %>
						<%= shared_indicator_list("Customs Information", :customs_information, match) %>
						<%= shared_indicator_list("Tariffs Information", :tariffs_information, match) %>
						<%= shared_indicator_list("Contract Authentication", :contract_authentication, match) %>
					</div>

					<h3>Additional Contacts</h3>
					<div class="shared-indicator-block">
						<%= shared_indicator_list("Account Executive", :account_executive, match) %>
						<%= shared_indicator_list("Warehouse Contact", :warehouse_contact, match) %>
						<%= shared_indicator_list("Freight Forwarder", :freight_forwarder, match) %>
					</div>

					<%= link_to '#', id: "conversation-action-toggle", class: "button tiny alert expand" do %>
						SHARE INFORMATION <br> with <%= profile.company_name %>
					<% end %>
				</div>

				<div class="conversation-action-tile" id="action-two" style="display: none;">
					<%#= form_tag match_share_path(match), class: 'conversation-share-form', remote: true do %>
					<%= form_for match, url: match_share_path(match), class: 'conversation-share-form', remote: true do |f| %>	

					<div class="share-form-top-header">
						<div class="row">
							<div class="small-12 columns">
								<h1>SHARE INFORMATION</h1>
							</div><!--/.small-12-->
						</div><!--/.row-->
					</div>

					<div class="share-form-header">
						<div class="row">
							<div class="small-12 columns">
								<h2>COUNTRY CONSIDERATIONS</h2>
							</div><!--/.small-12-->
						</div><!--/.row-->
					</div>

					<div class="row">
						<div class="small-12 columns">
							<h2 class="share-item-title">Testing Information</h2>
						</div><!--/.small-12-->
					</div><!--/.row-->
					<div class="row">
						<div class="small-4 columns text-right">
							<%= f.label :testing_information, "General Testing Information" %>
						</div><!--/.small-4-->
						<div class="small-8 columns">
							<div class="share-input-container">
							<%= f.text_area :testing_information, placeholder: "Testing Information", label: false  %>
							</div>
						</div><!--/.small-8-->
					</div><!--/.row-->
					<div class="row">
						<div class="medium-4 columns text-right"><h3>(Optional)<br>Detailed Testing Information<br> per Product SKU<br>[Select SKUs that will require testing]</h3></div><!--/.small-4-->
						<div class="medium-8 columns">
							<div class="share-input-container">
							<% match.brand.products.where(current: true).each do |product| %>
								<%= hidden_field_tag "match[skus_for_testing][#{product.id}]", "", id: '' %>
								<%= check_box_tag("testing-#{product.id}-checkbox", 1, match.skus_for_testing.include?(product.id.to_s) ? true : false, data: {testing: "#{product.id}"}, class: "testing-selector") %>
								<%= label_tag("testing-#{product.id}-checkbox", product.name) %><br>
								<%= text_area_tag("match[skus_for_testing][#{product.id}]", "#{match.skus_for_testing.keys.include?(product.id.to_s) ? match.skus_for_testing[product.id.to_s] : nil}", id: "testing-#{product.id}-text", class: "testing-text-input #{match.skus_for_testing.keys.include?(product.id.to_s) ? '' : 'hide'}", disabled: (match.skus_for_testing.keys.include?(product.id.to_s) ? false : true), placeholder: "Detailed Tesing Information for #{product.name}") %>
							<% end %>
							</div>
						</div><!--/.medium-8-->
					</div><!--/.row-->



					<div class="row">
						<div class="small-12 columns">
							<h2 class="share-item-title">Certifications</h2>
						</div><!--/.small-12-->
					</div><!--/.row-->
					<div class="row">
						<div class="small-4 columns text-right">
							<%= f.label :certification_information %>
						</div><!--/.small-4-->
						<div class="small-8 columns">
							<div class="share-input-container">
							<%= f.text_area :certification_information, placeholder: "Certifications Needed", label: false  %>
							</div>
						</div><!--/.small-8-->
					</div><!--/.row-->

					<div class="row">
						<div class="small-12 columns">
							<h2 class="share-item-title">Tariffs</h2>
						</div><!--/.small-12-->
					</div><!--/.row-->
					<div class="row">
						<div class="small-4 columns text-right">
							<%= f.label :tariffs_information %>
						</div><!--/.small-4-->
						<div class="small-8 columns">
							<div class="share-input-container">
							<%= f.text_area :tariffs_information, placeholder: "Tariffs Information", label: false  %>
							</div>
						</div><!--/.small-8-->
					</div><!--/.row-->

					<div class="row">
						<div class="small-12 columns">
							<h2 class="share-item-title">Labeling</h2>
						</div><!--/.small-12-->
					</div><!--/.row-->
					<div class="row">
						<div class="small-4 columns text-right">
							<%= f.label :labeling_information %>
						</div><!--/.small-4-->
						<div class="small-8 columns">
							<div class="share-input-container">
							<%= f.text_area :labeling_information, placeholder: "Labeling Information", label: false  %>
							</div>
						</div><!--/.small-8-->
					</div><!--/.row-->

					<div class="row">
						<div class="small-12 columns">
							<h2 class="share-item-title">Customs</h2>
						</div><!--/.small-12-->
					</div><!--/.row-->
					<div class="row">
						<div class="small-4 columns text-right">
							<%= f.label :customs_information %>
						</div><!--/.small-4-->
						<div class="small-8 columns">
							<div class="share-input-container">
							<%= f.text_area :customs_information, placeholder: "Customs Information", label: false  %>
							</div>
						</div><!--/.small-8-->
					</div><!--/.row-->

					<div class="row">
						<div class="small-12 columns">
							<h2 class="share-item-title">Contract Authentication</h2>
						</div><!--/.small-12-->
					</div><!--/.row-->
					<div class="row">
						<div class="small-4 columns text-right">
							<%= f.label :contract_authentication, "Contract Authentication" %>
						</div><!--/.small-4-->
						<div class="small-8 columns">
							<div class="share-input-container">
							<%= f.text_area :contract_authentication, placeholder: "Contract Authentication", label: false  %>
							</div>
						</div><!--/.small-8-->
					</div><!--/.row-->

					<div class="share-form-header">
						<div class="row">
							<div class="small-12 columns">
								<h2>ADDITIONAL CONTACTS</h2>
							</div><!--/.small-12-->
						</div><!--/.row-->
					</div>

					<div class="row">
						<div class="small-12 columns">
							<h2 class="share-item-title">Account Executive</h2>
						</div><!--/.small-12-->
					</div><!--/.row-->
					<div class="row">
						<div class="small-4 columns text-right">
							<%= f.label :account_executive, "Contact Info" %>
						</div><!--/.small-4-->
						<div class="small-8 columns">
							<div class="share-input-container">
								<%= f.text_area :account_executive, placeholder: "Name / Email / Phone / Address", label: false, class: "small"  %>
							</div>
						</div><!--/.small-8-->
					</div><!--/.row-->

					<div class="row">
						<div class="small-12 columns">
							<h2 class="share-item-title">Warehouse Contact</h2>
						</div><!--/.small-12-->
					</div><!--/.row-->
					<div class="row">
						<div class="small-4 columns text-right">
							<%= f.label :warehouse_contact, "Contact Info" %>
						</div><!--/.small-4-->
						<div class="small-8 columns">
							<div class="share-input-container">
								<%= f.text_area :warehouse_contact, placeholder: "Name / Email / Phone / Address", label: false, class: "small"  %>
							</div>
						</div><!--/.small-8-->
					</div><!--/.row-->

					<div class="row">
						<div class="small-12 columns">
							<h2 class="share-item-title">Freight Forwarder</h2>
						</div><!--/.small-12-->
					</div><!--/.row-->
					<div class="row">
						<div class="small-4 columns text-right">
							<%= f.label :freight_forwarder, "Contact Info" %>
						</div><!--/.small-4-->
						<div class="small-8 columns">
							<div class="share-input-container">
								<%= f.text_area :freight_forwarder, placeholder: "Name / Email / Phone / Address".html_safe, label: false, class: "small"  %>
							</div>
						</div><!--/.small-8-->
					</div><!--/.row-->

					<div class="row">
						<div class="small-4 columns">
							&nbsp;
						</div><!--/.small-4-->
						<div class="small-8 columns">
							<div class="row">
								<div class="small-4 columns">
									<%= link_to '#', id: "conversation-action-cancel", class: "button tiny secondary expand" do %>
										Cancel
									<% end %>
								</div><!--/.small-4-->
								<div class="small-8 columns">
									<%= submit_tag "SHARE INFORMATION", class: "button tiny alert expand" %>
								</div><!--/.small-8-->
							</div><!--/.row-->
						</div><!--/.small-8-->
					</div><!--/.row-->

				<% end %>
			</div>
			<% end %>

			<%= render partial:"matches/conversation/preview_termsheet", locals: {profile: profile} %>

			<% if match.brand_shared_prepare && match.distributor_shared_prepare %>
				<%= render partial: "matches/conversation/proceed_stage_initial", locals: {match: match, stage: 'order'} %>
			<% end %>

		<% end %>		
		
		<div class="overlay" id="action-two" style="display: none;">
		</div>
	
	<% end %>
