				<div class="medium-3 columns text-center">
					<div id="conversation-map-contact" class="<%= contact_stage_indicator(match, "contact") %>"><h1><%= link_to '1 : CONTACT', match_stage_view_url(match, 'contact'), style: "color:black;", remote: true %></h1></div>
				</div><!--/.medium-3-->
				<div class="medium-3 columns text-center">
					<div id="conversation-map-propose" class="<%= contact_stage_indicator(match, "propose") %>"><h1><%= link_to '2 : PROPOSE', match_stage_view_url(match, 'propose'), style: "color:black;", remote: true %></h1></div>
				</div><!--/.medium-3-->
				<div class="medium-3 columns text-center">
					<div id="conversation-map-prepare" class="<%= contact_stage_indicator(match, "prepare") %>"><h1><%= link_to '3 : PREPARE', match_stage_view_url(match, 'prepare'), style: "color:black;", remote: true %></h1></div>
				</div><!--/.medium-3-->
				<div class="medium-3 columns text-center">
					<div id="conversation-map-order" class="<%= contact_stage_indicator(match, "order") %>"><h1><%= link_to '4 : ORDER', match_stage_view_url(match, 'order'), style: "color:black;", remote: true %></h1></div>
				</div><!--/.medium-3-->