					<% if match.stage == "propose" %>


						<div class="conversation-help">
							<h4><strong>Propose</strong></h4>
							<p> 
								[Helpful text here]
							</p>
						</div>					

						<% if match && !match.messages.blank? && match.stage == "propose" %>
							<% if @current_user.brand %>
								<% if has_all_docs('propose') %>
									<div class="conversation-action" id="action-one">
										<h4><strong>Would you like to share your <br>PRODUCT &amp; PRICING information with <%= profile.company_name %>?</strong></h4>
										<p>These include the following documents that you have uploaded to your Global Terms &amp; Documents:</p>
										<ul>
											<li>Products List</li>
											<li>FOB Pricing</li>
											<li>Tiered Pricing Schedule</li>
										</ul>
										<p>After sharing, your conversation with <%= profile.company_name %> will proceed to the next stage (PREPARE)</p>

										<%= link_to '#', id: "propose-action-toggle", class: "button tiny alert expand" do %>
											SHARE PRODUCT &amp; PRICING <br> with <%= profile.company_name %>
										<% end %>
										<%#= link_to "SHARE PRODUCT &amp; PRICING <br>information with #{profile.company_name}".html_safe, match_share_url(:sharetype => 'pp', :mid => match.id  ), class: "button tiny alert expand", remote: true %>
									</div>
									<div class="conversation-action" id="action-two" style="display: none;">
										<%= form_tag conversation_share_path, remote: true do %>
											<%= hidden_field_tag :match_id, match.id %>
											<h4><strong>Select which Documents you'd like to share:</strong></h4>
											<ul> 
											<li>Products List: <%= collection_select(:share_list, :products_list, @current_user.brand.library_documents.where(type: "Products List"), :id, :filename) %></li>
											<li>FOB Pricing: <%= collection_select(:share_list, :fob_pricing, @current_user.brand.library_documents.where(type: "FOB Pricing"), :id, :filename) %></li>
											<li>Tiered Pricing Schedule: <%= collection_select(:share_list, :tiered_pricing_schedule, @current_user.brand.library_documents.where(type: "Tiered Pricing Schedule"), :id, :filename) %></li>
											</ul>
											<p>After sharing, your conversation with <%= profile.company_name %> will proceed to the next stage (PREPARE)</p>

											<%= submit_tag "SHARE DOCUMENTS", class: "button tiny alert expand" %>
											<%= link_to '#', id: "propose-action-cancel", class: "button tiny secondary expand" do %>
												Cancel
											<% end %>
										<% end %>
									</div>
								<% else %>
									<div class="conversation-action" id="action-one">
										<h4><strong><i class='fi-alert' style='color: red;'></i> To advance to the next stage of your conversation, you need to share your PRODUCT &amp; PRICING information with <%= profile.company_name %>.</strong></h4>
										<p>Some of your PRODUCT &amp; PRICING information documents have yet to be uploaded to your
											<%= link_to library_documents_path do %>
												Global Terms &amp; Documents
											<% end %>:</p>
										<ul>
											<li>Products List <strong> <%= check_docs('Products List').html_safe %></strong></li>
											<li>FOB Pricing <%= check_docs('FOB Pricing').html_safe %></li>
											<li>Tiered Pricing Schedule <%= check_docs('Tiered Pricing Schedule').html_safe %></li>
										</ul>
										<h4><strong>Pleae upload all of these documents in your 
											<%= link_to library_documents_path do %>
												Global Terms &amp; Documents
											<% end %>
											in order to proceed to the next stage!
										</strong></h4>
									</div>
								<% end %>
							<% elsif @current_user.distributor %>
								<div class="conversation-action" id="action-one">
									<h4><strong>Would you like to share your country’s requirements for this brand and their products?</strong></h4>
									<p>These include:</p>
									<ul> 
										<li>Regulatory Compliance</li>
										<li>Labeling Requirements</li>
										<li>Product Tariffs</li>
									</ul>
									<p>After sharing, your conversation with <%= profile.company_name %> will proceed to the next stage (PREPARE)</p>

									<%= link_to '#', id: "propose-action-toggle", class: "button tiny alert expand" do %>
										SHARE COUNTRY REQUIREMENTS <br> with <%= profile.company_name %>
									<% end %>
								</div>

								<div class="conversation-action" id="action-two" style="display: none;">
									<%= form_tag conversation_share_path, remote: true do %>
										<%= hidden_field_tag :match_id, match.id %>
										<h4><strong>Enter the country requirements you'd like to share:</strong></h4>


										<ul>
										<li>Regulatory Compliance:<%= text_area_tag "share_list[regulatory_compliance]" %></li>
										<li>Labeling Requirements:<%= text_area_tag "share_list[labeling_requirements]" %></li>
										<li>Product Tariffs:<%= text_area_tag "share_list[product_tariffs]" %></li>													 
										</ul>
										<p>After sharing, your conversation with <%= profile.company_name %> will proceed to the next stage (PREPARE)</p>

										<%= submit_tag "SHARE COUNTRY REQUIREMENTS", class: "button tiny alert expand" %>
										<%= link_to '#', id: "propose-action-cancel", class: "button tiny secondary expand" do %>
											Cancel
										<% end %>
									<% end %>
								</div>

							<% end %>

							<% if match.shared_product_pricing && match.shared_country_requirements %>
								<%= link_to "YES, proceed to PREPARE".html_safe, match_stage_url(:stage => 'prepare', :mid => match.id  ), class: "button alert expand", remote: true %>
							<% end %>

						<% end %>

					<% elsif match.stage == "prepare" || match.stage == "order" %>
						<div class="conversation-help">
							<h4><strong>Archived Conversation</strong></h4>
							<p> 
								This is your archived PROPOSE conversation.
							</p>
						</div>
					
					<% else %>

						<div class="conversation-help">
							<h4><strong>Proposing a deal</strong></h4>
							<p> 
								This is where you will begin negotiating a deal...
							</p>
						</div>					

					<% end %>