<div id="v2footer">
	<div class="row">
		<div class="small-12 small-centered columns">
				<div id="inner">
				<div class="row">
					<div class="medium-6 columns">
						<ul>
							<li><%= link_to "About Us", "/pages/about" %></li>
							<li><%= link_to "Terms &amp; conditions".html_safe, "/pages/terms" %></li>
							<li><%= link_to "Privacy Policy", "/pages/privacy" %></li>
							<%#<li>Cookie information</li>%>
							<%#<li>Cookie consent</li>%>
							<li><%= link_to "Contact us", "/pages/contact" %></li>
						</ul>
					</div><!--/.medium-6-->
					<div class="medium-6 medium-text-right columns">
						<div class="show-for-small-only"><br></div>
						<div class="row">
							<div class="small-12 columns">
								<div class="row">
									<div class="small-12 columns">
										<a href="https://twitter.com/landingintl"><%= image_tag 'https://s3.amazonaws.com/landingintl-us/general/twitter.png', width: "48", height: "48", alt: "Twitter"  %></a>
										<a href="https://www.facebook.com/landinginternational"><%= image_tag 'https://s3.amazonaws.com/landingintl-us/general/facebook.png', width: "48", height: "48", alt: "Facebook"  %></a>
										<a href="https://www.linkedin.com/company/landing-international-llc"><%= image_tag 'https://s3.amazonaws.com/landingintl-us/general/linkedin.png', width: "48", height: "48", alt: "LinkedIn" %></a>
									</div><!--/.small-12-->
								</div><!--/.row-->
							</div><!--/.small-12-->
						</div><!--/.row-->
						<div class="row">
							<div class="small-12 columns">
								<span id="copyright">&copy; 2016 Landing International </span>
							</div><!--/.small-12-->
						</div><!--/.row-->
					</div><!--/.medium-6-medium-text-right -->
				</div><!--/.row-->
				</div><!--/#inner-->
		</div><!--/.small-11-small-centered -->
	</div><!--/.row-->
</div><!--/.footer-->

