<%= render partial: "shared/topbar_admin" %>
<div class="admin-container">
<div class="row collapse">
	<div class="small-12 columns">
		<div class="panel">
			<h2>
				<% type = "brands" if @brands %>
				<% type = "distributors" if @distributors %>
				<% type = "retailers" if @retailers %>
				<%= type.capitalize %>
			</h2>
		</div>
	</div>
</div>
<div class="row collapse">
	<div class="small-12 columns">
		<% if type == "retailers" %>
			<% unless @retailers_margin.blank? && @retailers_payment_terms.blank? %>
			<div class="panel" style="background-color: #f2f2f2;">
			<% end %>
			<% unless @retailers_margin.blank? %>
				<h2>Retailers Awaiting Margin Approval</h2>
				<table class="sortable" id="order-index" style="table-layout: fixed;">
					<thead>
						<tr>
							<th>Retailer</th>
							<th>Primary Username</th>
						</tr>
					</thead>
					<tbody>
						<%= render partial: 'b_or_d', collection: @retailers_margin, as: :b_or_d %>
					</tbody>
				</table>
				<%= "<br>".html_safe unless @retailers_payment_terms.blank? %>
			<% end %>
			<% unless @retailers_payment_terms.blank? %>
				<h2>Retailers Awaiting Net Payment Terms Approval</h2>
				<table class="sortable" id="order-index" style="table-layout: fixed;">
					<thead>
						<tr>
							<th>Retailer</th>
							<th>Primary Username</th>
						</tr>
					</thead>
					<tbody>
						<%= render partial: 'b_or_d', collection: @retailers_payment_terms, as: :b_or_d  %>
					</tbody>
				</table>
			<% end %>
			<% unless @retailers_margin.blank? && @retailers_payment_terms.blank? %>
			</div><!--/.panel -->
			<% end %>
		<% end %>

		<% if type == "distributors" %>
			<% unless @distributors_margin.blank? && @distributors_payment_terms.blank? %>
			<div class="panel" style="background-color: #f2f2f2;">
			<% end %>
			<% unless @distributors_margin.blank? %>
				<h2>Distributors Awaiting Margin Approval</h2>
				<table class="sortable" id="order-index" style="table-layout: fixed;">
					<thead>
						<tr>
							<th>Retailer</th>
							<th>Primary Username</th>
						</tr>
					</thead>
					<tbody>
						<%= render partial: 'b_or_d', collection: @distributors_margin, as: :b_or_d %>
					</tbody>
				</table>
				<%= "<br>".html_safe unless @distributors_payment_terms.blank? %>
			<% end %>
			<% unless @distributors_payment_terms.blank? %>
				<h2>Distributors Awaiting Net Payment Terms Approval</h2>
				<table class="sortable" id="order-index" style="table-layout: fixed;">
					<thead>
						<tr>
							<th>Retailer</th>
							<th>Primary Username</th>
						</tr>
					</thead>
					<tbody>
						<%= render partial: 'b_or_d', collection: @distributors_payment_terms, as: :b_or_d %>
					</tbody>
				</table>
			<% end %>
			<% unless @distributors_margin.blank? && @distributors_payment_terms.blank? %>
			</div><!--/.panel -->
			<% end %>
		<% end %>

		<% if type == "brands" %>
		<% if !@brands_awaiting_approval.empty? || !@brands_awaiting_subscription_activation.empty? || !@brands_with_expired_subscription.empty? %>
			<div class="panel" style="background-color: #f2f2f2;">
			<% if !@brands_awaiting_approval.empty? %>
			<h2>BRANDS AWAITING APPROVAL</h2>
				<table class="sortable" id="order-index" style="table-layout: fixed;">
					<thead>
						<tr>
							<th>Brand</th>
							<th>Subscriber Account Number</th>
							<th>Primary Username</th>
						</tr>
					</thead>
					<tbody>
						<%= render partial: 'b_or_d', collection: @brands_awaiting_approval, as: :b_or_d %>
					</tbody>
				</table>
				<%= "<br>".html_safe if !@brands_awaiting_subscription_activation.empty? %>
			<% end %>

			<% if !@brands_awaiting_subscription_activation.empty? %>
			<h2>BRANDS AWAITING SUBSCRIPTION PAYMENT &amp; ACTIVATION</h2>
				<table class="sortable" id="order-index" style="table-layout: fixed;">
					<thead>
						<tr>
							<th>Brand</th>
							<th>Subscriber Account Number</th>
							<th>Primary Username</th>
						</tr>
					</thead>
					<tbody>
						<%= render partial: 'b_or_d', collection: @brands_awaiting_subscription_activation, as: :b_or_d %>
					</tbody>
				</table>
				<%= "<br>".html_safe if !@brands_with_expired_subscription.empty? %>
			<% end %>

			<% if !@brands_with_expired_subscription.empty? %>
			<h2>BRANDS WITH EXPIRED SUBSCRIPTION</h2>
				<table class="sortable" id="order-index" style="table-layout: fixed;">
					<thead>
						<tr>
							<th>Brand</th>
							<th>Subscriber Account Number</th>
							<th>Primary Username</th>
						</tr>
					</thead>
					<tbody>
						<%= render partial: 'b_or_d', collection: @brands_with_expired_subscription, as: :b_or_d %>
					</tbody>
				</table>
			<% end %>

			</div>
		<% end %>			
		<% end %>
		

	</div><!--/.small-12-->
</div><!--/.row-->

<% unless type == "orders" %>
<div class="row collapse">
	<div class="small-12 columns">
		<div class="panel">
			<h2>SEARCH / BROWSE</h2>
			<%= form_tag(eval("admin_#{type}_index_path"), method: "get") do %>
			<div class="row collapse">
			<div class="small-1 columns">
				<span class="prefix"><i class="fi-magnifying-glass"></i></span>
			</div><!--/.small-1-->
			<div class="small-11 columns">
				<%= text_field_tag(:q, "", :placeholder => (type == 'brands' ? 'Search by Company Name or Subscriber Account Number' : 'Search by Company Name'), :value => @query, :style => "margin-bottom: 0;") %>
				<% if @query %>
					<small><%= link_to "BACK TO ALL #{type.upcase} LIST", eval("admin_#{type}_index_path") %></small>
				<% end %>
			</div><!--/.small-11-->

			</div><!--/.row-->
			<% end %>
		</div>
	</div>
</div>
<% end %>

<div class="row collapse">
	<div class="small-12 columns">
		<div class="panel">
			<%= yield %>
		</div>	
	</div><!--/.small-12-->
</div><!--/.row-->
</div>