<%= render partial: "shared/topbar_admin" %>
<div class="admin-container">
<div class="row collapse">
	<div class="small-12 columns">
		<div class="panel">
			<h2>
				<% type = "brands" if @brands %>
				<% type = "distributors" if @distributors %>
				<% type = "retailers" if @retailers %>
				<% type = "orders" if @orders %>
				<%= type.capitalize %>
			</h2>
		</div>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<% if type == "retailers" %>
			<% unless @retailers_margin.blank? && @retailers_payment_terms.blank? %>
			<h1>To Do</h1>
			<% end %>
			<% unless @retailers_margin.blank? %>
				<h3>Retailers Awaiting Margin Approval</h3>
				<%= render partial: 'b_or_d', collection: @retailers_margin, as: :b_or_d, spacer_template: "shared/indexspacer"  %>
			<% end %>
			<% unless @retailers_payment_terms.blank? %>
				<h3>Retailers Awaiting Net Payment Terms Approval</h3>
				<%= render partial: 'b_or_d', collection: @retailers_payment_terms, as: :b_or_d, spacer_template: "shared/indexspacer"  %>
			<% end %>
			<% unless @retailers_margin.blank? && @retailers_payment_terms.blank? %>
			<br><br>
			<% end %>
		<% end %>

		<% if type == "distributors" %>
			<% unless @distributors_margin.blank? && @distributors_payment_terms.blank? %>
			<h1>To Do</h1>
			<% end %>
			<% unless @distributors_margin.blank? %>
				<h3>Distributors Awaiting Margin Approval</h3>
				<%= render partial: 'b_or_d', collection: @distributors_margin, as: :b_or_d, spacer_template: "shared/indexspacer"  %>
			<% end %>
			<% unless @distributors_payment_terms.blank? %>
				<h3>Distributors Awaiting Net Payment Terms Approval</h3>
				<%= render partial: 'b_or_d', collection: @distributors_payment_terms, as: :b_or_d, spacer_template: "shared/indexspacer"  %>
			<% end %>
			<% unless @distributors_margin.blank? && @distributors_payment_terms.blank? %>
			<br><br>
			<% end %>
		<% end %>
	</div><!--/.small-12-->
</div><!--/.row-->

<% unless type == "orders" %>
<div class="row collapse">
	<div class="small-12 columns">
		<div class="panel">
			<%= form_tag(eval("admin_#{type}_index_path"), method: "get") do %>
			<div class="row collapse">
			<div class="small-1 columns">
				<span class="prefix"><i class="fi-magnifying-glass"></i></span>
			</div><!--/.small-1-->
			<div class="small-11 columns">
				<%= text_field_tag(:q, "", :placeholder => 'Search by Company Name', :value => @query, :style => "margin-bottom: 0;") %>
				<% if @query %>
					<small><%= link_to "BACK TO ALL #{type.upcase} LIST", eval("admin_#{type}_index_path") %></small>
				<% end %>
			</div><!--/.small-11-->

			</div><!--/.row-->
			<% end %>
		</div>
	</div>
</div>
<% end %>
<div class="row collapse">
	<div class="small-12 columns">
		<div class="panel">
			<%= yield %>
		</div>	
	</div><!--/.small-12-->
</div><!--/.row-->
</div>