<%= render partial: "shared/topbar_admin" %>
<div class="row collapse">
	<div class="small-12 columns">
		<div class="panel">
			<h2>
				<% type = "brands" if @brands %>
				<% type = "distributors" if @distributors %>
				<% type = "retailers" if @retailers %>
				<% type = "orders" if @orders %>
				<%= type.capitalize %>
			</h2>
		</div>
	</div>
</div>
<% unless type == "orders" %>
<div class="row collapse">
	<div class="small-12 columns">
		<div class="panel">
			<%= form_tag(eval("admin_#{type}_index_path"), method: "get") do %>
			<div class="row collapse">
			<div class="small-1 columns">
				<span class="prefix"><i class="fi-magnifying-glass"></i></span>
			</div><!--/.small-1-->
			<div class="small-11 columns">
				<%= text_field_tag(:q, "", :placeholder => 'Search by Company Name', :value => @query, :style => "margin-bottom: 0;") %>
				<% if @query %>
					<small><%= link_to "BACK TO ALL #{type.upcase} LIST", eval("admin_#{type}_index_path") %></small>
				<% end %>
			</div><!--/.small-11-->

			</div><!--/.row-->
			<% end %>
		</div>
	</div>
</div>
<% end %>
<div class="row collapse">
	<div class="small-12 columns">
		<div class="panel">
			<%= yield %>
		</div>	
	</div><!--/.small-12-->
</div><!--/.row-->
