<table class="sortable" id="order-index">
	<thead>
		<tr>
			<th><%= type.to_s == "brands" ? "Retailer/Distributor" : "Brand" %></th>
			<th>Retailer PO#</th>
			<th>Order Date</th>
			<th>Ship Date</th>
			<th>Cancel Date</th>
			<th>Order Amount</th>
			<th>Additional Charges</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<% if orders.any? %>
			<% orders.each do |o| %>
			<tr>
				<td><%= link_to admin_order_view_url(o) do %><%= type.to_s == "brands" ? o.orderer.company_name : o.brand.company_name %><% end %></td>
				<td><%= link_to admin_order_view_url(o) do %><%= o.orderer_order_reference_id %><% end %></td>
				<td><%= link_to admin_order_view_url(o) do %><%= o.c_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%Y at %R %Z") %><% end %></td>
				<td>
					<% if o.ship_date.present? %>
						<%= link_to admin_order_view_url(o) do %><%= o.ship_date.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%Y at %R %Z") %><% end %>
					<% end %>
				</td>
				<td>
					<% if o.cancel_date.present? %>
						<%= link_to admin_order_view_url(o) do %><%= o.cancel_date.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%Y at %R %Z") %><% end %>
					<% end %>
				</td>
				<td><%= link_to admin_order_view_url(o) do %><%= number_to_currency(o.subtotal_price) %><% end %></td>
				<td><%= link_to admin_order_view_url(o) do %><%= number_to_currency(o.charges_subtotal_price) %><% end %></td>
				<td <%= sortable_status(o.status) %>><%= link_to admin_order_view_url(o) do %><%= o.status.capitalize unless o.status == "open" %><%= o.status == "open" ? "In Cart" : "" %><% end %></td>
			</tr>
			<% end %>
		<% else %>
			<tr><td colspan="4" class="text-center">No Orders</td></tr>
		<% end %>
	</tbody>
</table>
