<%= render partial: "shared/topbar_admin" %>

<% if flash[:notice] %>
<div class="row">
	<div class="small-12 columns panel">
		
				<div data-alert class="alert-box alert round">
			  	<%= flash[:notice] %>
				  <a href="#" class="close">&times;</a>
				</div>
		
	</div>
</div>
<% end %>


<div class="row">
	<div class="small-12 columns">
		<div class="panel">
			<h2>[BRAND] <%= @brand.company_name %></h2>
		</div>
	</div>
</div>


<div class="row">
	<div class="medium-5 columns">
		<div class="panel">
			<h2>Upload Logo</h2>

			<%= form_for @brand, :html => {id: 'b-or-d-admin-update-logo-upload'}, url: brand_admin_update_path(@brand) do |f| %>
				<%= f.label :logo do %>
				Company logo <br>
				<%= image_tag @brand.logo.url(:medium), alt: "Logo", id: "logo-preview"%>
				<% end %>
				<br>
				<%= f.file_field :logo, class: 'hide-upload', label: false, accept: 'image/png,image/gif,image/jpeg' %>

			<% end %>

			<h2>Logo Finding Links</h2>

			<% if !@brand.facebook.blank? %>

				<h3><%= link_to "Facebook", "//#{clean_url(@brand.facebook)}", target: "blank" %></h3>
				<% if facebook_id = fb_picture(@brand.facebook) %>
					<%= image_tag facebook_id %>
					<h4><%= facebook_id %></h4>
				<% end %>

			<% else %>

				<h3> NO Facebook </h3>

			<% end %>


			<h3><%= !@brand.linkedin.blank? ? (link_to "LinkedIn", "//#{clean_url(@brand.linkedin)}", target: "blank") : "NO LinkedIn" %></h3>

			<h3><%= !@brand.website.blank? ? (link_to "Website", "//#{clean_url(@brand.website)}", target: 'blank') : "NO Website" %></h3>

		</div><!--/.panel -->
	</div><!--/.medium-5-->

	<div class="medium-7 columns">

		<div class="row">
			<div class="small-12 columns">
				<div class="panel">
					<h2>Users</h2>
					<small><span data-tooltip aria-haspopup="true" class="has-tip" title="Usernames associated with this account.">What is this?</span></small><br>
					
					<div class="admin-user-list">
						<%= render partial: "/users/user_list", locals: {b_or_d: @brand} %>
					</div>

					<h5>Add User</h5>

					<span class="error-message"><%= flash[:alert] %></span>

					<%= form_for User.new, url: admin_add_user_path(@brand) do |f| %>
					<div class="row">
						<div class="medium-4 columns">
						<%= f.text_field :email, label: false, placeholder: "Email (used as username)"  %>
						</div><!--/.medium-4-->
						<%= fields_for :contact do |ff| %>
						<div class="medium-3 columns">
							<%= ff.text_field :firstname, label: false, placeholder: "First Name" %>
						</div><!--/.medium-4-->
						<div class="medium-3 columns">
							<%= ff.text_field :lastname, label: false, placeholder: "Last Name"  %>
						</div><!--/.medium-4-->
						<div class="medium-2 columns end">
							<%= f.submit "Add", class: "button tiny alert" %>
						</div>
						<% end %>
					</div><!--/.row-->

					<hr>
					<h2>Company Contacts</h2>
					<% @brand.contacts.each do |contact| %>
						<div class="row">
							<div class="small-4 columns">
							<h3><%= contact.email %></h3>
							</div><!--/.small-6-->
							<div class="small-6 columns end">
								<h4><%= contact.firstname %> <%= contact.lastname %></h4>
							</div><!--/.small-6-->
						</div><!--/.row-->
					<% end %>

					<% end %>
				</div>
			</div><!--/.small-12-->
		</div><!--/.row-->

<%= form_for @brand, url: brand_admin_update_path(@brand) do |f| %>
	
		<div class="row">
			<div class="small-12 columns">
				<div class="panel">
					<h2>Subscriber Status</h2>
					<small><span data-tooltip aria-haspopup="true" class="has-tip" title="This controls whether this profile has access to the subscriber functionality.">What is this?</span></small><br>
					<%= f.check_box :subscriber %>
				</div>
				<div class="panel">
					<h2>Active/Visibility Status</h2>
					<small><span data-tooltip aria-haspopup="true" class="has-tip" title="This controls whether this profile is visible/available for matching.">What is this?</span></small><br>
					<%= f.check_box :active %>
				</div>
			</div><!--/.small-12-->	
		</div><!--/.row-->	


	</div><!--/.medium-7-->
</div><!--/.row-->

<div class="row">
	<div class="small-12 columns text-right">
		<div class="panel">
		<%= f.submit 'Update Brand', class: 'button tiny alert' %>
		</div>
	</div><!--/.small-12-->
</div><!--/.row-->

<% end %>

<br>
<br>
