<%= render partial: "shared/topbar_admin" %>

<br>
<div class="row">
	<div class="large-12 columns">
		<ul class="breadcrumbs">
		  <li class="current"><%= link_to "Admin Main Page", "#" %></li>
		</ul>					
	</div>
</div>
<%= render partial: "section", locals: {profile_section: @sector, new_profile_section: @new_sector, profile_section_name: 'Sectors'} %>

<%= render partial: "section", locals: {profile_section: @channel, new_profile_section: @new_channel, profile_section_name: 'Channels'} %>

<%= render partial: "section", locals: {profile_section: @company_size, new_profile_section: @new_company_size, profile_section_name: 'Company Size'} %>

<%#= render partial: "section", locals: {profile_section: @country, new_profile_section: @new_country, profile_section_name: 'Countries'} %>

