<%= render layout: "index_layout" do %>



	<% if !@orders.empty? %>
	<div class="row">
		<div class="small-12 columns">
		<h2>Orders by <%= order_groupname(@group_type) %></h2>
		<%= link_to "by Brand", admin_orders_index_url("b"), class: "landing-button" %>
		<%= link_to "by Retailer", admin_orders_index_url("r"), class: "landing-button" %>
		<%= link_to "by Distributor", admin_orders_index_url("d"), class: "landing-button" %>
		<%= paginate @group %><br>
		<% @group.each do |o| %>
			<h3><%= o.company_name %></h3>
			<% order_groupquery(@orders, @group_type, o).each do |order| %>
				<%= render partial: 'order', locals: { order: order }  %>
			<% end %>
		<% end %>
		</div><!--/.medium-6-->
	</div><!--/.row-->

	<% else %>
		<hr>
		<h3><em>No Orders</em></h3>
	<% end %>

<% end %>
