<%= render partial: "shared/topbar_admin" %>
<div class="admin-container">
	<div class="row">
		<div class="small-12 columns">
			<div class="panel">
				<h2>
					Orders
				</h2>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
		<div class="panel">
			<h3>find orders by</h3>
			<div class="editform">
			<%= form_tag admin_orders_search_url, remote: true do %>
			<table id="order-search">
				<tbody>
					<tr>
						<td><%= text_field_tag 'query_buyers', nil, {id: 'orders-search-input-buyers', placeholder: '(buyer)', class: 'auto-form-text'} %></td>
						<td><%= text_field_tag 'query_brands', nil, {id: 'orders-search-input-brands', placeholder: '(brand)', class: 'auto-form-text'} %></td>
						<td><%= text_field_tag 'query_retailer_po', nil, {id: 'orders-search-input-retailer-po', placeholder: '(retailer po)', class: 'auto-form-text'} %></td>
						<td><%= text_field_tag 'query_landing_id', nil, {id: 'orders-search-input-landing-id', placeholder: '(landing id)', class: 'auto-form-text'} %></td>
						<td colspan=2><%= check_box_tag "show_completed", 1, nil, {class: "auto-form"} %> <%= label_tag "show_completed", "include completed orders" %></td>
						<td colspan=4></td>
					</tr>
				</tbody>
			</table>
			<% end %>
			</div>
			<div id="orders-search-reults">
				<table class="sortable" id="order-index" style="table-layout: fixed; width: 100%;">
					<thead>
						<tr>
							<th>Buyer</th>
							<th>Brand</th>
							<th>Retailer PO#</th>
							<th>Landing Order ID</th>
							<th>Order Date</th>
							<th>Ship Date</th>
							<th>Cancel Date</th>
							<th>Order Amount</th>
							<th>Additional Charges</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan=10 style="text-align: center;"><h2>find orders</h2></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div><!--/.panel-->
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.admin-container-->