<%= render partial: "shared/topbar_admin" %>
<div class="admin-container">
<div class="row">
	<div class="small-12 columns">
		<nav class="breadcrumbs">
			<%= link_to "Orders", admin_orders_index_url("b") %>
		  <a class="current" href="#">
			<strong><%= @order.brand.company_name %></strong> (order from <strong><%= @order.orderer.company_name %></strong>)
		  </a>
		</nav>
	</div>
</div>

<br>

<% if flash[:notice] %>
<div class="row">
	<div class="small-12 columns panel">
		
		<div data-alert class="alert-box alert round">
			<%= flash[:notice] %>
			<a href="#" class="close">&times;</a>
		</div>
		
	</div>
</div>
<% end %>

<div class="row">
	<div class="medium-11 medium-centered columns">
		<div class="panel">
		<h2>
			<strong><%= @order.brand.company_name %></strong> order from <strong><%= @order.orderer.company_name %></strong>
		</h2>
		<h3><%= @order.status.upcase %></h3>
		<%= "<h3>ORDER NOT ARMOR ENABLED</h3>".html_safe if !@order.armor_enabled? %>

		<% if !@order.armor_enabled? %>
			<% if @order.status != "completed" %>
			<%= link_to "Mark Order Complete", complete_order_url(@order,0), class: "landing-button", remote: true %>
			<% end %>
		<% end %>
		<%= (link_to "Delete Order", admin_order_destroy_url(@order,0), class: "landing-button alert", remote: true) if @order.can_be_deleted?  %>
		</div>
	</div>
</div>

	
	<% if @order.status == "approved" %>
		<% if @order.armor_enabled? %>

			<% if false %> <%# hiding section %>		
			<div class="row">
				<div class="medium-11 medium-centered columns">
					<div class="panel">
						<%= link_to "TESTING ONLY: Update to Paid", paid_order_url(@order,0), class: "landing-button", remote: true %>
					</div>
				</div>
			</div>
			<% end %>

		<% elsif @order.is_prepay? %>
			<div class="row">
				<div class="medium-11 medium-centered columns">
					<div class="panel">
						<%= link_to "Update to Paid", paid_order_url(@order,0), class: "landing-button", remote: true %>
						<br>
						<h3><strong><%= @order.brand.company_name %> Payment Info</strong></h3>
						<div class="panel">
							<table class="brand-payment-information">
								<tr><th colspan="2">Bank Information</th></tr>
								<tr><td>Name:</td> <td><%= @order.brand.bank_name %></td></tr>
								<tr><td>Swift Code:</td> <td><%= @order.brand.bank_swift_code %></td></tr>
								<tr><td>City:</td> <td><%= @order.brand.bank_city %></td></tr>
								<tr><td>Country:</td> <td><%= @order.brand.bank_country %></td></tr>
								<tr><td>Account Number:</td> <td><%= @order.brand.bank_account_number %></td></tr>
							</table>
							<table class="brand-payment-information">
								<tr><th colspan="2">Beneficiary Information</th></tr>
								<tr><td>Business Name:</td> <td><%= @order.brand.beneficiary_business_name %></td></tr>
								<tr><td>Name:</td> <td><%= @order.brand.beneficiary_name %></td></tr>
								<tr><td>Address:</td> <td><%= simple_format(@order.brand.beneficiary_address, {}, wrapper_tag: "div") %></td></tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>

	<% if false %> <%# hiding section %>
	<%#if @order.status == "shipped" %>
	<div class="row">
		<div class="medium-11 medium-centered columns">
			<div class="panel">
				<%= link_to "TESTING ONLY: Update to Delivered", delivered_order_url(@order,0), class: "landing-button", remote: true %>
			</div>
		</div>
	</div>
	<% end %>


<% if @order.status == "delivered" %>
<div class="row">
	<div class="medium-11 medium-centered columns">
		<div class="panel">

			<h1><strong>Update Order Fulfillment Status (Optional)</strong></h1>
			<div class="info">
				<h3>Let everyone know where the goods are!  <br>Keep everyone in the loop by updating the current status of the goods below:</h3>
			</div>

			<%= form_for @order, remote: true, authenticity_token: true do |f| %>
			<div class="row">
				<div class="small-12 columns">

			<%= radio_button_tag("order[post_delivery_status]", "", @order.post_delivery_status.blank?, class: "auto-form" ) %>
			<%= label_tag("order[post_delivery_status]_", "(do not display)") %>
			<%= radio_button_tag("order[post_delivery_status]", "warehouse", @order.post_delivery_status == 'warehouse' || !@order.post_delivery_status, class: "auto-form" ) %>
			<%= label_tag("order[post_delivery_status]_warehouse", "At U.S. Warehouse") %>
			<%= radio_button_tag("order[post_delivery_status]", "sent", @order.post_delivery_status == 'sent', class: "auto-form" ) %>
			<%= label_tag("order[post_delivery_status]_sent", "Sent to Retailer") %>
			<%= radio_button_tag("order[post_delivery_status]", "received", @order.post_delivery_status == 'received', class: "auto-form" ) %>
			<%= label_tag("order[post_delivery_status]_received", "Received by Retailer") %>
			<%= radio_button_tag("order[post_delivery_status]", "awaiting", @order.post_delivery_status == 'awaiting', class: "auto-form" ) %>
			<%= label_tag("order[post_delivery_status]_awaiting", "Awaiting Payment") %>
			<%= radio_button_tag("order[post_delivery_status]", "paid", @order.post_delivery_status == 'paid', class: "auto-form" ) %>
			<%= label_tag("order[post_delivery_status]_paid", "Paid by Retailer") %>
				</div>
			</div><!--/.row-->
			<%#= f.submit "Update Shipping Address", class: "landing-button" %>
			<% end %>

		</div>
	</div><!--/.small-12-->
</div><!--/.row-->
<% end %>

<div class="row">
	<div class="medium-11 medium-centered columns">
		<div class="panel">
		<%= render "shared/orders/show" %>
		</div>
	</div><!--/.small-12-->
</div><!--/.row-->

<br><br>

</div>
<div class="printable">
	<%= render partial: "orders/print/header", locals: { order: @order } %>
	<%= render partial: "orders/print/table", locals: { order: @order } %>
	<%= render partial: "orders/print/comments", locals: { order: @order } %>
</div>