<%= render partial: "shared/topbar_admin" %>
<div class="admin-container">
<div class="row">
	<div class="small-12 columns">
		<nav class="breadcrumbs">
			<%= link_to "Orders", admin_orders_index_url("b") %>
		  <a class="current" href="#">
			<strong><%= @order.brand.company_name %></strong> (order from <strong><%= @order.orderer.company_name %></strong>)
		  </a>
		</nav>
	</div>
</div>

<br>

<% if flash[:notice] %>
<div class="row">
	<div class="small-12 columns panel">
		
		<div data-alert class="alert-box alert round">
			<%= flash[:notice] %>
			<a href="#" class="close">&times;</a>
		</div>
		
	</div>
</div>
<% end %>

<div class="row">
	<div class="medium-11 medium-centered columns">
		<div class="panel">
		<h2>
			<strong><%= @order.brand.company_name %></strong> order from <strong><%= @order.orderer.company_name %></strong>
		</h2>
		<h3><%= @order.status.upcase %></h3>
		<%= "<h3>ORDER NOT ARMOR ENABLED</h3>".html_safe if !@order.armor_enabled? %>

		<% if !@order.armor_enabled? %>
			<% if @order.status == "submitted" %>
			<%= link_to "Mark Order Complete", complete_order_url(@order,0), class: "landing-button", remote: true %>
			<% end %>
		<% end %>
		<%= (link_to "Delete Order", admin_order_destroy_url(@order,0), class: "landing-button alert", remote: true) if @order.can_be_deleted?  %>
		</div>
	</div>
</div>


	<% if @order.status == "approved" %>		
		<% if @order.armor_enabled? %>
			<div class="row">
				<div class="medium-11 medium-centered columns">
					<div class="panel">
						<%= link_to "TESTING ONLY: Update to Paid", paid_order_url(@order,0), class: "landing-button", remote: true %>
					</div>
				</div>
			</div>
		<% elsif @order.is_prepay? %>
			<div class="row">
				<div class="medium-11 medium-centered columns">
					<div class="panel">
						<%= link_to "Update to Paid", paid_order_url(@order,0), class: "landing-button", remote: true %>
						<br>
						<h3><strong><%= @order.brand.company_name %> Payment Info</strong></h3>
						<div class="panel">
							<table class="brand-payment-information">
								<tr><th colspan="2">Bank Information</th></tr>
								<tr><td>Name:</td> <td><%= @order.brand.bank_name %></td></tr>
								<tr><td>Swift Code:</td> <td><%= @order.brand.bank_swift_code %></td></tr>
								<tr><td>City:</td> <td><%= @order.brand.bank_city %></td></tr>
								<tr><td>Country:</td> <td><%= @order.brand.bank_country %></td></tr>
								<tr><td>Account Number:</td> <td><%= @order.brand.bank_account_number %></td></tr>
							</table>
							<table class="brand-payment-information">
								<tr><th colspan="2">Beneficiary Information</th></tr>
								<tr><td>Business Name:</td> <td><%= @order.brand.beneficiary_business_name %></td></tr>
								<tr><td>Name:</td> <td><%= @order.brand.beneficiary_name %></td></tr>
								<tr><td>Address:</td> <td><%= simple_format(@order.brand.beneficiary_address, {}, wrapper_tag: "div") %></td></tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>

	<% if @order.status == "shipped" %>
	<div class="row">
		<div class="medium-11 medium-centered columns">
			<div class="panel">
				<%= link_to "TESTING ONLY: Update to Delivered", delivered_order_url(@order,0), class: "landing-button", remote: true %>
			</div>
		</div>
	</div>
	<% end %>


<div class="row">
	<div class="medium-11 medium-centered columns">
		<div class="panel">
		<%= render "shared/orders/show" %>
		</div>
	</div><!--/.small-12-->
</div><!--/.row-->

<br><br>

</div>