<%= render partial: "shared/topbar_admin" %>
<div class="admin-container">
	<div class="row">
		<div class="small-12 columns">
			<div class="panel">
				<h2>
					Orders
				</h2>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
		<ul class="filterlist">
		<li <%= order_index_filterlist_class(@group, "search") %>>
			<%= link_to 'Search', admin_orders_index_url("search") %>
		</li>
		<li <%= order_index_filterlist_class(@group, "brands") %>>
			<%= link_to 'by Brands', admin_orders_index_url("brands") %>
		</li>
		<li <%= order_index_filterlist_class(@group, "buyers") %>>
			<%= link_to 'by Buyers', admin_orders_index_url("buyers") %>
		</li>
		</ul>
		<div class="panel">
			<% case @group 
			when "search" %>
				<%= render partial: "orders_search" %>
			<% when "brands" %>
				<%= render partial: "orders_by_brands" %>
			<% when "buyers" %>
				<%= render partial: "orders_by_buyers" %>
			<% end %>
		</div><!--/.panel-->
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.admin-container-->