<div class="row">
	<div class="small-12 columns">

		<div class="row">
			<div class="medium-8 columns">
				<%= f.text_field :name, label: "Product Name", placeholder: 'Product Name' %>
			</div>
			<div class="medium-4 columns">
				<%= f.text_field :country_of_manufacture, class: "country-autocomplete", label: "Manufactured in", placeholder: 'Country of Manufacture'  %>
			</div>									
		</div>
		<div class="row">
			<div class="medium-4 columns">
				<%= f.label :item_id, "Product ID Number" %>
				<%= f.text_field :item_id, label: false, placeholder: 'Product ID'  %>
			</div><!--/.medium-4-->
			<div class="medium-4 columns">
				<%= f.label :item_size, "Product Size" %>
				<%= f.text_field :item_size, label: false, placeholder: 'Product Size'  %>
			</div><!--/.medium-4-->
			<div class="medium-4 columns">
				<%#= f.label :price, "MSRP" %>
				<%= f.label :price do %>
					MSRP
					<% if defined?(cb) && cb.msrp.present? && !cb.price.present? %>
					<small>[Previous MSRP <%= cb.msrp %>]</small>
					<% end %>
				<% end %>
				<div class="row collapse">
					<div class="small-2 columns">
						<span class="prefix">$</span>
					</div><!--/.small-2-->
					<div class="small-10 columns">
						<% if defined?(cb) && cb.price.present? %>
							<%= f.number_field :price, label: false, step: "any", placeholder: 'MSRP', value: display_price(cb.price)  %>
						<% else %>
							<%= f.number_field :price, label: false, step: "any", placeholder: 'MSRP'  %>
						<% end %>
					</div><!--/.medium-4-->
				</div><!--/.row-->
			</div>
		</div><!--/.row-->
		<div class="row">					
			<div class="medium-6 columns">
				<%= f.text_area :description, label: "Description", placeholder: 'Description' %>
			</div>
			<div class="medium-6 columns">
				<%= f.text_area :key_benefits, label: "Key Benefits", placeholder: 'Key Benefits'  %>
			</div>				
		</div>
		<div class="row">
			<div class="small-12 columns">
				<%= f.text_area :ingredients, label: "Ingredients", placeholder: 'Ingredients' %>
			</div><!--/.small-12-->
		</div><!--/.row-->

	</div><!--/.medium-8-->		
</div><!--/.row-->

