<div class="row">
	<div class="medium-5 columns">
		<% if defined?(cb) %>
			<%= f.text_field :name, label: "Trade Show Name", placeholder: 'Trade Show Name', class: "auto-form-text" %>
		<% else %>
			<%= f.text_field :name, label: "Trade Show Name", placeholder: 'Trade Show Name' %>
		<% end %>
		
	</div>
	<div class="medium-4 columns">
		<% if defined?(cb) %>
			<%= f.date_select :date, { :order => [:month,:year], :start_year => Date.today.year - 10 }, { :class => "auto-form dateselectmonthyear" }%>
		<% else %>
			<%= f.date_select :date, { :order => [:month,:year], :start_year => Date.today.year - 10 }, { :class => "dateselectmonthyear" }%>
		<% end %>
	</div>
	<div class="medium-3 columns">
		<% if defined?(cb) %>
			<%= f.text_field :country, class: "country-autocomplete-auto", label: "Country", placeholder: 'Country' %>
		<% else %>
			<%= f.text_field :country, class: "country-autocomplete", label: "Country", placeholder: 'Country' %>
		<% end %>
		
	</div>
</div>
<div class="row">
	<div class="medium-3 columns">
		<div class="row collapse">
			<%= label_tag(:years_participated, "Participant for") %>
			<div class="small-8 columns">
				<% if defined?(cb) %>
					<%= f.text_field :years_participated, label: false, placeholder: '#', class: "auto-form-text" %>
				<% else %>
					<%= f.text_field :years_participated, label: false, placeholder: '#' %>		
				<% end %>
				
			</div><!--/.small-8-->
			<div class="small-4 columns">
				<span class="postfix">years</span>
			</div><!--/.small-4-->
		</div><!--/.row-->
	</div>
	<div class="medium-9 columns">
		<div class="row collapse">
			<%= label_tag(:website, "Website") %>
			<div class="small-2 columns">
				<span class="prefix">http://</span>
			</div>
			<div class="small-10 columns">
				<% if defined?(cb) %>
					<%= f.text_field :website, label: false, class: "auto-form-text" %>
				<% else %>
					<%= f.text_field :website, label: false %>
				<% end %>
				
			</div>
		</div>

	</div>
</div>