

<div id="front-logo">
	<%= link_to root_url do %><h4 style="color:white;"><%= image_tag '/images/landing_page_LOGO.svg', class: "shadow", width: 50  %> go back</h4><% end %>
</div>

<div class="front-top-panel">
	<div class="row">
		<div class="small-12 columns">
			<br><br><br>
			<div class="text-center"><h1 class="shadow" style="color:white;">WELCOME 欢迎 환영 <br>BEM-VINDO स्वागत ДОБРО ПОЖАЛОВАТЬ</h1></div>
		</div><!--/.small-8 small-centered-->
	</div><!--/.row-->
	<div class="row" data-equalizer>
		<div class="small-10 medium-5 small-centered columns">
			<div class="ldpanel">

			  <div class="row">
					<div class="small-12 columns">
						<h2><img src="/images/li_blue_round.png" width="50" height="50" alt="Landing International" /> Log In </h2>
					</div>
				</div>

				<div class="row">
					<div class="small-12 columns">
						<div class="errornotice <%= flash[:notice] ? "error-on" : "" %>">
							<%= flash[:notice] ? flash[:notice].html_safe : "&nbsp;".html_safe %>
						</div>
					</div>
				</div>

				<%= form_tag '/login', method: 'post', id: "loginform" do %>
			  <div class="row">
					<div class="small-12 columns">
						<%= email_field_tag :email, '', placeholder: 'EMAIL'%>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<%= password_field_tag :password, '', placeholder: 'PASSWORD' %>
					</div>
				</div>
				<div class="row">
					<div class="medium-8 columns">
						<div class="row">
							<div class="small-1 columns">
								<%= check_box_tag :keep_me_logged_in %>
							</div>
							<div class="small-11 columns">
								<%= label_tag :keep_me_logged_in, 'KEEP ME LOGGED IN' %>
							</div>
						</div>
					</div>
					<div class="medium-4 columns text-right">
						<%= submit_tag "LOGIN", class: "alert button", id: "submit-login", style: "padding:0;" %>
						<%#= link_to 'LOGIN', "#", :onclick => "$('#loginform').submit()".html_safe, class: "alert button expand" %>
					</div>
				</div>
				<% end %>

				<div class="row">
					<div class="medium-6 medium-centered columns text-center">
						<small><%= link_to "forgot password?", new_password_reset_path %></small>
					</div>
				</div>
			</div>
			
			<div class="row">
			<div class="small-12 columns">
				<div class="text-center">
				<%= link_to root_url(:anchor => "2") do %><h2 style="color:white;" class="shadow-text">not yet a member? <br><strong> JOIN US </strong></h2><% end %>
				</div>
			</div><!--/.small-12-->	
			</div><!--/.row-->
			


		</div><!--/.medium-5 columns -->

	</div><!-- /.row -->

</div>

