<%= render partial: 'shared/v2/header/main' %>
<%= render "newuser" if flash[:newuser_modal] %>

<div class="front-top-panel">
	<div class="row">
		<div class="small-12 columns">
			<div class="text-center new-user-intro" style="margin-top: 1em;"><h1>WELCOME</h1></div>
		</div><!--/.small-8 small-centered-->
	</div><!--/.row-->
	<div class="row">
		<div class="small-10 medium-5 small-centered columns">
			<% if flash[:newuser] %>
			<div class="ldpanel" style="background: #f2f2f2">
				<%= flash[:newuser].html_safe %>
			</div>
			<% end %>

			<div class="ldpanel">
			  <div class="row">
					<div class="small-12 columns">
						<h2>Sign In </h2>
					</div>
				</div>

				<%= render "login_form" %>

			</div>
			

			<div class="row">
			<div class="small-12 columns">
				<div class="ldpanel">
				<div class="text-center">
					<h2>
					<%#= link_to "JOIN", new_user_url, class: "action-link", remote: true %>
						<%= link_to new_user_url, style: "color: black;", remote: true do %>not yet a member? <br><strong> JOIN US </strong><% end %>
					</h2>
				</div>
				</div>
			</div><!--/.small-12-->	
			</div><!--/.row-->
			


		</div><!--/.medium-5 columns -->

	</div><!-- /.row -->

</div>

<%= render partial: 'shared/v2/footer/main' %>