<%= render partial: 'shared/v2/header/main' %>
<%= render "newuser" if flash[:success] %>

<div class="front-top-panel">
	<div class="row">
		<div class="small-12 columns text-center">
			<br><br>
			<%= link_to root_url do %><%= image_tag 'https://s3.amazonaws.com/landingintl-us/general/landing-logo.png', width: "100", alt: "Landing International" %><% end %>
		</div><!--/.small-12-->
		<div class="small-12 columns">
			<div class="text-center"><h1>환영<br>WELCOME</h1></div>
		</div><!--/.small-8 small-centered-->
	</div><!--/.row-->
	<div class="row">
		<div class="small-10 medium-5 small-centered columns">
			<div class="ldpanel">
			  <div class="row">
					<div class="small-12 columns">
						<h2>Log In </h2>
					</div>
				</div>

				<%= render "login_form" %>

			</div>
			
			<div class="row">
			<div class="small-12 columns">
				<div class="text-center">
				<%= link_to new_user_url do %><h2>not yet a member? <br><strong> JOIN US </strong></h2><% end %>
				</div>
			</div><!--/.small-12-->	
			</div><!--/.row-->
			


		</div><!--/.medium-5 columns -->

	</div><!-- /.row -->

</div>

<%= render partial: 'shared/v2/footer/main' %>