
<table class="contacts-table hide-for-small-only">
	<thead>
		<tr>
			<th>USERNAME</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Title</th>
			<th>Phone</th>
		</tr>
	</thead>
	<tbody>
		<% b_or_d.users.each do |user| %>
		<tr>
			<td>
				<%= user.email.blank? ? "(no email)" : "#{user.email}".html_safe %>
				<% if @current_user.administrator? %>
				<%= link_to 'edit', edit_user_path(user), class: "itemformlink" %>
				<% if b_or_d.users.count > 1 %>
				<%= link_to 'delete', admin_delete_user_path(user), :method => 'delete', data: { :confirm => 'Are you sure you want to delete this user?'}, class: "itemformlink"  %>
				<% end %>
				<% end %>
			</td>
			<td>
				<%= user.contact.firstname.blank? ? "(nameless)" : "#{user.contact.firstname}".html_safe %>
			</td>
			<td>
				<%= user.contact.lastname.blank? ? "(nameless)" : "#{user.contact.lastname}".html_safe %>
			</td>
			<td>
				<%= user.contact.title.blank? ? "(no title)" : "#{user.contact.title}".html_safe %>
			</td>
			<td>
				<%= user.contact.phone.blank? ? "(no phone)" : "#{user.contact.phone.phony_formatted(format: :international, spaces: '-')}<br>".html_safe %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<div class="row show-for-small-only">
	<% b_or_d.users.each do |user| %>
		<div class="small-12 columns">
			<h2><small>USERNAME</small><br>
			<%= user.email.blank? ? "(no email)" : "#{user.email}".html_safe %>
			<% if @current_user.administrator? %>
			<%= link_to 'edit', edit_user_path(user), class: "itemformlink" %>
			<% if b_or_d.users.count > 1 %>
			<%= link_to 'delete', admin_delete_user_path(user), :method => 'delete', data: { :confirm => 'Are you sure you want to delete this user?'}, class: "itemformlink"  %>
			<% end %>
			<% end %>
			</h2>
		</div>
		<div class="small-6 columns">
			<h2><small>First Name</small><br>
			<%= user.contact.firstname.blank? ? "(nameless)" : "#{user.contact.firstname}".html_safe %>
			</h2>
		</div><!--/.small-6-->
		<div class="small-6 columns">
			<h2><small>Last Name</small><br>
			<%= user.contact.lastname.blank? ? "(nameless)" : "#{user.contact.lastname}".html_safe %>
			</h2>
		</div><!--/.small-6-->
		<div class="small-12 columns">
			<h2><small>Title</small><br>
			<%= user.contact.title.blank? ? "(no title)" : "#{user.contact.title}".html_safe %>
			</h2>
		</div><!--/.small-12-->
		<div class="small-12 columns">
			<h2><small>Phone</small><br>
			<%= user.contact.phone.blank? ? "(no phone)" : "#{user.contact.phone.phony_formatted(format: :international, spaces: '-')}<br>".html_safe %>
			<h2>
			<hr>
		</div><!--/.small-12-->
		
	<% end %>
</div><!--/.row-->
