<%= render partial: "shared/topbar_admin" %>


<% content_for :subnav do %>

<div class="row">
	<div class="small-12 columns">
		<ul class="breadcrumbs">
		  <li><%= link_to "All Users", users_url %></li>
		  <li class="current"><%= link_to "#" do %> Edit User - <strong><%=@user.email%></strong> <% end %></li>
		</ul>					
	</div>
</div>

<% end %>


<div class="row">
	<div class="medium-6 columns">

		<div class="row">
			<div class="small-12 columns">
				<div class="panel">
					<% if @user.administrator %>
						<h3>User is an <strong>administrator</strong></h3>
					<% else %>
						<h3>User associated with <strong><%= link_to @user.send(@user.type?).company_name, eval("admin_#{@user.type?}_view_path(@user.send(@user.type?))") %></strong></h3>
					<% end %>
				</div>
			</div><!--/.small-12-->
		</div><!--/.row-->

		<% if flash[:notice] %>
			<div class="row">
				<div class="small-12 columns">
					<div data-alert class="alert-box warning">
						<%= flash[:notice] %>
						<a href="#" class="close">&times;</a>
					</div>
				</div>
			</div>
		<% end %>

		<div class="row">
			
			<div class="small-12 columns">
				<div class="panel">
				<h2>Change Contact Information</h2>
					<%= form_for @user, url: user_path(@user) do |f| %>
						<%= hidden_field_tag 'update_type', 'admin' %>
						<%= f.fields_for :contact do |ff| %>
						<div class="row">
							<div class="medium-6 columns">
								<%= ff.text_field :firstname, label: "First Name" %>
							</div><!--/.small-6-->
							<div class="medium-6 columns">
								<%= ff.text_field :lastname, label: "Last Name" %>
							</div><!--/.small-6-->
						</div><!--/.row-->
						<div class="row">
							<div class="medium-4 columns">
								<%= ff.text_field :title, label: "Title" %>
							</div><!--/.medium-4-->
							<div class="medium-4 columns">
								<%= ff.text_field :email, label: "Email" %>
							</div><!--/.medium-4-->
							<div class="medium-4 columns">
								<%= ff.text_field :phone, label: "Phone" %>
							</div><!--/.medium-4-->
						</div><!--/.row-->
						<% end %>
						<%= link_to 'Cancel', users_path, class: "tiny radius secondary button"  %> <%= f.submit 'Update Contact Information', class: "tiny radius alert button" %>
					<% end %>
				</div>
			</div>

		</div>

		<div class="row">
			
			<div class="small-12 columns">
				<div class="panel">
				<h2>Change email (username)</h2>
					<%= form_for @user, url: user_path(@user) do |f| %>
						<%= hidden_field_tag 'update_type', 'email' %>
						<%= f.text_field :email %>
						<%= link_to 'Cancel', users_path, class: "tiny radius secondary button"  %> <%= f.submit 'Change Email', class: "tiny radius alert button" %>
					<% end %>
				</div>
			</div>
				
		</div>

		<div class="row">

			<div class="small-12 columns">
				<div class="panel">
				<h2>Change password</h2>
					<%= form_for @user, url: user_path(@user) do |f| %>
						<%= hidden_field_tag 'update_type', 'password' %>
						<%= f.password_field :new_password %>
						<%= f.password_field :new_password_confirmation %>
						<%= link_to 'Cancel', users_path, class: "tiny radius secondary button"  %> <%= f.submit 'Change Password', class: "tiny radius alert button" %>
					<% end %>
				</div>
			</div>

		</div>




	</div><!--/.medium-6-->
	<div class="medium-6 columns">

	</div><!--/.medium-6-->	
</div><!--/.row-->

<br>
<br>
