<%= render partial: "shared/topbar_admin" %>
<div class="admin-container">

<div class="row">
	<div class="small-12 columns">
		<h1>Users</h1>
	</div><!--/.small-12-->
</div><!--/.row-->

<% if flash[:notice] %>
<div class="row">
	<div class="small-12 columns">
		<div data-alert class="alert-box success round">
	  	<%= flash[:notice] %>
		  <a href="#" class="close">&times;</a>
		</div>		
	</div>
</div>
<% end %>

<div class="row">
	<div class="small-10 small-centered columns panel">
		<%= form_tag(users_url, method: 'get') do %>
			<div class="row">
				<div class="medium-6 columns">
					<h3><strong>Users</strong></h3>		
				</div><!--/.medium-6-->
				<div class="medium-6 columns">

					<div class="row collapse">
						<div class="small-2 columns">
							<span class="prefix"><i class="fi-magnifying-glass"></i></span>
						</div><!--/.small-2-->
						<div class="small-10 columns">
							<%= text_field_tag('search_users', "", {:placeholder => 'SEARCH', style: 'margin-bottom: 0;'}) %>
							<h3><small><%= @active_search == 'true' ? (link_to 'Back to All Users', users_path) : ''%></small></h3>
						</div><!--/.small-10-->
					</div>

				</div><!--/.medium-6-->
			</div><!--/.row-->
		<% end %>
		<% if !@users.empty? %>
		<%= paginate @users, :param_name => :page_users %>
		<hr>
		<%= render partial: @users.sort_by { |b| b.email }, spacer_template: "shared/indexspacer" %>
		<% else %>
		<hr>
		<h3><em>No Users</em></h3>
		<% end %>				
	</div>
</div>


</div>