<%= render partial: 'shared/v2/header/main' %>
<br><br>
<div class="front-top-panel">
	<div class="row">
		<div class="medium-4 columns">

			<div class="row">
				<div class="small-12 columns text-center">
					<br>
					<h1>환영<br>WELCOME</h1>
					<h3>Create a FREE account</h3>
				</div><!--/.small-8 small-centered-->
			</div><!--/.row-->

		</div><!--/.medium-4-->
		<div class="medium-8 columns">
			
			<div class="row">
				<div class="small-10 small-centered columns">
					<div class="ldpanel" id="sign-up">
						<h2>Join Us</h2>
						<div class="row">
							<div class="medium-12 columns text-right">
								
								<%= form_for @newuser, url: users_path do |f| %>
								<div class="row" style="margin-bottom: 1em;">
									<div class="medium-12 columns" id="type-selector">
											<%= radio_button_tag(:user_type, "brand", @user_type == 'brand' || !@user_type ) %>
											<%= label_tag(:user_type_brand, "as a Brand") %>
											<%= radio_button_tag(:user_type, "retailer", @user_type == 'retailer' ) %>
											<%= label_tag(:user_type_retailer, "as a Retailer") %>
											<%= radio_button_tag(:user_type, "distributor", @user_type == 'distributor' ) %>
											<%= label_tag(:user_type_distributor, "as a Distributor") %>
									</div>
								</div>
								<div class="errornotice <%= flash[:error] ? "error-on" : "" %>"><%= flash[:error] ? flash[:error].upcase.html_safe : "&nbsp;".html_safe %></div>
								<div class="row collapse">
									<%= f.fields_for :contact do |ff| %>
									<div class="medium-6 columns">
										<%= ff.text_field :firstname, :placeholder => 'FIRST NAME', :value => @user_firstname, :label => false  %>
									</div>
									<div class="medium-6 columns">
										<%= ff.text_field :lastname, :placeholder => 'LAST NAME', :value => @user_lastname, :label => false  %>
									</div>
									<% end %>
								
									<div class="medium-12 columns">
									<%= f.text_field :email, :placeholder => 'EMAIL (will be used as your login)', :value => @user_email, :label => false %>
									</div>
									<div class="medium-12 columns">
									<%= f.password_field :password, :placeholder => 'PASSWORD', :label => false %>
									</div>
									<div class="medium-12 columns">
									<%= f.password_field :password_confirmation, :placeholder => 'PASSWORD (repeat)', :label => false %>
									</div>
									<div class="medium-12 columns">
										<br>
										<a href="#" data-reveal-id="newUserConfirm" class="button small" id="new-user-submit-link">JOIN!</a>
									
									</div>
								</div>
								
								
								<div id="newUserConfirm" class="reveal-modal small" data-reveal>
								  <h2><strong>You are signing up as a <span id="user-type" style="text-transform: uppercase;">brand</span>.</strong> <br> Is this correct?</h2>
								  <a class="close-reveal-modal">x</a>
								  <div class="text-right">
								  <%= link_to 'Yes', '#', class: "button tiny radius", id: "new-user-submit"%>
								  <%= link_to 'No! I made a mistake!', '#', class: "button tiny radius", id: "new-user-decline"%>
									</div>
								</div>
								<% end %>


							</div>
						</div>
					</div>
				</div><!--/.medium-5 columns -->
			</div><!-- /.row -->


		</div><!--/.medium-8-->
	</div><!--/.row-->
</div> <!--/.front-top-panel -->

<% content_for :javascript_foot do %>
	<%= javascript_tag do %>

	
		$( document ).ready(function() {
			var selectedVal = "";
			var selected = $("#type-selector input[type='radio']:checked");
			if (selected.length > 0) {
			    selectedVal = selected.val();
			    $('#user-type').html(selectedVal);
			}
		});
		$('#new-user-submit').on('click', function(e) {
			e.preventDefault();
			$('#new_user').submit();
			$('#newUserConfirm').foundation('reveal', 'close');
		});
		$('#new-user-decline').on('click', function(e) {
			e.preventDefault();
			$('#newUserConfirm').foundation('reveal', 'close');
		});
		$('input[name="user_type"]').on('change', function(e) {
			$('#user-type').html($(this).val());
		});


	<% end %>
<% end %>
