
<div class="row collapse">
  <div class="small-12 columns library-document-upload">
    <% id_ified = doc_type.downcase.gsub(/\s/, "-") %>
    <%= form_for(LibraryDocument.new, html: {id: "library-#{id_ified}-form"}) do |f| %>
      <%= hidden_field_tag "document_type", doc_type %>

          <%= label_tag "library-#{id_ified}-input"  do %>
        <div class="row">
          <div class="small-3 small-centered columns">
            <%= image_tag '/images/image_add.svg' %>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns text-center">
            <small>Upload a Document</small>
          </div><!--/.small-12-->
        </div><!--/.row-->
            

          <% end %>
          <%= f.file_field :file, class: 'hide-upload', id: "library-#{id_ified}-input", label: false, accept: 'application/pdf,application/vnd.ms-excel,application/vnd.ms-powerpoint,application/msword,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.presentationml.slideshow,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.wordprocessingml.document' %>
    <% end %>

  </div>
</div>