<%= render partial: "shared/topbar" %>

<div class="row collapse">
  <div class="small-12 columns marketplace-header">
    <%= image_tag "logo_header_marketplace.svg" %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns marketplace-subpage-header">
    <div class="small-12 columns" id="your-profile-header">
      <h1>YOUR GLOBAL TERMS &amp; DOCUMENTS</h1>
      <h3>Your Documents and Contract Terms</h3>     
    </div><!--/.small-12-->   
  </div>
</div>


<% if flash[:error] %>
  <%= flash[:error] %> <br>
<% end %>


<div class="row collapse">
  <div class="small-12 columns" id="page-content">

<% if @current_user.subscriber? %>

  <% if @current_user.brand %>
  <div class="row collapse">
   <div class="small-12 columns">
    <div class="library-document-header">
      <div class="row">
        <div class="small-12 columns">
          <h2>Products List </h2>
        </div><!--/.small-12-->
      </div><!--/.row-->
    </div><!--/.library-document-header-->
   </div><!--/.small-12-->
  </div><!--/.row-->
  <div class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-3">
        <%= render  @documents_products_list %>
        <li><%= render partial: "upload_form", locals: {doc_type: "Products List"} %></li>
      </ul>    
    </div><!--/.small-12-->
  </div><!--/.row-->

  <div class="row collapse">
   <div class="small-12 columns">
    <div class="library-document-header">
      <div class="row">
        <div class="small-12 columns">
          <h2>FOB Pricing </h2>
        </div><!--/.small-12-->
      </div><!--/.row-->
    </div><!--/.library-document-header-->
   </div><!--/.small-12-->
  </div><!--/.row-->
  <div class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-3" data-equalizer>
        <%= render  @documents_fob_pricing %>
        <li><%= render partial: "upload_form", locals: {doc_type: "FOB Pricing"} %></li>
      </ul>    
    </div><!--/.small-12-->
  </div><!--/.row-->

  <div class="row collapse">
   <div class="small-12 columns">
    <div class="library-document-header">
      <div class="row">
        <div class="small-12 columns">
          <h2>Tiered Pricing Schedule </h2>
        </div><!--/.small-12-->
      </div><!--/.row-->
    </div><!--/.library-document-header-->
   </div><!--/.small-12-->
  </div><!--/.row-->
  <div class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-3" data-equalizer>
        <%= render  @documents_tiered_pricing_schedule %>
        <li><%= render partial: "upload_form", locals: {doc_type: "Tiered Pricing Schedule"} %></li>
      </ul>    
    </div><!--/.small-12-->
  </div><!--/.row-->


  <div class="row collapse">
   <div class="small-12 columns">
    <div class="library-document-header">
      <div class="row">
        <div class="small-12 columns">
          <h2>Certification Information </h2>
        </div><!--/.small-12-->
      </div><!--/.row-->
    </div><!--/.library-document-header-->
   </div><!--/.small-12-->
  </div><!--/.row-->
  <div class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-3" data-equalizer>
        <%= render  @documents_certification_information %>
        <li><%= render partial: "upload_form", locals: {doc_type: "Certification Information"} %></li>
      </ul>    
    </div><!--/.small-12-->
  </div><!--/.row-->

  <div class="row collapse">
   <div class="small-12 columns">
    <div class="library-document-header">
      <div class="row">
        <div class="small-12 columns">
          <h2>Patent Information </h2>
        </div><!--/.small-12-->
      </div><!--/.row-->
    </div><!--/.library-document-header-->
   </div><!--/.small-12-->
  </div><!--/.row-->
  <div class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-3" data-equalizer>
        <%= render  @documents_patent_information %>
        <li><%= render partial: "upload_form", locals: {doc_type: "Patent Information"} %></li>
      </ul>    
    </div><!--/.small-12-->
  </div><!--/.row-->

  <div class="row collapse">
   <div class="small-12 columns">
    <div class="library-document-header">
      <div class="row">
        <div class="small-12 columns">
          <h2>Testing Information </h2>
        </div><!--/.small-12-->
      </div><!--/.row-->
    </div><!--/.library-document-header-->
   </div><!--/.small-12-->
  </div><!--/.row-->
  <div class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-3" data-equalizer>
        <%= render  @documents_testing_information %>
        <li><%= render partial: "upload_form", locals: {doc_type: "Testing Information"} %></li>
      </ul>    
    </div><!--/.small-12-->
  </div><!--/.row-->

  <div class="row collapse">
   <div class="small-12 columns">
    <div class="library-document-header">
      <div class="row">
        <div class="small-12 columns">
          <h2>Ingredient or Materials List </h2>
        </div><!--/.small-12-->
      </div><!--/.row-->
    </div><!--/.library-document-header-->
   </div><!--/.small-12-->
  </div><!--/.row-->
  <div class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-3" data-equalizer>
        <%= render  @documents_ingredient_or_materials_list %>
        <li><%= render partial: "upload_form", locals: {doc_type: "Ingredient or Materials List"} %></li>
      </ul>    
    </div><!--/.small-12-->
  </div><!--/.row-->


  <% elsif @current_user.distributor %>





  <% end %>

<% else %>
<div class="row">
  <div class="small-11 small-centered text-center columns">
    <h1>Available to subscribers only</h1>
  </div><!--/.small-11 small-centered text-center-->
</div><!--/.row-->
<% end %>


  </div>
</div>

