<%= render partial: "shared/topbar" %>

<div class="row collapse">
  <div class="small-12 columns marketplace-header">
    <%= image_tag "logo_header_marketplace.svg" %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns marketplace-subpage-header">
    <div class="small-12 columns" id="your-profile-header">
      <h1>YOUR GLOBAL TERMS &amp; DOCUMENTS</h1>
      <h3>Upload Documents</h3>     
    </div><!--/.small-12-->   
  </div>
</div>


<% if flash[:error] %>
  <%= flash[:error] %> <br>
<% end %>


<div class="row collapse">
  <div class="small-12 columns" id="page-content">

<% if @current_user.subscriber? %>

<div class="row">
	<div class="medium-4 columns">

    <div class="text-center"><h2>Products List </h2></div>
    <%= render  @documents_products_list %>
    <br>
    <%= render partial: "upload_form", locals: {doc_type: "Products List"} %>

	</div>
  <div class="medium-4 columns">

    <div class="text-center"><h2>FOB Pricing</h2></div>

    <%= render @documents_fob_pricing %>
    <br>
    <%= render partial: "upload_form", locals: {doc_type: "FOB Pricing"} %>

  </div>
  <div class="medium-4 columns">

    <div class="text-center"><h2>Tiered Pricing Schedule</h2></div>
    <%= render @documents_tiered_pricing_schedule %>
    <br>
    <%= render partial: "upload_form", locals: {doc_type: "Tiered Pricing Schedule"} %>

  </div>
</div>

<% else %>
<div class="row">
  <div class="small-11 small-centered text-center columns">
    <h1>Available to subscribers only</h1>
  </div><!--/.small-11 small-centered text-center-->
</div><!--/.row-->
<% end %>


  </div>
</div>

