<br>
<a class="anchor" id="a-locations-brands"></a>
<div class="row">
	<%= form_for @retailer, url: retailer_url do |f| %>
	<%= hidden_field_tag "redirect_anchor", "a-locations-brands" %>
		<div class="small-6 columns">
			<%= f.label :number_of_locations, "Number of Locations" %>		
			<%= f.number_field :number_of_locations, min: 0, label: false %>		
		</div><!--/.small-6-->
		<div class="small-6 columns">
			<%= f.label :number_of_brands_sold, "Number of Brands Sold" %>
			<%= f.number_field :number_of_brands_sold, min: 0, label: false %>					
		</div><!--/.small-6-->
		<div class="small-12 columns">
			<%= f.submit 'Update Locations & Brands', class: "landing-button right" %>
		</div><!--/.small-12-->
	<% end %>
</div>