<%= render partial: "shared/topbar" %>
<%= render "newuser" if flash[:newuser] %>


<div class="row">
	<div class="small-12 columns marketplace-subpage-header">
		<div class="medium-6 columns" id="your-profile-header">
			<h1>YOUR PROFILE</h1>
			<h3>Preview &amp; Edit your marketplace profile.</h3>			
		</div><!--/.medium-6-->		
		<div class="medium-6 columns">
			<div class="row">
				<div class="small-6 columns">
					<h2>Edit Profile</h2>
					<small><span data-tooltip aria-haspopup="true" class="has-tip radius" title="Complete your retailer profile so your potential brand partners can learn about you and be better matched to your brand assortment and customer base.">What is this?</span></small>							
				</div>
				<div class="small-6 columns">
				</div>		
			</div>
		</div><!--/.medium-6-->
	</div>
</div>

<div class="row collapse">
	<div class="small-12 columns marketplace-content">

		<div class="row collapse">
			<div class="medium-6 push-6 columns">
				<ul class="button-group even-3">
			  <li><%= link_to 'PUBLIC Profile', retailer_public_profile_url, class: "tiny button secondary" %></li>
			  <li><%= link_to 'FULL Profile', retailer_full_profile_url, class: "tiny button secondary" %></li>
			  <li><%= link_to 'EDIT Profile', "#", class: "tiny button info"%></li>
			  </ul>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<div class="row">
						<div class="small-12 columns">
							<br>
							<h3>Please complete your retailer profile so your potential partners can learn about you and be better matched to your customer base</h3>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-4 columns medium-text-right">
				<div class="profile-edit-form info-panel">
				<h1>Company Info</h1>
				<h3>This is your general company info. You won't be able to order any products unless you have a Company Name &amp; Address!</h3>
				</div>
			</div><!--/.medium-4-->
			<div class="medium-8 columns">
				<div class="profile-edit-form">
					<%= render "company_info" %>
				</div>
			</div>
		</div><!-- /.row -->
		
		<div class="row">
			<div class="medium-4 columns medium-text-right">
				<div class="profile-edit-form info-panel">
				<h1>Your Login Info</h1>
				<h3>This is your login/contact info. You won't be able to order any products unless you have a first name, last name &amp; phone number!</h3>
				</div>
			</div><!--/.medium-4-->
			<div class="medium-8 columns">
				<div class="profile-edit-form">
					<%= render "account_logins" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-4 columns medium-text-right">
				<div class="profile-edit-form info-panel">
					<h1>Ordering &amp; Payments</h1>
					<h3>Landing International has partnered with <%= link_to "Armor Payments, a Payoneer Company", "//armorpayments.com", target: "_blank" %> to provide payment escrow services for B2B eCommerce giving you peace of mind with secure transactions.</h3>
					<h3>
						Payment transactions on Landing Interational will take place via Armor Paymets (a Payoneer company) payment escrow service. 
					</h3>
					<% unless @retailer.armor_account_id || @retailer.disable_armor_payments %>
						<h3><strong>In order to participate please follow the instructions to enable your account with Armor Payments (Payoneer).</strong></h3>
					<% end %>

					<% unless @current_user.company.class.to_s == "Brand" || @current_user.company.armor_account_id.present? %>
						<h4 style="border-top: 1px solid #B3B3B3; border-bottom: 1px solid #B3B3B3;padding-bottom: 0;margin-top: 1em; margin-bottom: 1em;">OR</h4>
							<h3>To Use Other Payment Methods:</h3>
							<h3>
								<strong>If you'd like to use other methods of payment (e.g. Net Terms), you can turn the system off.</strong>
							</h3>
							<div class="panel text-center" style="background-color: #f2f2f2;">
									<h3 >ARMOR PAYMENTS is:</h3>
									<%= form_for @current_user.company, :html => {id: 'disableArmorForm'}, remote: true do |f| %>
										<div class="switch" style="margin-bottom:0;">
											<%= f.check_box('disable_armor_payments', id: 'disableArmor', label: false) %>
											<label for="disableArmor">
												<span class="switch-on" style="color: red">OFF</span>
												<span class="switch-off" style="color: green">ON</span>
											</label>
										</div> 
									<% end %>
							</div>
					<% end %>

				</div>
			</div><!--/.medium-4-->
			<div class="medium-8 columns">
				<div class="profile-edit-form" id="armor-ordering-and-payments">
					<%= render partial: "shared/profileform/armor/armor_ordering_and_payments", locals: { company: @retailer } %>
				</div>
			</div>
		</div>

<%#		HIDING FOR NOW UNTIL DETERMINE HOW USED  %>
<%#		<div class="row">  %>
<%#			<div class="medium-8 medium-push-4 columns">  %>
<%#				<div class="profile-edit-form">  %>
<%#					<%#= render "company_contacts" %>
<%#				</div>  %>
<%#			</div>  %>
<%#		</div> %>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "company_introduction" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "social_tags" %>
				</div>
			</div>
		</div><!-- /.row -->

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "sectors" %>
				</div>
			</div>
		</div><!-- /.row -->

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "locations_brands" %>
				</div>
			</div>
		</div><!-- /.row -->

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "countries_of_operation" %>
				</div>
			</div>
		</div><!-- /.row -->

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "marketing_pr" %>
				</div>
			</div>
		</div><!-- /.row -->

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "tradeshows" %>
				</div>
			</div>
		</div><!-- /.row -->

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "social_fields" %>
				</div>
			</div>
		</div><!-- /.row -->

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "verification" %>
				</div>
			</div>
		</div><!-- /.row -->


	</div>
</div>
