
<%= render partial: "shared/topbar" %>

<div class="row">
	<div class="medium-11 medium-centered columns">
		<div class="container marketplace">
			<div id="lead">
				<div id="title">MARKETPLACE <span id="sub">Profile Settings</span></div><div id="close"><%= link_to dashboard_url do %><i class="fi-x"></i><% end %></div>
			</div><!--/#lead-->
			<div id="main-body">

				<div id="edit-profile-nav">
					<div id="top">
						<div class="row">
							<div class="medium-6 columns">
								<h1>Your Profile</h1>
								Complete your distributor profile so your potential brand partners can learn about you and be better matched to your brand assortment and customer base.
							</div><!--/.medium-6-->
							<div class="medium-6 columns">
								
							</div><!--/.medium-6-->
						</div><!--/.row-->
					</div>
					<div id="bottom">
						<div class="row">
							<div class="small-12 columns text-left" id="nav">
								<ul class="navlist" id="left">
									<li><%= link_to 'EDIT Profile', retailer_url %></li>
									<li class="active"><%= link_to 'PREVIEW Profile', retailer_full_profile_url %></li>
								</ul>
							</div><!--/.small-12-->
						</div><!--/.row-->
					</div><!--/.bottom-->
				</div><!--/.edit-profile-nav-->

				<br>
				<div class="row collapse">
					<div class="small-12 columns" id="settings-preview-top">
						<h2 style="margin-bottom: 0;">Full Profile Preview</h2>
					</div><!--/.small-12 small-centered-->
				</div><!--/.row-->
				<div class="row collapse">
					<div class="small-12 columns" id="settings-preview-bottom">
						<div class="row">
							<div class="medium-11 medium-centered columns">

								<%= render partial: "/shared/profile/retailer_full_profile", locals: {profile: @profile}  %>
								<br><br>
							</div><!--/.medium-11 medium-centered-->
						</div><!--/.row-->

					</div>
				</div>

			</div><!--/#main-body-->
		</div><!--/#container-->
	</div><!--/.medium-11 medium-centered-->
</div><!--/.row-->
	