<div id="dashboard-marketplace-header">
	<%= image_tag "logo_header_marketplace.svg" %>
</div>

<% if @orders %>
<table id="dashboard-orders-table">
	<thead>
		<tr>
			<th>
				<%= @current_user.brand ? "Retailer/Distributor" : "Brand" %>
			</th>
			<th>
				Status
			</th>
			<th>
				Subtotal
			</th>
		</tr>
	</thead>
	<tbody>
		<% get_order_companies(@orders).each do |company| %>
			<% order = get_order(company) %>
			
			<tr>
				<td><%= link_to order_url(order) do %><%= company.company_name %><% end %> <%= @current_user.brand ? "(#{company.class})" : "" %></td>
				<td><%= order.status %></td>
				<td><%= number_to_currency(order.total_price) %></td>
			</tr>

		<% end %>
	</tbody>
</table>
<% end %>