<div class="row">
	<div class="medium-11 medium-centered columns">
		<div class="container marketplace">
			<%= render partial: "shared/v2/container/marketplace_lead", locals: {close_link: root_url , subhead: "dashboard"} %>
			<div id="main-body">




				<div id="marketplace-dashboard">

				<div class="row">
					<div class="small-12 columns">
							<div id="top-info"> Welcome to Landing International! <br><small>This is your marketplace dashboard where you will be able to view all your Landing International activity.</small></div>
					</div><!--/.small-12-->
				</div><!--/.row-->

				<%= render partial: "to_do" %>

				<div class="row">
					<% if false %><%# hiding %>
					<div class="medium-2 columns">
						<h3>Orders</h3>
						<%= render partial: "shared/orders/orders_chart", locals: { filter: @filter } %>
					</div><!--/.medium-2-->
					<% end %>
					<div class="medium-12 columns">

					<% if @recently_updated_orders %>
						<h3>Recently Updated Orders</h3>
							<%= render partial: 'orders/order_index', locals: { orders: @recently_updated_orders } %>
							<%= link_to "view all orders", orders_url, class: 'more-link' unless @recently_updated_orders.blank? %>

					<% else %>

						<h3>New Brands</h3>
						
							<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
							<% @new_brands.each do |b| %>
								<li><%= render partial: "shared/tiles/company_tile", locals: {brand: b} %></li>
							<% end %>
							</ul>
						
						<h3>Brands Just Updated</h3>
						
							<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
							<% @updated_brands.each do |b| %>
								<li><%= render partial: "shared/tiles/company_tile", locals: {brand: b} %></li>
							<% end %>
							</ul>
						
						<h3>Products Just Updated</h3>
						
							<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
							<% @updated_products.each do |p| %>
								<li><%= render partial: "shared/tiles/product_tile", locals: {product: p, brand: p.brand} %></li>
							<% end %>
							</ul>
						<% end %>
					</div><!--/.medium-10-->
				</div><!--/.row-->
				</div>

			</div><!--/#main-body-->
		</div><!--/.container-->

	</div><!--/.medium-11 medium-centered-->
</div><!--/.row-->