<h2 class="text-center">Complete your Profile to Reach More Retailers</h2>
<ul class="onboard-flow-header" data-steps="5">
	<li class="active"><span><%= image_tag "/images/create_profile.png" %></span></li>
	<li><span><%= image_tag "/images/enable_payment.png" %><br>(BASIC)</span></li>
	<li><span><%= image_tag "/images/talk_details.png" %><br>(INTERMEDIATE)</span></li>
	<li><span><%= image_tag "/images/boost_profile.png" %><br>(ADVANCED)</span></li>
	<li><span><%= image_tag "/images/show_off.png" %><br>(EXPERT)</span></li>
</ul>