<h2 class="text-center">Complete your Profile to Reach More Retailers</h2>
<% stage = get_onboard_stage(company:@current_user.company, user: @current_user) %>
<ul class="onboard-flow-header" data-steps="5">
	<li <%= get_onboard_stage_class(current_stage: stage, stage: 1)%>><span><%= image_tag "/images/create_profile.png" %></span></li>
	
	<li <%= get_onboard_stage_class(current_stage: stage, stage: 2)%>><%= link_to onboard_url, remote: true do %><span><%= image_tag "/images/enable_payment.png" %><br>(BASIC)</span><% end %></li>
	<li <%= get_onboard_stage_class(current_stage: stage, stage: 3)%>><span><%= image_tag "/images/talk_details.png" %><br>(INTERMEDIATE)</span></li>
	<li <%= get_onboard_stage_class(current_stage: stage, stage: 4)%>><span><%= image_tag "/images/boost_profile.png" %><br>(ADVANCED)</span></li>
	<li <%= get_onboard_stage_class(current_stage: stage, stage: 5)%>><span><%= image_tag "/images/show_off.png" %><br>(EXPERT)</span></li>
</ul>

