<% company_id ||= nil %>
<div class="row">
	<div class="small-12 columns">
		<table id="orders_chart">
			<tbody>
				<tr <%= filter == "current" ? "class=active" : "" %>>
					<td><%= @current_orders > 0 ? (link_to 'Open (In Cart)', orders_url(f:'current', company_id: company_id)) : 'Open (In Cart)' %></td>
					<td><%= @current_orders > 0 ? (link_to @current_orders, orders_url(f:'current', company_id: company_id)) : @current_orders %></td>
				</tr>
				<tr <%= filter == "submitted" ? "class=active" : "" %>>
					<td><%= @submitted_orders > 0 ? (link_to 'Submitted', orders_url(f:'submitted', company_id: company_id)) : 'Submitted' %></td>
					<td><%= @submitted_orders > 0 ? (link_to @submitted_orders, orders_url(f:'submitted', company_id: company_id)) : @submitted_orders %></td>
				</tr>
				<tr <%= filter == "pending" ? "class=active" : "" %>>
					<td><%= @pending_orders > 0 ? (link_to 'Pending', orders_url(f:'pending', company_id: company_id)) : 'Pending' %></td>
					<td><%= @pending_orders > 0 ? (link_to @pending_orders, orders_url(f:'pending', company_id: company_id)) : @pending_orders %></td>
				</tr>
				<tr <%= filter == "approved" ? "class=active" : "" %>>
					<td><%= @approved_orders > 0 ? (link_to 'Approved', orders_url(f:'approved', company_id: company_id)) : 'Approved' %></td>
					<td><%= @approved_orders > 0 ? (link_to @approved_orders, orders_url(f:'approved', company_id: company_id)) : @approved_orders %></td>
				</tr>
				<tr <%= filter == "paid" ? "class=active" : "" %>>
					<td><%= @paid_orders > 0 ? (link_to 'Paid', orders_url(f:'paid', company_id: company_id)) : 'Paid' %></td>
					<td><%= @paid_orders > 0 ? (link_to @paid_orders, orders_url(f:'paid', company_id: company_id)) : @paid_orders %></td>
				</tr>
				<tr <%= filter == "shipped" ? "class=active" : "" %>>
					<td><%= @shipped_orders > 0 ? (link_to 'Shipped', orders_url(f:'shipped', company_id: company_id)) : 'Shipped' %></td>
					<td><%= @shipped_orders > 0 ? (link_to @shipped_orders, orders_url(f:'shipped', company_id: company_id)) : @shipped_orders %></td>
				</tr>
				<tr <%= filter == "delivered" ? "class=active" : "" %>>
					<td><%= @delivered_orders > 0 ? (link_to 'Delivered', orders_url(f:'delivered', company_id: company_id)) : 'Delivered' %></td>
					<td><%= @delivered_orders > 0 ? (link_to @delivered_orders, orders_url(f:'delivered', company_id: company_id)) : @delivered_orders %></td>
				</tr>
				<% if @error_orders > 0 %>
				<tr <%= filter == "errors" ? "class=active" : "" %>>
					<td><%= link_to 'Errors', orders_url(f:'error', company_id: company_id) %></td>
					<td><%= link_to @error_orders, orders_url(f:'error', company_id: company_id) %></td>
				</tr>
				<% end %>
				<% if @disputed_orders > 0 %>
				<tr <%= filter == "disputed" ? "class=active" : "" %>>
					<td><%= link_to 'Disputed', orders_url(f:'disputed', company_id: company_id) %></td>
					<td><%= link_to @disputed_orders, orders_url(f:'disputed', company_id: company_id) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<table id="orders_chart">
			<tbody>
				<tr <%= filter == "active" ? "class=active" : "" %>>
					<td><%= @active_orders > 0 ? (link_to 'All Active', orders_url(f:'active', company_id: company_id)) : 'Active' %></td>
					<td><%= @active_orders > 0 ? (link_to @active_orders, orders_url(f:'active', company_id: company_id)) : @active_orders %></td>
				</tr>
				<tr <%= filter == "completed" ? "class=active" : "" %>>
					<td><%= @completed_orders > 0 ? (link_to 'Completed', orders_url(f:'completed', company_id: company_id), class: "completed") : 'Completed' %></td>
					<td><%= @completed_orders > 0 ? (link_to @completed_orders, orders_url(f:'completed', company_id: company_id), class: "completed") : @completed_orders %></td>
				</tr>
			</tbody>
		</table>
	</div><!--/.small-12-->
</div><!--/.row-->