<div class="row">
	<div class="small-12 columns">
		<div class="panel dashboard-order-tile">
			<div class="row">
				<div class="medium-4 columns">
					<h3>
						<%= @current_user.brand ? "<small>from</small> ".html_safe : "" %>
						<%= @current_user.brand ? (link_to order.orderer_company_name, profile_link(order.orderer)) : (link_to order.brand_company_name, profile_link(order.brand)) %>
						<%= @current_user.brand ? "<small>[#{order.orderer_type}]</small>".html_safe : "" %>
					</h3>
				</div><!--/.medium-4-->
				<div class="medium-4 columns">
					<h4>
						
					</h4>					
				</div><!--/.medium-4-->
				<div class="medium-4 columns text-right">
					<h4><%= order_status(order).html_safe %> <%= link_to "View Order", order_url(order)  %></h4>
				</div><!--/.medium-4-->
			</div><!--/.row-->
		</div>
	</div><!--/.small-12-->
</div><!--/.row-->