<div class="row">
	<div class="small-12 columns">
		<div class="panel" id="dashboard-order-section">
		<h2>Your Orders</h2>

		<%# unless @current_user.type? == "brand" %>
		<h4><strong>Open Orders</strong></h4>
		<% if @current_orders.present?  %>
				<% @current_orders.each do |order| %>
					<%= render partial: "order", locals: { order: order } %>
				<% end %>
		<% else %>
		<div class="row">
			<div class="small-12 columns">
				<div class="panel dashboard-order-tile">
					<h3>(No Orders)</h3>
				</div>
			</div>
		</div>
		<% end %>
		<%# end %>

		<h4><strong>Submitted Orders</strong></h4>
		<% if @submitted_orders.present?  %>
				<% @submitted_orders.each do |order| %>
					<%= render partial: "order", locals: { order: order } %>
				<% end %>
		<% else %>
		<div class="row">
			<div class="small-12 columns">
				<div class="panel dashboard-order-tile">
					<h3>(No Orders)</h3>
				</div>
			</div>
		</div>
		<% end %>

		<h4><strong>Pending Orders</strong></h4>
		<% if @pending_orders.present?  %>
				<% @pending_orders.each do |order| %>
					<%= render partial: "order", locals: { order: order } %>
				<% end %>
		<% else %>
		<div class="row">
			<div class="small-12 columns">
				<div class="panel dashboard-order-tile">
					<h3>(No Orders)</h3>
				</div>
			</div>
		</div>
		<% end %>

		<h4><strong>Approved Orders</strong></h4>
		<% if @approved_orders.present?  %>
				<% @approved_orders.each do |order| %>
					<%= render partial: "order", locals: { order: order } %>
				<% end %>
		<% else %>
		<div class="row">
			<div class="small-12 columns">
				<div class="panel dashboard-order-tile">
					<h3>(No Orders)</h3>
				</div>
			</div>
		</div>
		<% end %>

		<h4><strong>Paid Orders</strong></h4>
		<% if @paid_orders.present?  %>
				<% @paid_orders.each do |order| %>
					<%= render partial: "order", locals: { order: order } %>
				<% end %>
		<% else %>
		<div class="row">
			<div class="small-12 columns">
				<div class="panel dashboard-order-tile">
					<h3>(No Orders)</h3>
				</div>
			</div>
		</div>
		<% end %>

		<h4><strong>Shipped Orders</strong></h4>
		<% if @shipped_orders.present?  %>
				<% @shipped_orders.each do |order| %>
					<%= render partial: "order", locals: { order: order } %>
				<% end %>
		<% else %>
		<div class="row">
			<div class="small-12 columns">
				<div class="panel dashboard-order-tile">
					<h3>(No Orders)</h3>
				</div>
			</div>
		</div>
		<% end %>

		<h4><strong>Delivered Orders</strong></h4>
		<% if @delivered_orders.present?  %>
				<% @delivered_orders.each do |order| %>
					<%= render partial: "order", locals: { order: order } %>
				<% end %>
		<% else %>
		<div class="row">
			<div class="small-12 columns">
				<div class="panel dashboard-order-tile">
					<h3>(No Orders)</h3>
				</div>
			</div>
		</div>
		<% end %>

		<h4><strong>Completed Orders</strong></h4>
		<% if @completed_orders.present?  %>
				<% @completed_orders.each do |order| %>
					<%= render partial: "order", locals: { order: order } %>
				<% end %>
		<% else %>
		<div class="row">
			<div class="small-12 columns">
				<div class="panel dashboard-order-tile">
					<h3>(No Orders)</h3>
				</div>
			</div>
		</div>
		<% end %>

		<h4><strong>Orders In Dispute</strong></h4>
		<% if @disputed_orders.present?  %>
				<% @disputed_orders.each do |order| %>
					<%= render partial: "order", locals: { order: order } %>
				<% end %>
		<% else %>
		<div class="row">
			<div class="small-12 columns">
				<div class="panel dashboard-order-tile">
					<h3>(No Orders)</h3>
				</div>
			</div>
		</div>
		<% end %>

		<h4><strong>Orders with Errors</strong></h4>
		<% if @error_orders.present?  %>
				<% @error_orders.each do |order| %>
					<%= render partial: "order", locals: { order: order } %>
				<% end %>
		<% else %>
		<div class="row">
			<div class="small-12 columns">
				<div class="panel dashboard-order-tile">
					<h3>(No Orders)</h3>
				</div>
			</div>
		</div>
		<% end %>

		</div>
	</div><!--/.small-12-->
</div><!--/.row-->

<% unless @current_non_armor_orders.blank? && @submitted_non_armor_orders.blank? && @completed_non_armor_orders.blank? %>
<div class="row">
	<div class="small-12 columns">
		<div class="panel" id="dashboard-order-section">
		<h2>Your Orders (without Payment Enabled)</h2>
		<h3>These orders are not currently enabled for payment through Landing International via Armor Payments (a Payoneer company)<br>NOTE: An order will appear here if the Brand is not yet set up for payment via Armor Payments (Payoneer).</h3>

		<h4><strong>Open Orders</strong></h4>
		<% if @current_non_armor_orders.present?  %>
				<% @current_non_armor_orders.each do |order| %>
					<%= render partial: "order", locals: { order: order } %>
				<% end %>
		<% else %>
		<div class="row">
			<div class="small-12 columns">
				<div class="panel dashboard-order-tile">
					<h3>(No Orders)</h3>
				</div>
			</div>
		</div>
		<% end %>

		<h4><strong>Submitted Orders</strong></h4>
		<% if @submitted_non_armor_orders.present?  %>
				<% @submitted_non_armor_orders.each do |order| %>
					<%= render partial: "order", locals: { order: order } %>
				<% end %>
		<% else %>
		<div class="row">
			<div class="small-12 columns">
				<div class="panel dashboard-order-tile">
					<h3>(No Orders)</h3>
				</div>
			</div>
		</div>
		<% end %>

		<h4><strong>Completed Orders</strong></h4>
		<% if @completed_non_armor_orders.present?  %>
				<% @completed_non_armor_orders.each do |order| %>
					<%= render partial: "order", locals: { order: order } %>
				<% end %>
		<% else %>
		<div class="row">
			<div class="small-12 columns">
				<div class="panel dashboard-order-tile">
					<h3>(No Orders)</h3>
				</div>
			</div>
		</div>
		<% end %>

		</div>
	</div><!--/.small-12-->
</div><!--/.row-->
<% end %>