<%= render partial: 'shared/v2/header/main' %>


<% content_for :javascript_foot do %>

<% end %>
		
		<% if @current_user %>
			<%= render partial: 'shared/v2/header/marketplace' %>
			<div class="row">
				<div class="small-12 columns">
					<%= render "marketplace_v2" %>
				</div><!--/.small-12-->
			</div><!--/.row-->
		<% else %>
			<div id="login-container">
				<div class="row">
					<div class="small-12 columns">
						<br>
					</div><!--/.small-12-->
					<div class="medium-10 columns medium-centered">
						<div id="restricted-view-container">
						<%= render "shared/profile/restricted_view" %>
						</div>
					</div>
					<div class="small-12 columns">
						<br><br><br>
					</div><!--/.small-12-->
				</div>
			</div>
		<% end %>

<%= render partial: 'shared/v2/footer/main' %>

