<%= render partial: 'shared/v2/header/main' %>
<%= render partial: 'shared/v2/header/sub_beauty' %>

<%= render "newuser" if flash[:success] %>

<div class="v2front">


<div class="row">
	<div class="medium-5 small-11 medium-centered text-center columns">
		<%= form_tag(search_brands_url, method: "get") do %>
		<div class="row collapse">
			<div class="small-1 columns text-left">
				<%= label_tag(:q) do %><%= image_tag "https://s3.amazonaws.com/landingintl-us/general/search.png", width: 32, height: 32%><% end %>
			</div><!--/.small-1-->
			<div class="small-11 columns">
				<%= text_field_tag(:q, @query, placeholder: "FIND BRANDS", class: "searchbox white") %>
			</div><!--/.small-10-->
		</div><!--/.row-->
		<% end %>
	</div><!--/.medium-5-->
</div><!--/.row-->



<div class="row">
	<div class="small-10 small-centered columns text-center">
		<hr style="border-top: 1px solid #f2f2f2;">
	</div><!--/.small-10-small-centered -->
</div><!--/.row-->
<div class="row">
	<div class="small-10 small-centered columns" style="border-left: 1px solid #f2f2f2; border-right: 1px solid #f2f2f2;">

<% if get_main_article() %>
	<%= render partial: "/articles/main_preview", locals: { a: get_main_article() } %>
	<div class="row">
		<div class="small-10 small-centered columns">
			<hr>		
		</div><!--/.small-10-small-centered -->
	</div><!--/.row-->
<% end %>

<% alist = get_sub_articles() %>
<% alist.each_with_index do |a, i| %>
	<%= render partial: "/articles/sub_preview", locals: { a: a } %>
	<% unless i == alist.count - 2 %>
		<div class="row">
			<div class="small-10 small-centered columns">
				<hr>
			</div><!--/.small-10-small-centered -->
		</div><!--/.row-->
	<% end %>
<% end %>

	</div><!--/.small-10-->
</div><!--/.row-->
<div class="row">
	<div class="small-10 small-centered columns text-center">
		<hr style="border-top: 1px solid #f2f2f2;">
	</div><!--/.small-10-small-centered -->
</div><!--/.row-->

<div class="browseblock">
	<div class="row">
		<div class="medium-4 columns">
			<hr>
		</div><!--/.medium-4-->
		<div class="medium-4 columns text-center">
			<h1>
				BROWSE<br>
				BEAUTY BRANDS by <strong>TREND</strong>
			</h1>
		</div><!--/.medium-4-->
		<div class="medium-4 columns">
			<hr>
		</div><!--/.medium-4-->
	</div><!--/.row-->
	<div class="row">
		<div class="small-12 columns">
			<ul>
				<% @trends.each do |t| %>
					<%= link_to brands_url(filter: "#{t.id}", type: "t") do %><li><%= t.name %></li><% end %>
				<% end %>
			</ul>
		</div><!--/.small-12-->
	</div><!--/.row-->
</div>



</div><!--/. v2front -->

<%= render partial: 'shared/v2/footer/main' %>