<%= render partial: 'shared/v2/header/main' %>
<%= render partial: 'shared/v2/header/sub_beauty' %>

<%= render "newuser" if flash[:success] %>

<div class="v2front">


<div class="front-carousel-container">
	<div class="row">
		<div id="owl-front-carousel" class="owl-carousel owl-theme">
			<% glist = get_carousel_articles() %>
			<% glist.each_with_index do |a, i| %>
				<%= render partial: "/articles/front_carousel_item", locals: { a: a } %>
			<% end %>
		</div>
	</div><!--/.row-->
</div><!--/.front-grid-->

<div class="front-grid">
	<div class="row">
		<div class="small-11 medium-10 small-centered columns">
			<ul class="small-block-grid-1 medium-block-grid-3">
			<% glist = get_grid_articles() %>
			<% glist.each_with_index do |a, i| %>
				<li><%= render partial: "/articles/front_grid_tile2", locals: { a: a } %></li>
			<% end %>
			</ul>
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.front-grid-->

<div class="front-grid">
	<div class="row">
		<div class="small-11 medium-10 small-centered columns">
			<ul class="small-block-grid-1 medium-block-grid-3">
			<% glist = get_grid_articles() %>
			<% glist.each_with_index do |a, i| %>
				<li><%#= render partial: "/articles/front_grid_tile", locals: { a: a } %></li>
			<% end %>
			</ul>
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.front-grid-->

<div class="browseblock">
	<div class="row">
		<div class="medium-4 columns">
			<hr>
		</div><!--/.medium-4-->
		<div class="medium-4 columns text-center">
			<h1>
				BROWSE<br>
				BEAUTY BRANDS by <strong>TREND</strong>
			</h1>
		</div><!--/.medium-4-->
		<div class="medium-4 columns">
			<hr>
		</div><!--/.medium-4-->
	</div><!--/.row-->
	<div class="row">
		<div class="small-12 columns">
			<ul>
				<% @trends.each do |t| %>
					<%= link_to brands_url(filter: "#{t.id}", type: "t") do %><li><%= t.name %></li><% end %>
				<% end %>
			</ul>
		</div><!--/.small-12-->
	</div><!--/.row-->
</div>



</div><!--/. v2front -->

<%= render partial: 'shared/v2/footer/main' %>