<%= render partial: 'shared/v2/header/main' %>
<%= render partial: 'shared/v2/header/sub_beauty' %>

<div class="v2front">


<% if get_main_article() %>
	<%= render partial: "/articles/main_preview", locals: { a: get_main_article() } %>
	<div class="row">
		<div class="small-10 small-centered columns">
			<hr>		
		</div><!--/.small-10-small-centered -->
	</div><!--/.row-->
<% end %>

<% alist = get_sub_articles() %>
<% alist.each_with_index do |a, i| %>
	<%= render partial: "/articles/sub_preview", locals: { a: a } %>
	<% unless i == alist.count - 2 %>
		<div class="row">
			<div class="small-10 small-centered columns">
				<hr>
			</div><!--/.small-10-small-centered -->
		</div><!--/.row-->
	<% end %>
<% end %>

<div class="browseblock">
	<div class="row">
		<div class="medium-4 columns">
			<hr>
		</div><!--/.medium-4-->
		<div class="medium-4 columns text-center">
			<h1>
				BROWSE<br>
				BEAUTY BRANDS by <strong>TREND</strong>
			</h1>
		</div><!--/.medium-4-->
		<div class="medium-4 columns">
			<hr>
		</div><!--/.medium-4-->
	</div><!--/.row-->
	<div class="row">
		<div class="small-12 columns">
			<ul>
				<% @trends.each do |t| %>
					<%= link_to brands_url(filter: "#{t.id}", type: "t") do %><li><%= t.name %></li><% end %>
				<% end %>
			</ul>
		</div><!--/.small-12-->
	</div><!--/.row-->
</div>


<div class="browseblock">
	<div class="row">
		<div class="medium-4 columns">
			<hr>
		</div><!--/.medium-4-->
		<div class="medium-4 columns text-center">
			<h1>
				BROWSE<br>
				BEAUTY BRANDS by <strong>RETAILER</strong>
			</h1>
		</div><!--/.medium-4-->
		<div class="medium-4 columns">
			<hr>
		</div><!--/.medium-4-->
	</div><!--/.row-->
	<div class="row">
		<div class="small-12 columns">
			<ul>
				<% @key_retailers.each do |kr| %>
					<%= link_to brands_url(filter: "#{kr.id}", type: "kr") do %><li><%= kr.name %></li><% end %>
				<% end %>
			</ul>
		</div><!--/.small-12-->
	</div><!--/.row-->
</div>



</div><!--/. v2front -->

<%= render partial: 'shared/v2/footer/main' %>