<%= render partial: 'shared/v2/header/main' %>
<%= render partial: 'shared/v2/header/sub_beauty' %>

<div class="v2front">

	<article class="preview_featured">
		<div class="row">
			<div class="small-12 columns text-center">
				<%= image_tag 'v2/5free.png' %>
			</div><!--/.small-12-->
		</div><!--/.row-->
		<div class="row articlepreviewtext">
			<div class="medium-8 columns">
				<div class="row">
					<div class="small-12 columns text-right">
						<h1>5-Free Nail Polish Revolution</h1>
						<h2>REPORT / ANALYSIS on TRENDS</h2>
					</div><!--/.small-12-->
				</div><!--/.row-->
				<div class="row">
					<div class="medium-10 medium-push-2 columns">
						<p>12.03.15 by Sarah Chung // The nail polish industry has seen a boom in recent years. In 2012, sales of nail polish reached $768 million in the U.S. and an unprecedented $6 billion globally. The sweeping trend toward toxic-free, 5-Free and 7-Free nail polish should perk the interest of retailers, beauty distributors and salon/spa owners.</p>
					</div><!--/.medium-10 medium-push-2-->
				</div><!--/.row-->
			</div><!--/.medium-8-->
			<div class="medium-4 columns">
				<h3>FEATURING<h3>
				<ul class="featuringlist">
					<li>RGB</li>
					<li>LVX</li>
					<li>Scotch Naturals</li>
					<li>Smith &amp; Cult</li>
					<li>Priti NYC</li>
				</ul>
			</div><!--/.medium-4-->
		</div><!--/.row-->
	</article>

	<div class="row">
		<div class="small-10 small-centered columns">
			<hr>		
		</div><!--/.small-10-small-centered -->
	</div><!--/.row-->

	<article class="preview_standard">
		<div class="row">
			<div class="medium-8 columns text-right">
				<div class="row">
					<div class="medium-6 columns text-right">
						<%= image_tag 'v2/PurImage.png' %>
					</div><!--/.medium-12-->
					<div class="medium-6 columns">
						<div class="row">
							<div class="small-12 columns text-right">
								<h1>PUR Cosmetics</h1>
								<h2>REPORT / ANALYSIS on BRANDS</h2>
								<p>12.03.15 by Sarah Chung // With the tagline, “The Complexion Authority,” Pur Cosmetics manufactures a line of for mineral-based makeup and skincare products designing at improving the complexion.</p>
							</div><!--/.small-12-->
						</div><!--/.row-->
					</div><!--/.medium-6-->
				</div><!--/.row-->
			</div><!--/.medium-8-->
			<div class="medium-4 columns">
				<h3>FEATURING<h3>
				<ul class="featuringlist">
					<li>4-IN-1 PRESSED MINERAL MAKEUP</li>
					<li>CC CREAM BROAD SPECTRUM SPF 40</li>
					<li>CORRECTING PRIMER</li>
				</ul>
			</div><!--/.medium-12-->
		</div><!--/.row-->
	</article>
	

	<div class="row">
		<div class="small-10 small-centered columns">
			<hr>		
		</div><!--/.small-10-small-centered -->
	</div><!--/.row-->

	<article class="preview_standard">
		<div class="row">
			<div class="medium-8 columns text-right">
				<div class="row">
					<div class="medium-6 columns text-right">
						<%= image_tag 'v2/consumers.png' %>
					</div><!--/.medium-12-->
					<div class="medium-6 columns">
						<div class="row">
							<div class="small-12 columns text-right">
								<h1>Consumers Will Pay More for Cruelty-Free, All-Natural Beauty</h1>
								<h2>REPORT / ANALYSIS on BRANDS</h2>
								<p>12.03.15 by Sarah Chung // Here at Landing, we are focused on connecting distributors and retailers with “Good for People, Good for Planet” brands</p>
							</div><!--/.small-12-->
						</div><!--/.row-->
					</div><!--/.medium-6-->
				</div><!--/.row-->
			</div><!--/.medium-8-->
			<div class="medium-4 columns">
				<h3>FEATURING<h3>
				<ul class="featuringlist">
					<li>[ITEM 1]</li>
					<li>[ITEM 2]</li>
				</ul>
			</div><!--/.medium-12-->
		</div><!--/.row-->
	</article>


	<div class="row">
		<div class="small-10 small-centered columns">
			<hr>		
		</div><!--/.small-10-small-centered -->
	</div><!--/.row-->

	<article class="preview_standard">
		<div class="row">
			<div class="medium-8 columns text-right">
				<div class="row">
					<div class="medium-6 columns text-right">
						<%= image_tag 'v2/Exterior.png' %>
					</div><!--/.medium-12-->
					<div class="medium-6 columns">
						<div class="row">
							<div class="small-12 columns text-right">
								<h1>Credo Beauty: A new retail concept</h1>
								<h2>REPORT / ANALYSIS on TRENDS</h2>
								<p>12.03.15 by Sarah Chung // Dubbed the Sephora for natural beauty, Credo Beauty is a new retail concept carrying exclusively natural beauty brands.</p>
							</div><!--/.small-12-->
						</div><!--/.row-->
					</div><!--/.medium-6-->
				</div><!--/.row-->
			</div><!--/.medium-8-->
			<div class="medium-4 columns">
				<h3>FEATURING<h3>
				<ul class="featuringlist">
					<li>[ITEM 1]</li>
					<li>[ITEM 2]</li>
				</ul>
			</div><!--/.medium-12-->
		</div><!--/.row-->
	</article>


</div><!--/. v2front -->

<%= render partial: 'shared/v2/footer/main' %>