<% content_for :javascript_head do %>
	<% if @display %>
		<%= javascript_tag do %>
			<% if @display.background_photo_file_name %>
			var bgImage = <%= "\"#{@display.background_photo.url(:large)}\"".html_safe %>
			<% end %>
			var bgColor = <%= "\"\##{@display.background_color}\"".html_safe %>
		<% end %>

			<style>
		
			body, html {
			  margin: 0;
			  overflow: hidden;
			  -webkit-transition: opacity 400ms;
			  -moz-transition: opacity 400ms;
			  transition: opacity 400ms;
			}

			body, .onepage-wrapper, html {
			  display: block;
			  position: static;
			  padding: 0;
			  width: 100%;
			  height: 100%;
			}

			.onepage-wrapper {
			  width: 100%;
			  height: 100%;
			  display: block;
			  position: relative;
			  padding: 0;
			  -webkit-transform-style: preserve-3d;
			}

			.onepage-wrapper .section {
			  width: 100%;
			  height: 100%;
			}

			.onepage-pagination {
			  position: absolute;
			  right: 10px;
			  top: 50%;
			  z-index: 5;
			  list-style: none;
			  margin: 0;
			  padding: 0;
			}
			.onepage-pagination li {
			  padding: 0;
			  text-align: center;
			}
			.onepage-pagination li a{
			  padding: 10px;
			  width: 4px;
			  height: 4px;
			  display: block;
			  
			}
			.onepage-pagination li a:before{
			  content: '';
			  position: absolute;
			  width: 4px;
			  height: 4px;
			  background: rgba(255,255,255,0.85);
			  border-radius: 10px;
			  -webkit-border-radius: 10px;
			  -moz-border-radius: 10px;
			}

			.onepage-pagination li a.active:before{
			  width: 10px;
			  height: 10px;
			  background: none;
			  border: 1px solid white;
			  margin-top: -4px;
			  left: 8px;
			}

			.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
			  overflow: auto;
			}

			.disabled-onepage-scroll .onepage-wrapper .section {
			  position: relative !important;
			  top: auto !important;
			  left: auto !important;
			}
			.disabled-onepage-scroll .onepage-wrapper {
			  -webkit-transform: none !important;
			  -moz-transform: none !important;
			  transform: none !important;
			  -ms-transform: none !important;
			  min-height: 100%;
			}


			.disabled-onepage-scroll .onepage-pagination {
			  display: none;
			}

			body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
			  position: inherit;
			}

			#overlay{
			  position:fixed;
			  z-index:99999;
			  top:0;
			  left:0;
			  bottom:0;
			  right:0;
			  background:rgba(0,0,0,1);
			  transition: 1s 0.4s;
			}			
			</style>

	<% end %>
<% end %>


<div class="main">

<div id="overlay">
	<div style="position:absolute; top: 48%; left: 45%">
		<h2 style="color:white;">Loading...</h2>
	</div>
</div>



<section>
<div class="front-top-panel" id="prospect-share">
	<div class="row" data-equalizer>
		<div class="medium-11 medium-centered columns">
		
			<div class="row">
				<div class="medium-7 columns" data-equalizer-watch>
					<div class="text-center">
						<br><br>
						<h1 class="shadow" style="color:white;">WELCOME 欢迎 환영 <br>BEM-VINDO स्वागत ДОБРО ПОЖАЛОВАТЬ<br>to</h1>
						<div class="hide-for-small-only"><%= image_tag '/images/landing_page_LOGO.svg', class: "shadow"  %><%= image_tag '/images/landing_page_LANDING.svg', class: "shadow", width: 300%><br><br><br></div>
						<h2 class="shadow" style="color:white;"><strong>You have been invited to view a profile on the <br>Landing International Marketplace</strong></h2>
					</div>
				</div><!--/.medium-7-->
				<div class="medium-5 columns">

					<div id="p-share-lg" data-equalizer-watch>
						<%= render partial: 'home/prospect_share/ps1' %>
					</div><!--/#p-share-lg-->	

				</div><!--/.medium-5-->
			</div><!--/.row-->

		</div><!--/.medium-11 medium-centered-->
	</div><!--/.row-->

	<div class="front-down-arrow-wrap">
		<div class="front-down-arrow">
			
		</div>
	</div>

</div><!--/.front-top-panel-->
</section>


<section>
<div class="front-top-panel">
		<div class="row">
			<div class="medium-11 medium-centered columns">
				<br><br><br><br><br><br>
						<h1 class="text-justify shadow-text" style="color:white;">WELCOME 欢迎 환영 <br>BEM-VINDO स्वागत ДОБРО ПОЖАЛОВАТЬ</h1>
						<%= image_tag '/images/landing_page_LOGO.svg', class: "shadow"  %><%= image_tag '/images/landing_page_LANDING.svg', class: "shadow", width: 300%><br><br>
						<h2 class="text-justify shadow-text" style="color:white;">We are on a mission to spread innovative brands across the world. Whether you are a brand owner or overseas distributor, we help grow your business with curated, qualified partners. 

						We’ve curated brands in the fastest growing consumer categories and selected qualified distributors in the leading international markets for those products.  The result? Matches made in brand heaven. </h2>
						<h2 class="text-justify shadow-text"><a data-index="3" href="#3" class="page-link" style="color:white;font-weight:300;">It’s absolutely free to join</a>.</h2>

			</div>
		</div>

</div> <!-- /.front-top-panel -->
</section>





<section>

<div class="front-top-panel">

<div id="front-banner" class="text-center">
	<div class="row">
		<div class="small-12 columns">
			<%= image_tag '/images/landing_page_LOGO.svg', class: "shadow"  %><br>
			<%= image_tag 'landing_page_GGOOD.svg', class: "shadow"  %><br>
		</div><!--/.small-12-->
		<div class="small-6 small-centered columns">
				<h2 class="text-justify shadow" style="color:white;">
				We believe in well-made products that are good for people and planet and believe in the power of commerce to positively impact lives.	</h2>	
		</div><!--/.small-6 small-centered-->
	</div><!--/.row-->
</div>


<div id="front-footer">
	<div class="row">

		<div class="small-4 columns" >

		<i class="fi-social-facebook" style="font-size: 3em;"></i> 
		<i class="fi-social-linkedin" style="font-size: 3em;"></i> 
		<i class="fi-social-twitter" style="font-size: 3em;"></i> 
		<i class="fi-social-instagram" style="font-size: 3em;"></i>
		<br>
		</div>

	
	</div> <!-- /.row -->
</div>

</div>
</section>



</div>

<% content_for :javascript_foot do %>
	<%= javascript_tag do %>
		!function(e){var t={sectionContainer:"section",easing:"ease",animationTime:1e3,pagination:true,updateURL:false,keyboard:true,beforeMove:null,afterMove:null,loop:true,responsiveFallback:false,direction:"vertical"};e.fn.swipeEvents=function(){return this.each(function(){function i(e){var i=e.originalEvent.touches;if(i&&i.length){t=i[0].pageX;n=i[0].pageY;r.bind("touchmove",s)}}function s(e){var i=e.originalEvent.touches;if(i&&i.length){var o=t-i[0].pageX;var u=n-i[0].pageY;if(o>=50){r.trigger("swipeLeft")}if(o<=-50){r.trigger("swipeRight")}if(u>=50){r.trigger("swipeUp")}if(u<=-50){r.trigger("swipeDown")}if(Math.abs(o)>=50||Math.abs(u)>=50){r.unbind("touchmove",s)}}}var t,n,r=e(this);r.bind("touchstart",i)})};e.fn.onepage_scroll=function(n){function o(){var t=false;var n=typeof r.responsiveFallback;if(n=="number"){t=e(window).width()<r.responsiveFallback}if(n=="boolean"){t=r.responsiveFallback}if(n=="function"){valFunction=r.responsiveFallback();t=valFunction;typeOFv=typeof t;if(typeOFv=="number"){t=e(window).width()<valFunction}}if(t){e("body").addClass("disabled-onepage-scroll");e(document).unbind("mousewheel DOMMouseScroll MozMousePixelScroll");i.swipeEvents().unbind("swipeDown swipeUp")}else{if(e("body").hasClass("disabled-onepage-scroll")){e("body").removeClass("disabled-onepage-scroll");e("html, body, .wrapper").animate({scrollTop:0},"fast")}i.swipeEvents().bind("swipeDown",function(t){if(!e("body").hasClass("disabled-onepage-scroll"))t.preventDefault();i.moveUp()}).bind("swipeUp",function(t){if(!e("body").hasClass("disabled-onepage-scroll"))t.preventDefault();i.moveDown()});e(document).bind("mousewheel DOMMouseScroll MozMousePixelScroll",function(e){e.preventDefault();var t=e.originalEvent.wheelDelta||-e.originalEvent.detail;u(e,t)})}}function u(e,t){deltaOfInterest=t;var n=(new Date).getTime();if(n-lastAnimation<quietPeriod+r.animationTime){e.preventDefault();return}if(deltaOfInterest<0){i.moveDown()}else{i.moveUp()}lastAnimation=n}var r=e.extend({},t,n),i=e(this),s=e(r.sectionContainer);total=s.length,status="off",topPos=0,leftPos=0,lastAnimation=0,quietPeriod=500,paginationList="";e.fn.transformPage=function(t,n,r){if(typeof t.beforeMove=="function")t.beforeMove(r);if(e("html").hasClass("ie8")){if(t.direction=="horizontal"){var s=i.width()/100*n;e(this).animate({left:s+"px"},t.animationTime)}else{var s=i.height()/100*n;e(this).animate({top:s+"px"},t.animationTime)}}else{e(this).css({"-webkit-transform":t.direction=="horizontal"?"translate3d("+n+"%, 0, 0)":"translate3d(0, "+n+"%, 0)","-webkit-transition":"all "+t.animationTime+"ms "+t.easing,"-moz-transform":t.direction=="horizontal"?"translate3d("+n+"%, 0, 0)":"translate3d(0, "+n+"%, 0)","-moz-transition":"all "+t.animationTime+"ms "+t.easing,"-ms-transform":t.direction=="horizontal"?"translate3d("+n+"%, 0, 0)":"translate3d(0, "+n+"%, 0)","-ms-transition":"all "+t.animationTime+"ms "+t.easing,transform:t.direction=="horizontal"?"translate3d("+n+"%, 0, 0)":"translate3d(0, "+n+"%, 0)",transition:"all "+t.animationTime+"ms "+t.easing})}e(this).one("webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend",function(e){if(typeof t.afterMove=="function")t.afterMove(r)})};e.fn.moveDown=function(){var t=e(this);index=e(r.sectionContainer+".active").data("index");current=e(r.sectionContainer+"[data-index='"+index+"']");next=e(r.sectionContainer+"[data-index='"+(index+1)+"']");if(next.length<1){if(r.loop==true){pos=0;next=e(r.sectionContainer+"[data-index='1']")}else{return}}else{pos=index*100*-1}if(typeof r.beforeMove=="function")r.beforeMove(next.data("index"));current.removeClass("active");next.addClass("active");if(r.pagination==true){e(".onepage-pagination li a"+"[data-index='"+index+"']").removeClass("active");e(".onepage-pagination li a"+"[data-index='"+next.data("index")+"']").addClass("active")}e("body")[0].className=e("body")[0].className.replace(/\bviewing-page-\d.*?\b/g,"");e("body").addClass("viewing-page-"+next.data("index"));if(history.replaceState&&r.updateURL==true){var n=window.location.href.substr(0,window.location.href.indexOf("#"))+"#"+(index+1);history.pushState({},document.title,n)}t.transformPage(r,pos,next.data("index"))};e.fn.moveUp=function(){var t=e(this);index=e(r.sectionContainer+".active").data("index");current=e(r.sectionContainer+"[data-index='"+index+"']");next=e(r.sectionContainer+"[data-index='"+(index-1)+"']");if(next.length<1){if(r.loop==true){pos=(total-1)*100*-1;next=e(r.sectionContainer+"[data-index='"+total+"']")}else{return}}else{pos=(next.data("index")-1)*100*-1}if(typeof r.beforeMove=="function")r.beforeMove(next.data("index"));current.removeClass("active");next.addClass("active");if(r.pagination==true){e(".onepage-pagination li a"+"[data-index='"+index+"']").removeClass("active");e(".onepage-pagination li a"+"[data-index='"+next.data("index")+"']").addClass("active")}e("body")[0].className=e("body")[0].className.replace(/\bviewing-page-\d.*?\b/g,"");e("body").addClass("viewing-page-"+next.data("index"));if(history.replaceState&&r.updateURL==true){var n=window.location.href.substr(0,window.location.href.indexOf("#"))+"#"+(index-1);history.pushState({},document.title,n)}t.transformPage(r,pos,next.data("index"))};e.fn.moveTo=function(t){current=e(r.sectionContainer+".active");next=e(r.sectionContainer+"[data-index='"+t+"']");if(next.length>0){if(typeof r.beforeMove=="function")r.beforeMove(next.data("index"));current.removeClass("active");next.addClass("active");e(".onepage-pagination li a"+".active").removeClass("active");e(".onepage-pagination li a"+"[data-index='"+t+"']").addClass("active");e("body")[0].className=e("body")[0].className.replace(/\bviewing-page-\d.*?\b/g,"");e("body").addClass("viewing-page-"+next.data("index"));pos=(t-1)*100*-1;if(history.replaceState&&r.updateURL==true){var n=window.location.href.substr(0,window.location.href.indexOf("#"))+"#"+(t-1);history.pushState({},document.title,n)}i.transformPage(r,pos,t)}};i.addClass("onepage-wrapper").css("position","relative");e.each(s,function(t){e(this).css({position:"absolute",top:topPos+"%"}).addClass("section").attr("data-index",t+1);e(this).css({position:"absolute",left:r.direction=="horizontal"?leftPos+"%":0,top:r.direction=="vertical"||r.direction!="horizontal"?topPos+"%":0});if(r.direction=="horizontal")leftPos=leftPos+100;else topPos=topPos+100;if(r.pagination==true){paginationList+="<li><a data-index='"+(t+1)+"' href='#"+(t+1)+"'></a></li>"}});i.swipeEvents().bind("swipeDown",function(t){if(!e("body").hasClass("disabled-onepage-scroll"))t.preventDefault();i.moveUp()}).bind("swipeUp",function(t){if(!e("body").hasClass("disabled-onepage-scroll"))t.preventDefault();i.moveDown()});if(r.pagination==true){if(e("ul.onepage-pagination").length<1)e("<ul class='onepage-pagination'></ul>").prependTo("body");if(r.direction=="horizontal"){posLeft=i.find(".onepage-pagination").width()/2*-1;i.find(".onepage-pagination").css("margin-left",posLeft)}else{posTop=i.find(".onepage-pagination").height()/2*-1;i.find(".onepage-pagination").css("margin-top",posTop)}e("ul.onepage-pagination").html(paginationList)}if(window.location.hash!=""&&window.location.hash!="#1"){init_index=window.location.hash.replace("#","");if(parseInt(init_index)<=total&&parseInt(init_index)>0){e(r.sectionContainer+"[data-index='"+init_index+"']").addClass("active");e("body").addClass("viewing-page-"+init_index);if(r.pagination==true)e(".onepage-pagination li a"+"[data-index='"+init_index+"']").addClass("active");next=e(r.sectionContainer+"[data-index='"+init_index+"']");if(next){next.addClass("active");if(r.pagination==true)e(".onepage-pagination li a"+"[data-index='"+init_index+"']").addClass("active");e("body")[0].className=e("body")[0].className.replace(/\bviewing-page-\d.*?\b/g,"");e("body").addClass("viewing-page-"+next.data("index"));if(history.replaceState&&r.updateURL==true){var a=window.location.href.substr(0,window.location.href.indexOf("#"))+"#"+init_index;history.pushState({},document.title,a)}}pos=(init_index-1)*100*-1;i.transformPage(r,pos,init_index)}else{e(r.sectionContainer+"[data-index='1']").addClass("active");e("body").addClass("viewing-page-1");if(r.pagination==true)e(".onepage-pagination li a"+"[data-index='1']").addClass("active")}}else{e(r.sectionContainer+"[data-index='1']").addClass("active");e("body").addClass("viewing-page-1");if(r.pagination==true)e(".onepage-pagination li a"+"[data-index='1']").addClass("active")}if(r.pagination==true){e(".onepage-pagination li a").click(function(){var t=e(this).data("index");i.moveTo(t)})}e(document).bind("mousewheel DOMMouseScroll MozMousePixelScroll",function(t){t.preventDefault();var n=t.originalEvent.wheelDelta||-t.originalEvent.detail;if(!e("body").hasClass("disabled-onepage-scroll"))u(t,n)});if(r.responsiveFallback!=false){e(window).resize(function(){o()});o()}if(r.keyboard==true){e(document).keydown(function(t){var n=t.target.tagName.toLowerCase();if(!e("body").hasClass("disabled-onepage-scroll")){switch(t.which){case 38:if(n!="input"&&n!="textarea")i.moveUp();break;case 40:if(n!="input"&&n!="textarea")i.moveDown();break;case 32:if(n!="input"&&n!="textarea")i.moveDown();break;case 33:if(n!="input"&&n!="textarea")i.moveUp();break;case 34:if(n!="input"&&n!="textarea")i.moveDown();break;case 36:i.moveTo(1);break;case 35:i.moveTo(total);break;default:return}}})}return false}}(window.jQuery)



		$('.page-link').on('click', function(e){
			e.preventDefault();
			page_index = $( this ).data("index");
			$.fn.moveTo(page_index)
		});
	
		$( document ).ready(function() {
			var selectedVal = "";
			var selected = $("#type-selector input[type='radio']:checked");
			if (selected.length > 0) {
			    selectedVal = selected.val();
			    $('#user-type').html(selectedVal);
			}
		});
		$('#new-user-submit').on('click', function(e) {
			e.preventDefault();
			$('#new_user').submit();
			$('#newUserConfirm').foundation('reveal', 'close');
		});
		$('#new-user-decline').on('click', function(e) {
			e.preventDefault();
			$('#newUserConfirm').foundation('reveal', 'close');
		});
		$('input[name="user_type"]').on('change', function(e) {
			$('#user-type').html($(this).val());
		});

		$(".main").onepage_scroll({
		   sectionContainer: "section",     // sectionContainer accepts any kind of selector in case you don't want to use section
		   easing: "ease",                  // Easing options accepts the CSS3 easing animation such "ease", "linear", "ease-in",
		                                    // "ease-out", "ease-in-out", or even cubic bezier value such as "cubic-bezier(0.175, 0.885, 0.420, 1.310)"
		   animationTime: 1000,             // AnimationTime let you define how long each section takes to animate
		   pagination: true,                // You can either show or hide the pagination. Toggle true for show, false for hide.
		   updateURL: false,                // Toggle this true if you want the URL to be updated automatically when the user scroll to each page.
		   beforeMove: function(index) {},  // This option accepts a callback function. The function will be called before the page moves.
		   afterMove: function(index) {},   // This option accepts a callback function. The function will be called after the page moves.
		   loop: false,                     // You can have the page loop back to the top/bottom when the user navigates at up/down on the first/last page.
		   keyboard: true,                  // You can activate the keyboard controls
		   responsiveFallback: false,        // You can fallback to normal page scroll by defining the width of the browser in which
		                                    // you want the responsive fallback to be triggered. For example, set this to 600 and whenever
		                                    // the browser's width is less than 600, the fallback will kick in.
		   direction: "vertical"            // You can now define the direction of the One Page Scroll animation. Options available are "vertical" and "horizontal". The default value is "vertical".

		});

		$(window).load(function(){
		   // PAGE IS FULLY LOADED  
		   // FADE OUT YOUR OVERLAYING DIV
		   $('#overlay').fadeOut();
		});		
		

	<% end %>
<% end %>


