<div class="row">
	<div class="small-12 columns">
		<div class="collections-view-product-top">
			
			<% if !collitem.product_photos.blank? %>
				<div class="galleria-product-photos" id="galleria-product-photos-<%=collitem.id%>">
					<% collitem.product_photos.each do |photo| %>
						<%= link_to photo.photo.url(:large) do %>
							<%= image_tag photo.photo.url(:small) %>
						<% end %>
			    <% end %>
					<% content_for :javascript_foot do %>
						<% javascript_tag do %>
						initializeGallery("#galleria-product-photos-<%=collitem.id%>",300)
						<% end %>
					<% end %>		
				</div>	
			<% else %>
			<div class="galleria-product-photos distributor-default"></div>
			<% end %>
			
		</div>
	</div>
</div>


<div class="row">
	<div class="small-12 columns">
		<h2><strong style="color: #5f5f5f;"><%= collitem.brand.empty? ? "( No Name )" : collitem.brand  %></strong>
		<% unless collitem.website.blank? %>
			<%= link_to "//#{clean_url(collitem.website)}" do %>
				<i class="fi-link"></i>
			<% end %>
		<% end %>
		<br>
		<% unless collitem.category.blank? %>
			<%= Sector.find(collitem.category).name %><br>
		<% end %>
		<% unless collitem.country_of_manufacture.blank? %>
			<small>Manufactured in <%= collitem.country_of_manufacture %></small>
		<% end %>
		</h2>
	</div>
	<div class="small-12 columns">
		<% collitem.tags.each do |tag| %>
			<span class="label"><%= tag.name %></span>
		<% end %>
		<br><br>
	</div><!--/.small-12-->	
</div><!--/.row-->


