<div class="panel" data-equalizer-watch>
<h2><strong style="color: #5f5f5f;"><%= collitem.product.empty? ? "( No Name )" : collitem.product  %></strong></h2>
<div class="row">

	<div class="small-12 columns">
		<h4><strong><%= collitem.country %></strong> <small>/</small> <%= collitem.date.strftime("%B %d %Y") %> <small>/</small> 
			<% if collitem.status == "Granted" %>
				<span style="color: green;"><strong><%= collitem.status %></strong></span>
			<% else %>
				<span style="color: gray;"><strong><%= collitem.status %></strong></span>
			<% end %>
		</h4>

	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<%= simple_format(collitem.patent_description) %>
	</div>									
</div>
</div>
