
<div class="row profile-sku-item">
	<div class="medium-4 columns">
		<div class="collections-view-product-top">
			<div class="galleria-product-photos" id="galleria-product-photos-<%=collitem.id%>">
			<% if !collitem.product_photos.blank? %>
				<div class="galleria-product-photos" id="galleria-product-photos-<%=collitem.id%>">
					<% collitem.product_photos.each do |photo| %>
						<%= link_to photo.photo.url(:large) do %>
							<%= image_tag photo.photo.url(:small) %>
						<% end %>
			    <% end %>
					<% content_for :javascript_foot do %>
						<% javascript_tag do %>
						initializeGallery("#galleria-product-photos-<%=collitem.id%>",300)
						<% end %>
					<% end %>		
				</div>	
			<% else %>
			<div class="galleria-product-photos brand-default"></div>
			<% end %>
			</div>
		</div>
	</div><!--/.medium-4-->
	<div class="medium-4 columns">

		<h2><strong style="color: #5f5f5f;"><%= collitem.name.empty? ? "( No Name )" : collitem.name  %></strong><br>
		<% unless collitem.country_of_manufacture.blank? %>
			<small>Manufactured in <%= collitem.country_of_manufacture %></small>
		<% end %>
		</h2>
		<% unless collitem.msrp.blank? %>
			<h4>$<%= collitem.msrp %> MSRP</h4>
		<% end %>

		<% collitem.tags.each do |tag| %>
			<span class="tag"><%= tag.name %></span>
		<% end %>

	</div><!--/.medium-4-->
	<div class="medium-4 columns">

		<% unless collitem.description.blank? %>
			<div class="products-description">
				<%= simple_format(collitem.description) %>
			</div>
		<% end %>
		<% unless collitem.description.blank? || collitem.key_benefits.blank? %>
			<br>
		<% end %>
		<% unless collitem.key_benefits.blank? %>
			<div class="products-key-benefits">
				<h3>Key Benefits</h3>
				<%= simple_format(collitem.key_benefits) %>
			</div>
		<% end %>		

	</div><!--/.medium-4-->
</div><!--/.row-->




		
	