
<div class="row profile-sku-item">
	<div class="medium-4 columns">
		<div class="collections-view-product-top">
			<div class="galleria-product-photos" id="galleria-product-photos-<%=collitem.id%>">
			<% if !collitem.product_photos.blank? %>
				<div class="galleria-product-photos" id="galleria-product-photos-<%=collitem.id%>">
					<% collitem.product_photos.each do |photo| %>
						<%= link_to photo.photo.url(:large) do %>
							<%= image_tag photo.photo.url(:small) %>
						<% end %>
			    <% end %>
					<% content_for :javascript_foot do %>
						<% javascript_tag do %>
						initializeGallery("#galleria-product-photos-<%=collitem.id%>",300)
						<% end %>
					<% end %>		
				</div>	
			<% else %>
			<div class="galleria-product-photos brand-default"></div>
			<% end %>
			</div>
		</div>
	</div><!--/.medium-4-->
	<div class="medium-4 columns">

		<h2><strong style="color: #5f5f5f;"><%= collitem.name.empty? ? "( No Name )" : collitem.name  %></strong><br>
		<% unless collitem.country_of_manufacture.blank? %>
			<small>Manufactured in <%= collitem.country_of_manufacture %></small>
		<% end %>
		</h2>
		<% if collitem.price.present? %>
			<h4><%= number_to_currency(collitem.price_in_dollars) %> MSRP</h4>
		<% elsif collitem.msrp.present? %>
			<h4>$<%= collitem.msrp %> MSRP</h4>
		<% end %>

		<% if collitem.item_id.present? %>
			<h4>Product ID Number: <%= collitem.item_id %></h4>
		<% end %>

		<% if collitem.item_size.present? %>
			<h4>Size: <%= collitem.item_size %></h4>
		<% end %>

		<% if collitem.ingredients.present? %>
			<h4>Ingredients: <%= collitem.ingredients %></h4>
		<% end %>

		<% collitem.tags.each do |tag| %>
			<span class="tag"><%= tag.name %></span>
		<% end %>

		<% if @current_user.can_order && !collitem.price.blank? && !submitted_order(profile) && !pending_order(profile) && collitem.current %>
		<div class="row">
			<div class="small-12 columns">
				<%= link_to "Order this SKU", new_order_item_url(collitem.id), remote: true, class: "landing-button order-sku-button" %>
			</div><!--/.small-12-->
		</div><!--/.row-->
		<% end %>

	</div><!--/.medium-4-->
	<div class="medium-4 columns">

		<% unless collitem.description.blank? %>
			<div class="products-description">
				<%= simple_format(collitem.description) %>
			</div>
		<% end %>
		<% unless collitem.description.blank? || collitem.key_benefits.blank? %>
			<br>
		<% end %>
		<% unless collitem.key_benefits.blank? %>
			<div class="products-key-benefits">
				<h3>Key Benefits</h3>
				<%= simple_format(collitem.key_benefits) %>
			</div>
		<% end %>		

	</div><!--/.medium-4-->
</div><!--/.row-->




		
	