<div class="panel" data-equalizer-watch>
<h2><strong style="color: #5f5f5f;"><%= collitem.name.empty? ? "( No Name )" : collitem.name  %></strong>
		<% unless collitem.website.blank? %>
			<%= link_to "//#{clean_url(collitem.website)}", target: "blank" do %>
				<i class="fi-link"></i>
			<% end %>
		<% end %>

</h2>
<div class="row">
	<div class="medium-12 columns">
		<h4><strong><%= collitem.country %></strong> <small>/</small> <%= collitem.date ? collitem.date.strftime("%b %Y") : ""  %>
<small>/</small>
Participant for <%= collitem.years_participated %> years
		</h4>
	</div>
</div>
</div>
