<div class="profile-container">
	<div class="profile-content profile-general-info-preview">

	<div class="hide-for-small-only">
	<ul>
		<li>
			<% if profile.class.to_s == "Brand" %>
			<div class="title">Trends</div>
			<div class="data">
				<% if profile.trends.blank? %>
					n/a
				<% else %>
					<% profile.trends.each do |t| %>
						<%= t.name %><br>
					<% end %>
				<% end %>
			</div>
			<% end %>
		</li>
		<li>
			<div class="title">Country</div>
			<div class="data">
			<% if profile.country_of_origin.blank? %>
				n/a
			<% else %>
			<%= profile.country_of_origin %>
			</div>
			<% end %>
		</li>
		<li>
			<div class="title">Company Size</div>
			<div class="data">
			<% if profile.company_size.blank? %>
				n/a
			<% else %>
				<%= CompanySize.find(profile.company_size).name rescue nil %>
			<% end %>
			</div>
		</li>
		<li>
			<div class="title">Sector</div>
			<div class="data">
			<% if profile.sectors.blank? %>
				n/a
			<% else %>
				
				<% profile.sectors.order_by(:name => "asc").each do |s| %>
					<%= s.name %><br>
					<% unless profile.subsectors.blank? %>
						<% profile.subsectors.order_by(:name => "asc").each do |ss| %>
							<% if ss.sector == s %>
							&nbsp;&nbsp;&ndash; <%= ss.name %><br>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
			</div>
		</li>
	</ul>
	</div>

	<div class="show-for-small-only">

		<% if profile.class.to_s == "Brand" %>
		<div class="row">
			<div class="small-12 columns">
				<div class="title">Trends</div>
				<div class="data">
				<% if profile.trends.blank? %>
					n/a
				<% else %>
					<% profile.trends.each do |t| %>
						<%= t.name %>
					<% end %>
				<% end %>
				</div>
			</div><!--/.small-12-->
		</div><!--/.row-->
		<% end %>

		<div class="row">
			<div class="small-12 columns">
					<div class="title">Country</div>
					<div class="data">
					<% if profile.country_of_origin.blank? %>
						n/a
					<% else %>
					<%= profile.country_of_origin %>
					<% end %>
					</div>
			</div><!--/.small-12-->
		</div><!--/.row-->


		<div class="row">
			<div class="small-12 columns">
					<div class="title">Company Size</div>
					<div class="data">
					<% if profile.company_size.blank? %>
						n/a
					<% else %>
					<%= CompanySize.find(profile.company_size).name rescue nil %>
					<% end %>
					</div>
			</div><!--/.small-12-->
		</div><!--/.row-->


		<div class="row">
			<div class="small-12 columns">
					<div class="title">Sector</div>
					<div class="data">
					<% if profile.sectors.blank? %>
						n/a
					<% else %>
						<% profile.sectors.order_by(:name => "asc").each do |s| %>
							<%= s.name %><br>
							<% unless profile.subsectors.blank? %>
								<% profile.subsectors.order_by(:name => "asc").each do |ss| %>
									<% if ss.sector == s %>
									&nbsp;&nbsp;&ndash; <%= ss.name %><br>
									<% end %>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
					</div>
			</div><!--/.small-12-->
		</div><!--/.row-->

	</div>


	</div>
	
</div>	