<ul class="navlist" id="left">
	<li <%= section == "profile" ? "class=active" : "" %>>
		<%= link_to eval("view_#{profile.class.to_s.downcase}_url(profile)") do %>
		<div id="profile">PROFILE</div>
		<% end %>
	</li>
	<% if show_orders(profile) %>
		<% if @current_user.company.orders.of_company(company_id: profile.id, type: profile.class.to_s.downcase).count > 0 %>
		<li <%= section == "orders" ? "class=active" : "" %>>
			<%= link_to orders_url(company_id: profile) do %>
				<div id="orders">ORDERS</div>
			<% end %>
		</li>
		<% end %>
	<% end %>
	<% if @current_user.type? != "brand" && order = open_order(profile) %>
	<li <%= section == "cart" ? "class=active" : "" %>>
		<%= link_to order_url(order) do %>
			<div id="shopping-cart">CART <div class="count"><%= order.order_items.count %></div></div>
		<% end %>
	</li>
	<% end %>

</ul>
<ul class="navlist" id="right">
	<li>
		Have questions? <%= link_to "Contact #{profile.company_name}", new_simple_message_url(profile), remote:true %>
	</li>
</ul>