	

	<div id="add-comment-container">
		<a name="add_comment"></a>
		<a href="#" id="show-add-comment">add comment</a>
		<div class="text-center" id="add-comment-display">

					<%= form_for Comment.new, remote: true do |f| %>
						<%= hidden_field_tag "order_id", order.id %>
						<%= hidden_field_tag "order_updated", order.u_at %>
						<%= f.text_area :text, label: false, rows: 10 %>
						<div class="inline-error" id="comment-error"></div>
						<%= f.submit "Add Comment", class: "landing-button" %>
					<% end %>

		</div>
	</div><!--/.order-comment-display-->
