<ul class="order-index-filters">
	<li <%= filter == "current" ? "class=active" : "" %>><%= link_to orders_url(f:'current') do %>Open <%= filter == "current" ? " Orders" : "" %><% end %></li>
	<li <%= filter == "submitted" ? "class=active" : "" %>><%= link_to orders_url(f:'submitted') do %>Submitted <%= filter == "submitted" ? "Orders" : "" %><% end %></li>
	<li <%= filter == "pending" ? "class=active" : "" %>><%= link_to orders_url(f:'pending') do %><%= filter == "pending" ? "Orders" : "" %>Pending<%= filter == "pending" ? " Approval" : "" %><% end %></li>
	<li <%= filter == "approved" ? "class=active" : "" %>><%= link_to orders_url(f:'approved') do %>Approved <%= filter == "approved" ? "Orders" : "" %><% end %></li>
	<li <%= filter == "paid" ? "class=active" : "" %>><%= link_to orders_url(f:'paid') do %>Paid <%= filter == "paid" ? "Orders" : "" %><% end %></li>
	<li <%= filter == "shipped" ? "class=active" : "" %>><%= link_to orders_url(f:'shipped') do %>Shipped <%= filter == "shipped" ? "Orders" : "" %><% end %></li>
	<li <%= filter == "delivered" ? "class=active" : "" %>><%= link_to orders_url(f:'delivered') do %>Delivered <%= filter == "delivered" ? "Order" : "" %><% end %></li>
	<% if filter == "disputed" %>
	<li class="active"><%= link_to orders_url(f:'disputed') do %>Disputed Orders<% end %></li>
	<% end %>
	<% if filter == "error" %>
	<li class="active"><%= link_to orders_url(f:'error') do %>Orders in Error<% end %></li>
	<% end %>
	<li <%= filter == "completed" ? "class=active" : "" %>><%= link_to orders_url(f:'completed') do %>Completed <%= filter == "completed" ? "Orders" : "" %><% end %></li>
	<li <%= !filter ? "class=active" : "" %>><%= link_to orders_url do %>All Active <%= !filter ? "Orders" : "" %> <% end %></li>
</ul>
