<table class="sortable" id="order-index" style="table-layout: fixed;">
	<thead>
		<tr>
			<th><%= @current_user.type? == "brand" ? "Buyer" : "Brand" %></th>
			<th>Total</th>
			<th>Buyer PO#</th>
			<th>Landing PO#</th>
			<th>Products</th>
			<th>Fulfillment</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<% if orders.any? %>
			<% orders.each do |o| %>
			<tr>
				<td><%= link_to order_url(o), target: 'blank' do %><%= @current_user.type? == "brand" ? o.orderer.company_name : o.brand.company_name %><% end %></td>
				<td><%= link_to order_url(o), target: 'blank' do %><%= number_to_currency(o.total_price) %><% end %></td>
				<td><%= link_to order_url(o), target: 'blank' do %><%= o.orderer_order_reference_id %><% end %></td>
				<td><%= link_to order_url(o), target: 'blank' do %><%= o.landing_order_reference_id %><% end %></td>
				<td><%= link_to order_url(o), target: 'blank' do %><%= o.order_items.pluck(:name).join("<br>").html_safe %><% end %></td>
				<td><%= link_to order_url(o), target: 'blank' do %><%= o.landing_fulfillment_services ? "YES" : "NO" %><% end %></td>
				<td <%= sortable_status(o.status) %>><%= link_to order_url(o), target: 'blank' do %><%= o.status.capitalize unless o.status == "open" %><%= o.status == "open" ? "In Cart" : "" %><% end %></td>
			</tr>
			<% end %>
		<% else %>
			<tr><td colspan="7" class="text-center">No Orders</td></tr>
		<% end %>
	</tbody>
</table>