<% unless controller_name == "home" %>
	<div class="editform">
	<div class="panel">
	<%= form_tag orders_search_url, remote: true do %>
		<div class="row">
			<div class="small-12 columns">
				<h2 class="text-center">SEARCH:</h2>
				<%= search_field_tag 'query_general_search', nil, {id: 'orders-search-input-general', placeholder: 'by ORDER AMOUNT / BUYER PO / LANDING PO', class: 'auto-form-text', style: 'text-align:center;'} %>
			</div><!--/.small-12-->
		</div><!--/.row-->
		<div class="row">
			<div class="small-12 columns">
				<h2 class="text-center">FILTERS:</h2>
				<% buyers_list = @current_user.company.orders.map { |order| [order.orderer_company_name, order.orderer.id] } %>
				<div class="row">
					<div class="medium-3 columns"><h3>buyers:</h3><%= select_tag "[filters]buyers", options_for_select(buyers_list.uniq), class: 'auto-form', include_blank: '(all)', style: 'margin-bottom: 0' %></div><!--/.medium-3-->
					<div class="medium-3 columns"><h3>products:</h3><%= select_tag "[filters]products", options_for_select(@current_user.company.orders.map{ |o| o.order_items.pluck(:name)}.flatten.uniq.sort!), class: 'auto-form', include_blank: '(all)', style: 'margin-bottom: 0' %></div><!--/.medium-3-->
					<div class="medium-2 columns"><h3>fulfillment:</h3><%= select_tag "[filters]fulfillment", options_for_select([['Yes',true],['No',false]]), class: 'auto-form', include_blank: '(all)', style: 'margin-bottom: 0' %></div><!--/.medium-3-->
					<div class="medium-2 columns"><h3>status:</h3><%= select_tag "[filters]status", options_for_select([['Submitted','submitted'],['Pending','pending'],['Approved','approved'],['Paid','paid'],['Shipped','shipped'],['Delivered','delivered'],['Completed','completed']]), class: 'auto-form', include_blank: '(all)', style: 'margin-bottom: 0' %></div><!--/.medium-3-->
					<div class="medium-2 columns"><h3>show completed:</h3>
					<%= select_tag :show_completed, options_for_select([['No','0'],['Yes','1']]), class: 'auto-form', style: 'margin-bottom: 0' %>
					</div><!--/.medium-3-->
				</div><!--/.row-->
				<div class="row">
					<div class="small-12 columns">&nbsp;</div><!--/.small-12-->
				</div><!--/.row-->
				<div class="row">
					<div class="small-12 columns text-center">
						<%= link_to "CLEAR ALL SEARCHES / FILTERS", orders_url, style: "color: #33CCFF; font-weight: 200;" %>
					</div><!--/.small-12-->
				</div><!--/.row-->
			</div><!--/.small-12-->
		</div><!--/.row-->
	<% end %>
	</div>
	</div>
<% end %>
<div id="orders-search-reults">
	<%= render partial: "orders/orders_search_results", locals: { orders: orders } %>
</div>
