<div class="row">
	<div class="medium-10 medium-centered text-center columns">
		<div class="row">
			<div class="medium-6 columns">

				<div class="row collapse">
					<div class="small-5 columns text-left">
						<span class="prefix">Ship Date</span>
					</div><!--/.small-5-->
					<div class="small-7 columns">
						<%= form_for order, remote: true, authenticity_token: true do |f| %>
							<% if order.ship_date %>
								<%= f.text_field :ship_date, label: false, value: order.ship_date.strftime("%m/%d/%Y"), placeholder: "(none)" , class: "datepick auto-form" %>
							<% else %>
								<%= f.text_field :ship_date, label: false, value: "(none)", placeholder: "(none)", class: "datepick auto-form" %>
							<% end %>
						<% end %>
					</div><!--/.small-7-->
				</div><!--/.row-->

			</div><!--/.medium-6-->
			<div class="medium-6 columns">
				<div class="row collapse">
					<div class="small-5 columns text-left">
						<span class="prefix">Ship to U.S. Date</span>
					</div><!--/.small-5-->
					<div class="small-7 columns">
						<%= form_for order, remote: true, authenticity_token: true do |f| %>
							<% if order.ship_to_us_date %>
								<%= f.text_field :ship_to_us_date, label: false, value: order.ship_to_us_date.strftime("%m/%d/%Y"), placeholder: '(none)' , class: "datepick auto-form" %>
							<% else %>
								<%= f.text_field :ship_to_us_date, label: false, value: "(none)", placeholder: "(none)", class: "datepick auto-form"%>
							<% end %>
						<% end %>
					</div><!--/.small-7-->
				</div><!--/.row-->
			</div><!--/.medium-6-->

		</div><!--/.row-->
		<div class="row">

			<div class="medium-6 columns">
				<div class="row collapse">
					<div class="small-5 columns text-left">
						<span class="prefix">Cancel Date</span>
					</div><!--/.small-5-->
					<div class="small-7 columns">
						<%= form_for order, remote: true, authenticity_token: true do |f| %>
							<% if order.cancel_date %>
								<%= f.text_field :cancel_date, label: false, value: order.cancel_date.strftime("%m/%d/%Y"), placeholder: '(none)' , class: "datepick auto-form" %>
							<% else %>
								<%= f.text_field :cancel_date, label: false, value: "(none)", placeholder: "(none)", class: "datepick auto-form"%>
							<% end %>
						<% end %>
					</div><!--/.small-7-->
				</div><!--/.row-->
			</div><!--/.medium-6-->

			<div class="medium-6 columns">
				<div class="row collapse">
					<div class="small-5 columns text-left">
						<span class="prefix">Estimated Payment Date</span>
					</div><!--/.small-5-->
					<div class="small-7 columns">
						<%= form_for order, remote: true, authenticity_token: true do |f| %>
							<% if order.estimated_payment_date %>
								<%= f.text_field :estimated_payment_date, label: false, value: order.estimated_payment_date.strftime("%m/%d/%Y"), placeholder: '(none)' , class: "datepick auto-form" %>
							<% else %>
								<%= f.text_field :estimated_payment_date, label: false, value: "(none)", placeholder: "(none)", class: "datepick auto-form"%>
							<% end %>
						<% end %>
					</div><!--/.small-7-->
				</div><!--/.row-->
			</div><!--/.medium-6-->

		</div><!--/.row-->
	</div><!--/.medium-6 medium-centered-->
</div><!--/.row-->