<div class="container marketplace">
	<% if @current_user.type? == "brand" %>
	<%= render partial: "shared/v2/container/marketplace_lead", locals: {close_link: dashboard_url , subhead: "view #{get_company_type(order.orderer).capitalize}"} %>
	<% else %>
	<%= render partial: "shared/v2/container/marketplace_lead", locals: {close_link: dashboard_url , subhead: "view brand"} %>
	<% end %>
	<div id="main-body">
		<% if @current_user.company_type == "Brand" %>
			<% if order.status == "open" %>
				<%= render partial: "/shared/profile/components/profile_nav", locals: { profile: order.orderer, section: "cart" } %>
			<% else %>
				<%= render partial: "/shared/profile/components/profile_nav", locals: { profile: order.orderer, section: "orders" } %>
				<%= render partial: "company_order_header", locals: { profile: order.orderer, order: order} %>
			<% end %>
			<%= render partial: "orders/showfull/#{order.status}_brand", locals: {order: order} %>
		<% elsif @current_user.company_type != "Brand" %>
			<% if order.status == "open" %>
				<%= render partial: "/shared/profile/components/profile_nav", locals: { profile: order.brand, section: "cart" } %>
			<% else %>
				<%= render partial: "/shared/profile/components/profile_nav", locals: { profile: order.brand, section: "orders" } %>
				<%= render partial: "company_order_header", locals: { profile: order.brand, order: order } %>
			<% end %>
			<%= render partial: "orders/showfull/#{order.status}_orderer", locals: {order: order} %>
		<% end %>

	</div><!--/#main-body-->
</div><!--/#container-->