<% if @current_user.company_type == "Brand" %>
	<% if order.status == "open" %>
		<%= render partial: "/shared/profile/components/profile_nav", locals: { profile: order.orderer, section: "cart" } %>
	<% else %>
		<%= render partial: "/shared/profile/components/profile_nav", locals: { profile: order.orderer, section: "orders" } %>
		<div class="row">
			<div class="small-12 columns text-center"><h3>Order Created: <%= order.c_at.strftime("%m%d%y") %></h3></div><!--/.small-12-->
		</div><!--/.row-->
	<% end %>
	<%= render partial: "orders/showfull/#{order.status}_brand", locals: {order: order} %>
<% elsif @current_user.company_type != "Brand" %>
	<% if order.status == "open" %>
		<%= render partial: "/shared/profile/components/profile_nav", locals: { profile: order.brand, section: "cart" } %>
	<% else %>
		<%= render partial: "/shared/profile/components/profile_nav", locals: { profile: order.brand, section: "orders" } %>
		<div class="row">
			<div class="small-12 columns text-center"><h3>Order Created: <%= order.c_at.strftime("%m%d%y") %></h3></div><!--/.small-12-->
		</div><!--/.row-->
	<% end %>
	<%= render partial: "orders/showfull/#{order.status}_orderer", locals: {order: order} %>
<% end %>