<% if @order.status == "submitted" %>
	<div class="row">
		<div class="small-12 columns text-center">
			<h3>Your order has been submitted to <br><strong><%= @order.brand.company_name %></strong></h3>
			<h3>Thank you for your order. You should receive a final invoice shortly with the estimated shipping time and costs.</h3>
		</div><!--/.small-12-->
	</div><!--/.row-->
	<div class="row">
		<div class="small-12 columns text-center">
			<%= link_to "OK", view_brand_url(@order.brand), class: "landing-button", id: "submit-close" %>
		</div><!--/.small-12-->
	</div><!--/.row-->
<% else %>
	<div class="row">
		<div class="small-12 columns text-center">
			<h2>Would you like to submit this order to <br><strong><%= @order.brand.company_name %></strong></h2>
		</div><!--/.small-12-->
	</div><!--/.row-->
	<div class="row">
		<div class="small-12 columns text-center">
			<%= link_to "Yes", submit_order_url(@order,1), class: "landing-button", remote: true %>
			<%= link_to "Not Yet", view_brand_url(@order.brand), class: "landing-button secondary", id: "submit-close" %>
		</div><!--/.small-12-->
	</div><!--/.row-->
<% end %>