<%= render partial: "shared/topbar" %>

<br>
<div class="row">
	<div class="small-11 small-centered columns">

		<div class="row">
			<div class="small-12 columns">

				<div id="dashboard-marketplace-header">
					<%= image_tag "logo_header_marketplace.svg" %>
				</div>

				<div class="row">
					<div class="small-12 columns">
						<div class="panel">
							<h2><%= link_to "Dashboard", dashboard_url, style: "color:black;"%> > Orders</h2>
						</div>
					</div><!--/.small-12-->
				</div><!--/.row-->

				<div class="row">
					<div class="medium-2 columns">
						<%= render partial: "home/orders_chart", locals: { filter: @filter } %>
					</div><!--/.medium-2-->
					<div class="medium-10 columns">
							<%= render partial: 'order_index', locals: { orders: @orders } %>
					</div><!--/.medium-10-->
				</div><!--/.row-->

			</div><!--/.small-12-->
		</div><!--/.row-->

	</div><!--/.small-11-->
</div><!--/.row-->


<%= render partial: 'shared/v2/footer/main' %>