<%= render partial: "shared/topbar" %>


<div class="row">
	<div class="medium-11 medium-centered columns">
		<div class="container marketplace">

			<div id="lead">
				<div id="title">
				<% if @company_filter %>
					MARKETPLACE <span id="sub"><%= get_company_type(@company_filter).capitalize %> View - Orders</span>
				<% else %>
					MARKETPLACE <span id="sub">All Orders</span>
				<% end %>
				</div><div id="close"><%= link_to root_url do %><i class="fi-x"></i><% end %></div>
			</div><!--/#lead-->

			<div id="main-body">

				<% if company = get_company(@company_filter) %>
				<%= render partial: "/shared/profile/components/profile_nav", locals: { profile: company, section: "orders"  } %>
				<% end %>


				<div class="row">
					<div class="small-12 columns">

						<% if company = get_company(@company_filter) %>
							<div class="row">
								<div class="small-12 columns">
									<h2><strong>All <%= company.company_name %> Orders</strong></h2>
								</div><!--/.small-12-->
							</div><!--/.row-->
						<% else %>

						<% end %>
						<div class="row">
							<div class="medium-2 columns">
								<%= render partial: "home/orders_chart", locals: { filter: @filter, company_id: @company_filter} %>
							</div><!--/.medium-2-->
							<div class="medium-10 columns">
									<%= render partial: 'order_index', locals: { orders: @orders } %>
							</div><!--/.medium-10-->
						</div><!--/.row-->

					</div><!--/.small-12-->
				</div><!--/.row-->

			</div><!--/#main-body-->
		</div><!--/#container-->

	</div><!--/.medium-11 medium-centered-->
</div><!--/.row-->
<%= render partial: 'shared/v2/footer/main' %>