<%= render partial: 'shared/v2/header/main' %>
<%= render partial: 'shared/v2/header/marketplace' %>

<div class="row">
	<div class="medium-11 medium-centered columns" id="full-order">
		<%= render partial: "show_order_full", locals: { order: @order } %>
	</div><!--/.medium-11 medium-centered-->
</div><!--/.row-->

<div class="printable">
	<%= render partial: "orders/print/header", locals: { order: @order } %>
	<%= render partial: "orders/print/table", locals: { order: @order } %>
	<%= render partial: "orders/print/comments", locals: { order: @order } %>
</div>
<%= render partial: 'shared/v2/footer/main' %>