<%= render partial: 'shared/v2/header/main' %>

<% if @current_user.brand %>
<div class="row">
	<div class="small-12 columns">
		<nav class="breadcrumbs">
			<% if @order.orderer_type == "Retailer" %>
			<%= link_to "Retailers", "#" %>
			<%= link_to "Find", "#" %>
		  <%= link_to @order.orderer.company_name, "#" %>
		  <% elsif @order.orderer_type == "Distributor" %>
			<%= link_to "Distributors", "#" %>
			<%= link_to "Find", "#" %>
		  <%= link_to @order.orderer.company_name, "#" %>
		  <% end %>
		  <a class="current" href="#">Order</a>
		</nav>
	</div>
</div>
<% else %>
<div class="row">
	<div class="small-12 columns">
		<nav class="breadcrumbs">
			<%= link_to "Beauty", root_url %>
		  <%= link_to "Find", brands_url %>
		  <%= link_to @order.brand.company_name, view_brand_url(@order.brand) %>
		  <a class="current" href="#">Order</a>
		</nav>
	</div>
</div>
<% end %>


<%= render "show_order_full" %>