<%= render partial: 'shared/v2/header/main' %>
<%= render partial: 'shared/v2/header/sub_beauty' %>

<div class="article">
	<div class="row">
		<div class="small-12 columns text-center">
			<%= image_tag 'v2/5free.png' %>
		</div><!--/.small-12-->
	</div><!--/.row-->
	<div class="row articlepreviewtext">
		<div class="medium-8 columns">
			<div class="row">
				<div class="medium-10 medium-push-2 columns">
					<h1>5-Free Nail Polish Revolution</h1>
					<h2>REPORT / ANALYSIS on TRENDS</h2>
				</div><!--/.small-12-->
			</div><!--/.row-->
			<div class="row">
				<div class="medium-10 medium-push-2 columns">
					<div class="byline">12.03.15 by Sarah Chung</div>
					<div class="social">Share: 
						<a href="https://twitter.com/share" class="twitter-share-button"{count}>Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<a href="https://www.pinterest.com/pin/create/button/">
    <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
</a>


					</div>

					<p>The nail polish industry has seen a boom in recent years. In 2012, sales of nail polish reached $768 million in the U.S. and an unprecedented $6 billion globally. The sweeping trend toward toxic-free, 5-Free and 7-Free nail polish should perk the interest of retailers, beauty distributors and salon/spa owners.</p>

					<p>Consumer concern about nail damage from frequent polishing as well as a broader consumer concern about product ingredients is fueling interest in natural and gentle products.</p>

					<p>In the U.S., natural and toxic-free nail polishes are popping up in spas, salons, beauty retailers (Sephora, ULTA) as well as mainstream retailers such as Bergdorf Goodman and Urban Outfitters.</p>

					<ul class="pullquote">
					<li>21% of all nail product users worry that nail polish is damaging their nails, according to Mintel.</li>
					<li>Almost 1 in 5 of nail polish users are concerned about chemicals in nail polish.</li>
					<li>67% of nail product users report interest in natural/low-chemical nail polishes.</li>
					</ul>

					<p>Kim D'Amato, owner of PritiNYC, says her best selling item is the soy remover with lemongrass essential oils, which is also non-toxic and biodegradable.  D'Amato launched the first organic spa in NYC in 2004 and started PritiNYC in 2010 for use in her own spa. She now sells her 5-Free nail polish line to retailers as well as other spas and salons. Her best selling color? 222 Coronation.</p>

					<p>"There has been a significant movement toward safer nail products in the salon and spa world," says Branka Tomic, Creative Director at LVX, a 7 toxin free, TPHP free,  cruelty free and Vegan nail polish line. While LVX is currently sold in both retail and professional channels, Tomic expects professional to surpass retail in 2016.  Their top-selling product is their 3 in 1 Treatment - a triple function treatment which can be used as a nail strengthener, base coat and top coat.  It contains horsetail, a healing herb, Tomic says, proven to help nails grow faster and stronger.</p>


				</div><!--/.medium-10 medium-push-2-->
			</div><!--/.row-->
		</div><!--/.medium-8-->
		<div class="medium-4 columns">
			<div class="show-for-small-only"><br></div>
			<h3>FEATURING</h3>
			<ul class="featuringlist">
				<li><span class="image"><%= image_tag "/images/v2/RGB.png" %></span> RGB</li>
				<li><span class="image"><%= image_tag "/images/v2/lvx.png" %></span> LVX</li>
				<li><span class="image"><%= image_tag "/images/v2/scotch.png" %></span> Scotch Naturals</li>
				<li><span class="image"><%= image_tag "/images/v2/smithcult.png" %></span> Smith &amp; Cult</li>
				<li><span class="image"><%= image_tag "/images/v2/priti.png" %></span> Priti NYC</li>
			</ul>
		</div><!--/.medium-4-->
	</div><!--/.row-->
</div>

<%= render partial: 'shared/v2/footer/main' %>