<%= render partial: 'shared/v2/header/main' %>
<%= render partial: 'shared/v2/header/marketplace' %>
<div class="pages-wrapper">

<div class="row">
	<div class="medium-10 medium-centered columns">
		<div id="brands-intro">
			<div class="row">
				<div class="medium-8 medium-push-4 columns">
					<h1>Hello, Brands!</h1>
				</div><!--/.medium-8-->
			</div><!--/.row-->
			<div class="row">
				<div class="medium-8 medium-push-4 columns">
					<h2>Want to get your products placed in some of the industry’s best beauty retailers?<br> Join our online marketplace!</h2>
					<ul>
						<li>Allows all of our buyers to place orders for your products</li>
						<li>Gets eyes on your brand and products for a low cost</li>
						<li>Gives you access to our library of international business guides</li>
						<li>Unlocks monthly emails ensuring you’re on the right track to getting your products into new U.S. retailers</li>
						<li>$600/year for verified brands.</li>
					</ul>
					<br><br>
					<%= link_to "Join Now!", new_user_path, class: "landing-button" %>
				</div><!--/.medium-8-->
				<div class="medium-4 medium-pull-8 columns">
					<h3 id="retail-partners">Our Retail Partners</h3>
					<%= image_tag "/images/brands_logos.png"%>
				</div><!--/.medium-4-->
			</div>
		</div>
	</div><!--/.small-12-->
</div><!--/.row-->

</div><!--/.pages-wrapper-->
<%= render partial: 'shared/v2/footer/main' %>