<%= render partial: 'shared/v2/header/main' %>
<%= render partial: 'shared/v2/header/sub_beauty' %>


<div class="row">
	<div class="small-12 columns">
		<nav class="breadcrumbs">
			<%= link_to "Beauty", root_url %>
			<%= link_to "Read", root_url %>
		  <a class="current" href="#">Consumers Will Pay More for Cruelty-Free, All-Natural Beauty</a>
		</nav>
	</div><!--/.small-12-->
</div><!--/.row-->

<div class="article">
	<div class="row">
		<div class="small-12 columns text-center">
		<div id="article-carousel" class="owl-carousel owl-theme"> 
		  <div class="item"><%= image_tag 'v2/cruelty_free.png' %></div>
		</div>

			<% content_for :javascript_foot do %>
			  <%= javascript_tag do %>
					$(document).ready(function() {

				  $("#article-carousel").owlCarousel({
				 
				      navigation : true, // Show next and prev buttons
				      slideSpeed : 300,
				      paginationSpeed : 400,
				      singleItem:true,
				      navigation : true,
				      navigationText : [
				      	"<img src='/images/v2/left-arrow.svg'>",
				      	"<img src='/images/v2/right-arrow.svg'>",
				      ],
				 
				      // "singleItem:true" is a shortcut for:
				      // items : 1, 
				      // itemsDesktop : false,
				      // itemsDesktopSmall : false,
				      // itemsTablet: false,
				      // itemsMobile : false
				 
				  });

					});
			  <% end %>
			<% end %>
			
		</div><!--/.small-12-->
	</div><!--/.row-->
	<div class="row articlepreviewtext">
		<div class="medium-8 columns">
			<div class="row">
				<div class="medium-10 medium-push-2 columns">
					<h1>Consumers Will Pay More for Cruelty-Free, All-Natural Beauty</h1>
					<h2>REPORT / ANALYSIS on TRENDS</h2>
				</div><!--/.small-12-->
			</div><!--/.row-->
			<div class="row">
				<div class="medium-10 medium-push-2 columns">
					<div class="byline">12.03.15 by Sarah Chung</div>
					<div class="social">Share: 
						<a href="https://twitter.com/share" class="twitter-share-button"{count}>Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<a href="https://www.pinterest.com/pin/create/button/">
    <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
</a>


					</div>

					<p>Here at Landing, we are focused on connecting distributors and retailers with “Good for People, Good for Planet” brands. It turns out that not only are Good for People, Good for Planet claims desired by consumers but they willing to put their money where their mouth is.</p>

					<p>57% of consumers say “Not tested on animals” is important when they’re selecting beauty products, according to a recent Nielsen survey. Furthermore, 43% are willing to pay more to select a cruelty-free brand. The top claim consumers will pay more for when it comes to beauty products? All Natural.</p>

					<p>Quick plug: <br>
					We try to make it easy for distributors and retailers to find brands by the Good for People, Good for Planet” claims by tagging good product and business practices.</p>

					<%= image_tag 'v2/tags.png' %>

					<ul class="callout">
					<li class="header">BEAUTY LABEL CLAIMS THAT CONSUMERS  FIND IMPORTANT</li>

					<li>
					<span class="column-left">	
					<strong>Claim</strong><br>
					Not tested on animals<br>
					Contains SPF<br>
					All Natural<br>
					Contains No Animal Products<br>
					Perfume Free<br>
					Sulfate Free<br>
					Contains Cocoa/Shea Butter/aloe<br>
					No parabens<br>
					PABA-Free<br>
					Organic
					</span>

					<span class="column-right">	
						<strong>% Who Say 'Very' or 'Moderately' Important</strong><br>
						57%<br>
						56%<br>
						53%<br>
						52%<br>
						40%<br>
						40%<br>
						38%<br>
						37%<br>
						37%<br>
						37%
					</span>
					</li>
					<li>SOURCE: NIELSEN</li>
					</ul>


					<ul class="callout">
					<li class="header">BEAUTY LABEL CLAIMS THAT CONSUMERS  WILL PAY MORE FOR</li>

					<li>
					<span class="column-left">	
						<strong>Claim</strong><br>
						Not tested on animals<br>
						Contains SPF<br>
						All Natural<br>
						Contains No Animal Products<br>
						Perfume Free<br>
						Sulfate Free<br>
						Contains Cocoa/Shea Butter/aloe<br>
						No parabens<br>
						PABA-Free<br>
						Organic<br>
					</span>

					<span class="column-right">	
						<strong>% Who Say 'Very' or 'Moderately' Important</strong><br>
						57%<br>
						56%<br>
						53%<br>
						52%<br>
						40%<br>
						40%<br>
						38%<br>
						37%<br>
						37%<br>
						37%<br>
					</span>
					</li>
					<li>SOURCE: NIELSEN</li>
					</ul>



				</div><!--/.medium-10 medium-push-2-->
			</div><!--/.row-->
		</div><!--/.medium-8-->
		<div class="medium-4 columns">
			<div class="show-for-small-only"><br></div>
			<h3>FEATURING</h3>
			<ul class="featuringlist">
				<li> 
					<div class="row">
						<div class="small-4 columns">
							<%= image_tag "/images/v2/pur_feature_1.png" %>
						</div><!--/.small-6-->
						<div class="small-6 columns text-left end">
							[ITEM 1]
						</div><!--/.small-6-->
					</div><!--/.row-->
				</li>
				<li> 
					<div class="row">
						<div class="small-4 columns">
							<%= image_tag "/images/v2/pur_feature_2.png" %>
						</div><!--/.small-6-->
						<div class="small-6 columns text-left end">
							[ITEM 2]
						</div><!--/.small-6-->
					</div><!--/.row-->
				</li>
			</ul>
		</div><!--/.medium-4-->
	</div><!--/.row-->
</div>


<%= render partial: 'shared/v2/footer/main' %>