<%= render partial: 'shared/v2/header/main' %>
<%= render partial: 'shared/v2/header/sub_beauty' %>

<div class="row">
	<div class="small-12 columns">
		<nav class="breadcrumbs">
			<%= link_to "Beauty", root_url %>
			<%= link_to "Read", root_url %>
		  <a class="current" href="#">PUR Cosmetics</a>
		</nav>
	</div><!--/.small-12-->
</div><!--/.row-->

<div class="article">
	<div class="row">
		<div class="small-12 columns text-center">
		<div id="article-carousel" class="owl-carousel owl-theme"> 
		  <div class="item"><%= image_tag 'v2/pur_large_banner.png' %></div>
			<div class="item"><%= image_tag 'v2/pur1.png' %></div>
			<div class="item"><%= image_tag 'v2/pur2.png' %></div>
			<div class="item"><%= image_tag 'v2/pur3.png' %></div>
			<div class="item"><%= image_tag 'v2/pur4.png' %></div>
			<div class="item"><%= image_tag 'v2/pur5.png' %></div>
		</div>

			<% content_for :javascript_foot do %>
			  <%= javascript_tag do %>
					$(document).ready(function() {

				  $("#article-carousel").owlCarousel({
				 
				      navigation : true, // Show next and prev buttons
				      slideSpeed : 300,
				      paginationSpeed : 400,
				      singleItem:true,
				      navigation : true,
				      navigationText : [
				      	"<img src='/images/v2/left-arrow.svg'>",
				      	"<img src='/images/v2/right-arrow.svg'>",
				      ],
				 
				      // "singleItem:true" is a shortcut for:
				      // items : 1, 
				      // itemsDesktop : false,
				      // itemsDesktopSmall : false,
				      // itemsTablet: false,
				      // itemsMobile : false
				 
				  });

					});
			  <% end %>
			<% end %>
			
		</div><!--/.small-12-->
	</div><!--/.row-->
	<div class="row articlepreviewtext">
		<div class="medium-8 columns">
			<div class="row">
				<div class="medium-10 medium-push-2 columns">
					<h1>PUR Cosmetics</h1>
					<h2>REPORT / ANALYSIS on BRANDS</h2>
				</div><!--/.small-12-->
			</div><!--/.row-->
			<div class="row">
				<div class="medium-10 medium-push-2 columns">
					<div class="byline">12.03.15 by Sarah Chung</div>
					<div class="social">Share: 
						<a href="https://twitter.com/share" class="twitter-share-button"{count}>Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<a href="https://www.pinterest.com/pin/create/button/">
    <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
</a>


					</div>

					<p>With the tagline, “The Complexion Authority,” Pur Cosmetics manufactures a line of for mineral-based makeup and skincare products designing at improving the complexion. Founded in 2001, PUR Cosmetics has experience supporting large retail chains such as ULTA, Kohl’s, Shoppers Canada and Marks & Spencer (over 2,500 locations between the three chains) and does extremely well in the TV shopping medium – it is the #1 color brand on The Shopping Channel (Canada) and the #3 color brand on TVSN Australia. This brand is a terrific opportunity for beauty distributors as they currently have significant presence only in North America, Australia and Sweden.</p>

					<ul class="callout">
					<li class="header">BRAND HIGHLIGHTS</li>
					<li class="header">Technology</li>
					<li>Proprietary Ceretin Compex – corrects and perfects the appearance  of the skin in 60 days or less.</li>
					<li class="header">Clinical</li>
					<li>95% of participants reported a softer, smoother texture (4 weeks)</li>
					<li>75% experienced visibly less skin irritation (6 weeks)</li>
					<li>89% saw an increase in skin radiance (4 weeks)</li>
					</ul>


					<ul class="callout">
					<li class="header">CLAIMS TO FAME</li>
					<li>First Pressed Mineral Makeup</li>
					<li>First Anti-Aging Mineral Makeup</li>
					<li>First Brand to Encapsulate Retinol and Ceramides into the Ceretin Complex®</li>
					<li>Pioneer in multifunctional makeup</li>
					</ul>


					<ul class="callout">
					<li class="header">HERO PRODUCTS</li>

					<li class="subheader">4-IN-1 PRESSED MINERAL MAKEUP</li>
					<li>Give a renewed radiance to dull, discolored skin</li>

					<li>
					• Brightens<br>
					• Smoothes and evens skin tone<br>
					• Delivers color-correcting results<br>
					• SPF protection<br>
					</li>

					<li>Key active ingredients:<br>
					• Ceretin Complex (chirally correct Retinol and Ceramides)<br>
					• Waltheria<br>
					• Dermox SRC-PF<br>
					</li>
					<li>Known benefits:<br>
					• Anti-aging, anti-inflammation, antioxidant<br>
					• Brightening agent; regulates activity of  skin melanin pigmentation<br>
					• Stimulates collagen and cell turnover to lift away the look of lines <br>
					</li>

					<li>USSRP: $28.00/.28 oz<br>
						Available in 10 shades</li>


					<li class="subheader">CC CREAM<br>BROAD SPECTRUM SPF 40</li>
					<li>Multitasking moisturizer, brightener, primer, concealer and SPF foundation</li>

					<li>
					• Clarifying and color correcting<br>
					• Benefits all skin types<br>
					• Anti-aging<br>
					• Silicone free<br>
					</li>

					<li>Key active ingredients:<br>
					• DERMAPUR® HP (from Meadowsweet)<br>
					• CLARISKIN II® (from Wheat Germ)<br>
					</li>

					<li>Known benefits:<br>
					• Helps balance uneven skin tone<br>
					• Helps control blemish-prone problem skin<br>
					• Protects skin from harmful UV damage with SPF 40<br>
					</li>

					<li>USSRP: $38.00/1.5 oz<br>
						Available in 4 shades</li>


					<li class="subheader">CORRECTING PRIMER</li>
					<li>Non-oily, pore-minimizing and skin-correcting primer</li>

					<li>
					• Creates a uniform skin tone<br>
					• Reduces the appearance of pores<br>
					• Smoothes away the look of lines<br>
					• Brightens and firms skin<br>
					</li> 
					<li>Key active ingredient:<br>
					• Ceretin Complex (chirally correct Retinol and Ceramides)</li>

					<li>Known benefit:<br>
					• Stimulates collagen and cell turnover to lift away the look of lines</li>

					<li>USSRP: $31.00/.28 fl oz<br>
						Available in five types.</li>
					</ul>

						
					<ul class="callout">
					<li class="header">CURRENT DISTRIBUTION</li>

					<li><strong>United States</strong><br>
					Ulta (820 doors)
					Kohl’s (900 doors)</li>

					<li><strong>Canada</strong><br>
					Shoppers Canada (642 doors)
					The Shopping Channel (Top color brand)</li>

					<li><strong>Canada</strong><br>
					Marks &amp; Spencer (213 doors)</li>

					<li><strong>Sweden</strong><br>
					250 salons</li>

					<li><strong>Australia</strong><br>
					TVSN Australia</li>
					</ul>

				</div><!--/.medium-10 medium-push-2-->
			</div><!--/.row-->
		</div><!--/.medium-8-->


		<div class="medium-4 columns">
			<div class="show-for-small-only"><br></div>
			<h3>FEATURING</h3>
			<ul class="featuringlist">
				<li> 
					<div class="row">
						<div class="small-4 columns">
							<%= image_tag "/images/v2/pur_feature_1.png" %>
						</div><!--/.small-6-->
						<div class="small-6 columns text-left end">
							4-IN-1 PRESSED MINERAL MAKEUP
						</div><!--/.small-6-->
					</div><!--/.row-->
				</li>
				<li> 
					<div class="row">
						<div class="small-4 columns">
							<%= image_tag "/images/v2/pur_feature_2.png" %>
						</div><!--/.small-6-->
						<div class="small-6 columns text-left end">
							CC CREAM BROAD SPECTRUM SPF 40
						</div><!--/.small-6-->
					</div><!--/.row-->
				</li>
				<li> 
					<div class="row">
						<div class="small-4 columns">
							<%= image_tag "/images/v2/pur_feature_3.png" %>
						</div><!--/.small-6-->
						<div class="small-6 columns text-left end">
							CORRECTING PRIMER
						</div><!--/.small-6-->
					</div><!--/.row-->
				</li>
			</ul>
		</div><!--/.medium-4-->

	</div><!--/.row-->
</div>


<%= render partial: 'shared/v2/footer/main' %>