<%= form_for @new_contact, remote: true do |f| %>
<table style="width:100%; border: none; margin:0;">
	<tr>
		<td><%= f.text_field :firstname %></td>
		<td><%= f.text_field :lastname %></td>
		<td><%= f.text_field :title %></td>
		<td><%= f.text_field :email %></td>
		<td><%= f.text_field :phone %></td>
		<td><%= f.submit "Add", class: "tiny radius alert button" %></td>
	</tr>
</table>
<% end %>
