<div id="v2header">
	<div class="row">
		<div class="small-6 columns">
			<%= link_to root_url do %><%= image_tag 'v2/logo.svg', width: "100" %><% end %>
		</div><!--/.small-6-->
		<div class="small-6 columns text-right">
			<div class="row">
				<div class="small-10 columns">
					<div class="row">
						<div class="small-4 columns">
							<%= link_to 'BEAUTY', '#' %>
						</div><!--/.small-4-->
						<div class="small-4 columns inactive">
							<span data-tooltip aria-haspopup="true" class="has-tip" title="Coming Soon" style="font-weight: 100;color: #B3B3B3">FASHION</span>
						</div><!--/.small-4-->
						<div class="small-4 columns inactive">
							<span data-tooltip aria-haspopup="true" class="has-tip" title="Coming Soon" style="font-weight: 100;color: #B3B3B3">BABY/KIDS</span>
						</div><!--/.small-4-->
					</div><!--/.row-->
				</div><!--/.small-10-->
				<div class="small-2 columns">
					<%= link_to dashboard_url do %><%= image_tag 'v2/user_icon.svg' %><% end %>
				</div><!--/.small-2-->
			</div><!--/.row-->
		</div><!--/.small-6-->
	</div><!--/.row-->
	<div class="row">
		<div class="small-12 columns">
			<hr>
		</div><!--/.small-12-->
	</div><!--/.row-->

</div>