<div id="v2header">
	<div class="row">
		<div class="small-6 columns">
			<%= link_to root_url do %><%= image_tag 'v2/logo.svg', width: "100" %><% end %>
		</div><!--/.small-6-->
		<div class="small-6 columns text-right">
			<div class="row">
				<div class="small-10 columns">
					<div class="row">
						<div class="small-4 columns">
							<%= link_to 'BEAUTY', root_url %>
						</div><!--/.small-4-->
						<div class="small-4 columns inactive">
							<span data-tooltip aria-haspopup="true" class="has-tip" title="Coming Soon" style="font-weight: 100;color: #B3B3B3">FASHION</span>
						</div><!--/.small-4-->
						<div class="small-4 columns inactive">
							<span data-tooltip aria-haspopup="true" class="has-tip" title="Coming Soon" style="font-weight: 100;color: #B3B3B3">BABY/KIDS</span>
						</div><!--/.small-4-->
					</div><!--/.row-->
				</div><!--/.small-10-->
				<div class="small-2 columns">

				<% if @current_user && show_top_menu %>
					<ul class="dropmenu">
					    <li>
					        <%= link_to dashboard_url do %><%= image_tag 'v2/user_icon_logged_in.svg' %><% end %>
					        <ul>
					        	<li class="section-title">Welcome to Landing International<br> <%= @current_user.email %></li>
				            <li><%= link_to 'DASHBOARD', dashboard_url, id: "menu-dashboard", class: 'text-right' %></li>
				            <li><%= link_to 'PREVIEW YOUR PROFILE', eval("#{@current_user.type?}_full_profile_path"), class: 'text-right' %></li>
				            <li><%= link_to 'EDIT YOUR PROFILE', eval("#{@current_user.type?}_path"), class: 'text-right' %></li>
				            <li><%= link_to "HELP", "/pages/contact" %></li>
						        <li><%= link_to "LOGOUT", logout_url, class: 'text-right' %></li>
					        </ul>
					    </li>
					</ul>
				<% else %>
					<%= link_to dashboard_url do %><%= image_tag 'v2/user_icon.svg' %><% end %>
				<% end %>

				</div><!--/.small-2-->
			</div><!--/.row-->
		</div><!--/.small-6-->
	</div><!--/.row-->
	<div class="row">
		<div class="small-12 columns">
			<hr>
		</div><!--/.small-12-->
	</div><!--/.row-->

</div>