<table class="container float-center" style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:600px">
	<tbody>
	<tr style="padding:0;text-align:left;vertical-align:top">
	<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:lighter;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
	<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
	<tbody>
	<tr style="padding:0;text-align:left;vertical-align:top">
	<th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:lighter;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:584px">
	<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
	<tr style="padding:0;text-align:left;vertical-align:top">
	<th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:lighter;line-height:19px;margin:0;padding:0;text-align:left">
	<hr style="Margin:20px auto;border-bottom:1px solid #cacaca;border-left:0;border-right:0;border-top:0;clear:both;height:0;margin:20px auto;max-width:600px">
<table class="callout" style="Margin-bottom:16px;border-collapse:collapse;border-spacing:0;margin-bottom:16px;padding:0;text-align:left;vertical-align:top;width:100%">
	<tr style="padding:0;text-align:left;vertical-align:top">
	<th class="callout-inner secondary" style="Margin:0;background:#ebebeb;border:1px solid #000;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:lighter;line-height:19px;margin:0;padding:10px;text-align:left;width:100%">
	<p style="Margin:0;Margin-bottom:10px;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:lighter;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:center">
	Order Details</p>
	<p style="Margin:0;Margin-bottom:10px;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:light;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:center"><%= order.orderer.company_name %> to <%= order.brand.company_name %></p>
<table class="container" style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;margin:0 auto;padding:0;text-align:inherit;vertical-align:top;width:100%">
	<tbody>
	<tr style="padding:0;text-align:left;vertical-align:top">
	<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:lighter;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
	<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
	<tbody>
	<tr style="padding:0;text-align:left;vertical-align:top">
	<th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:lighter;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:100%">
	<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
	<tr style="padding:0;text-align:left;vertical-align:top">
	<th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:lighter;line-height:19px;margin:0;padding:0;text-align:center;">
	<% if order.brand.logo_file_name %>
		<%= image_tag order.brand.logo.url(:medium), alt: "Logo", style: "-ms-interpolation-mode:bicubic;clear:both;display:inline-block;max-width:100%;outline:0;text-decoration:none;width:auto" %>
	<% else %>
		<% if !order.brand.facebook.blank? && fb_picture(order.brand.facebook) %>
			<%= image_tag fb_picture(order.brand.facebook), style: "-ms-interpolation-mode:bicubic;clear:both;display:inline-block;max-width:100%;outline:0;text-decoration:none;width:auto"  %>
		<% else %>
			<%= image_tag order.brand.logo.url(:medium), width: "100", height: "100", alt: "Logo", style: "-ms-interpolation-mode:bicubic;clear:both;display:inline-block;max-width:100%;outline:0;text-decoration:none;width:auto"  %>
		<% end %>
	<% end %>
	<p style="Margin:0;Margin-bottom:10px;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;color:#8a8a8a;font-size:12px;font-weight:lighter;line-height:12px;margin:0;margin-bottom:10px;padding:0;text-align:center;">
	<span style="font-weight:bold;"><%= order.brand.company_name %></span><br>
	<%= "#{order.brand.address.address1}".html_safe unless order.brand.address.address1.blank? %>
	<%= "<br>#{order.brand.address.address2}".html_safe unless order.brand.address.address2.blank? %>
	<%= "<br>#{order.brand.address.city}".html_safe unless order.brand.address.city.blank? %>
	<%= "#{order.brand.address.state}".html_safe unless order.brand.address.state.blank? %>
	<%= "#{order.brand.address.postcode}".html_safe unless order.brand.address.postcode.blank? %>
	<%= "<br>#{order.brand.address.country}".html_safe unless order.brand.address.country.blank? %>
	</p>
</th>
</tr>
</table>
</th>
</tr>
</tbody>
</table>


<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
<tbody>
<tr style="padding:0;text-align:left;vertical-align:top">
<th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:lighter;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:100%">

<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">

<tr style="background-color: #cbcbcb;text-align:center;">
	<td colspan="2" style="color: black;font-weight:bold;font-size:12px;">Shipping Info</td>
</tr>

<tr style="padding:0;text-align:left;vertical-align:top">
<th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:lighter;line-height:19px;margin:0;padding:0;text-align:left">
<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">

<tr style="padding:0;text-align:left;vertical-align:top;border-top:1px solid #cbcbcb;border-bottom:1px solid #cbcbcb;">
	<td><small style="color:#8a8a8a;font-size:70%">Ship To</small></td>
	<td><ul style="list-style-type: none; padding-left:0; margin-top:0;"><%= display_shipping_address(order: @order) %></ul></td>
</tr>
<tr style="padding:0;text-align:left;vertical-align:top;border-top:1px solid #cbcbcb;border-bottom:1px solid #cbcbcb;">
	<td><small style="color:#8a8a8a;font-size:70%">Contact</small></td><td><%= order.user.contact.firstname %> <%= order.user.contact.lastname %><br></td>
</tr>
<tr style="padding:0;text-align:left;vertical-align:top;border-top:1px solid #cbcbcb;border-bottom:1px solid #cbcbcb;">
	<td><small style="color:#8a8a8a;font-size:70%">Phone</small></td><td><%= order.user.contact.phone %></td>
</tr>

<tr style="padding:0;text-align:left;vertical-align:top">
	<td colspan="2">&nbsp;</td>
</tr>
<tr style="background-color: #cbcbcb;text-align:center;">
	<td colspan="2" style="color: black;font-weight:bold;font-size:12px;">General Info</td>
</tr>

<% if order.landing_order_reference_id.present? %>
<tr style="padding:0;text-align:left;vertical-align:top;border-top:1px solid #cbcbcb;border-bottom:1px solid #cbcbcb;">
	<td><small style="color:#8a8a8a;font-size:70%">Landing Order ID</small></td><td><%= order.landing_order_reference_id %></td>
</tr>
<% end %>
<% if order.armor_order_id.present? %>
<tr style="padding:0;text-align:left;vertical-align:top;border-top:1px solid #cbcbcb;border-bottom:1px solid #cbcbcb;">
	<td><small style="color:#8a8a8a;font-size:70%">Armor/Payoneer Order ID</small></td><td><%= order.armor_order_id %></td>
</tr>
<% end %>
<% if order.brand_order_reference_id.present? %>
<tr style="padding:0;text-align:left;vertical-align:top;border-top:1px solid #cbcbcb;border-bottom:1px solid #cbcbcb;">
	<td><small style="color:#8a8a8a;font-size:70%"><%= order.brand_company_name %> Order Reference ID</small></td><td><%= order.brand_order_reference_id %></td>
</tr>
<% end %>
<% if order.orderer_order_reference_id.present? %>
<tr style="padding:0;text-align:left;vertical-align:top;border-top:1px solid #cbcbcb;border-bottom:1px solid #cbcbcb;">
	<td><small style="color:#8a8a8a;font-size:70%"><%= order.orderer_company_name %> Order Reference ID</small></td><td><%= order.orderer_order_reference_id %></td>
</tr>
<% end %>
<% if order.ship_to_us_date.present? %>
<tr style="padding:0;text-align:left;vertical-align:top;border-top:1px solid #cbcbcb;border-bottom:1px solid #cbcbcb;">
	<td><small style="color:#8a8a8a;font-size:70%">Ship to U.S. Date</small></td><td><%= order.ship_to_us_date.strftime("%d %b %Y") %></td>
</tr>
<% end %>
<% if order.ship_date.present? %>
<tr style="padding:0;text-align:left;vertical-align:top;border-top:1px solid #cbcbcb;border-bottom:1px solid #cbcbcb;">
	<td><small style="color:#8a8a8a;font-size:70%">Ship Date</small></td><td><%= order.ship_date.strftime("%d %b %Y") %></td>
</tr>
<% end %>
<% if order.cancel_date.present? %>
<tr style="padding:0;text-align:left;vertical-align:top;border-top:1px solid #cbcbcb;border-bottom:1px solid #cbcbcb;">
	<td><small style="color:#8a8a8a;font-size:70%">Cancel Date</small></td><td><%= order.cancel_date.strftime("%d %b %Y") %></td>
</tr>
<% end %>
<tr style="padding:0;text-align:left;vertical-align:top;border-top:1px solid #cbcbcb;border-bottom:1px solid #cbcbcb;">
	<td><small style="color:#8a8a8a;font-size:70%">Estimated Payment Date</small></td><td><%= estimated_payment_date(order:order) %></td>
</tr>


<% payment_terms, shipping_terms, additional_terms, order_requirements = get_order_terms(order:order) %>
<% unless payment_terms.blank? && shipping_terms.blank? && additional_terms.blank? && order_requirements.blank? %>
<tr style="padding:0;text-align:left;vertical-align:top">
	<td colspan="2">&nbsp;</td>
</tr>
<tr style="background-color: #cbcbcb;text-align:center;">
	<td colspan="2" style="color: black;font-weight:bold;font-size:12px;">Terms &amp; Requirements</td>
</tr>
<% end %>
<% unless payment_terms.blank? %>
<tr style="padding:0;text-align:left;vertical-align:top;border-top:1px solid #cbcbcb;border-bottom:1px solid #cbcbcb;">
<td><small style="color:#8a8a8a;font-size:70%">Payment Terms</td>
<td><%= payment_terms %></td>
</tr>
<% end %>
<% unless shipping_terms.blank? %>
<tr style="padding:0;text-align:left;vertical-align:top;border-top:1px solid #cbcbcb;border-bottom:1px solid #cbcbcb;">
<td><small style="color:#8a8a8a;font-size:70%">U.S. Shipping Terms</small></td>
<td><%= simple_format(shipping_terms, {}, wrapper_tag: "div") %></td>
</tr>
<% end %>
<% unless additional_terms.blank? %>
<tr style="padding:0;text-align:left;vertical-align:top;border-top:1px solid #cbcbcb;border-bottom:1px solid #cbcbcb;">
<td><small style="color:#8a8a8a;font-size:70%">Additional Terms</small></td> 
<td>
<% additional_terms.each do |term| %>
	<%= simple_format(term, {}, wrapper_tag: "div") %><br>
<% end %>
</td>
</tr>
<% end %>
<% unless order_requirements.blank? %>
<tr style="padding:0;text-align:left;vertical-align:top;border-top:1px solid #cbcbcb;border-bottom:1px solid #cbcbcb;">
<td><small style="color:#8a8a8a;font-size:70%">Requirements</small></td>
<td>
<% order_requirements.each do |term| %>
<%= term %><br>
<% end %>
</td>
</tr>
<% end %>

</table>

</th>
</tr>
</table>
</th>
</tr>


<tr style="padding:0;text-align:left;vertical-align:top">
<th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:lighter;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:100%">
	<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
	<tbody>
	<tr style="padding:0;text-align:left;vertical-align:top;text-align:center;background-color:#cbcbcb;">
	<td style="font-weight:bold;font-size:12px;">Order History &amp; Comments</td>
	</tr>
	</tbody>
	</table>
</th>
</tr>

<% if order.submission_date.present? %>
<%= render partial: "order_history_item", locals: { status_action: "SUBMITTED", company_name: order.orderer_company_name, date: order.submission_date, comment: order.comments.open.first } %>
<% end %>

<% if order.pending_date_array.present? %>
<%= render partial: "order_history_item", locals: { status_action: "SENT FOR APPROVAL", company_name: order.brand_company_name, date: order.pending_date_array[0], comment: order.comments.submitted.first } %>
<% end %>


<% if change_requests = order.comments.declined %>
	<% change_requests.each_with_index do |c,index| %>
		<%= render partial: "order_history_item", locals: { status_action: "CHANGES REQUESTED", company_name: order.orderer_company_name, date: c.c_at, comment: c } %>
		<% if order.pending_date_array[index.to_i+1] %>
		<%= render partial: "order_history_item", locals: { status_action: "SENT FOR APPROVAL", company_name: order.brand_company_name, date: order.pending_date_array[index.to_i+1], comment: order.comments.submitted[index.to_i+1] } %>
		<% end %>
	<% end %>
<% end %>


<% if order.approved_date.present? %>
<%= render partial: "order_history_item", locals: { status_action: "APPROVED", company_name: order.orderer_company_name, date: order.approved_date } %>
<% end %>

<% if order.paid_date.present? %>
<%= render partial: "order_history_item", locals: { status_action: "PAYMENT SUBMITTED", company_name: order.orderer_company_name, date: order.paid_date } %>
<% end %>

<% if order.shipped_date.present? %>
<% delivery_info = "Carrier: #{order.armor_shipment_carrier_name}<br>".html_safe if order.armor_shipment_carrier_name.present? %>
<% delivery_info += "Tracking ID: #{order.armor_shipment_tracking_number}<br>".html_safe if order.armor_shipment_tracking_number.present? %>
<% delivery_info += "Description: #{order.armor_shipment_description}<br>".html_safe if order.armor_shipment_description.present? %>
<%= render partial: "order_history_item", locals: { status_action: "SHIPPED", company_name: order.brand_company_name, date: order.shipped_date, delivery_info: delivery_info} %>
<% end %>

<% if order.delivered_date.present? %>
<%= render partial: "order_history_item", locals: { status_action: "DELIVERED", date: order.delivered_date } %>
<% end %>

<% if order.completed_date.present? %>
<%= render partial: "order_history_item", locals: { status_action: "ORDER COMPLETE", date: order.completed_date } %>
<% end %>

<tr style="padding:0;text-align:left;vertical-align:top">
<th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:lighter;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:100%">
	<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
	<tbody>
	<tr style="padding:0;text-align:left;vertical-align:top;text-align:center;background-color:#cbcbcb;">
	<td style="font-weight:bold;font-size:12px;">Items Ordered</td>
	</tr>
	</tbody>
	</table>
</th>
</tr>

<% get_sorted_order_items(order).each do |lineitem| %>
<tr style="padding:0;text-align:left;vertical-align:top">
<th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:lighter;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:100%">
	<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
	<tbody>
	<tr style="padding:0;text-align:left;vertical-align:top;text-align:center;border-top:1px solid #cbcbcb;">
	<td colspan="4" style="font-weight:bold;font-size:12px;"><%= lineitem.name %><%= " (#{lineitem.item_id})".html_safe if lineitem.item_id.present? %></td>
	</tr>
	<tr style="padding:0;text-align:left;vertical-align:top;text-align:center;border-bottom:1px solid #cbcbcb;">
		<td>
			<span style="font-size:10px;color:#8a8a8a;">Testers</span><br>
			<%= lineitem.quantity_testers %>
		</td>
		<td>
			<span style="font-size:10px;color:#8a8a8a;">Quantity</span><br>
			<%= lineitem.quantity %>
		</td>
		<td>
			<span style="font-size:10px;color:#8a8a8a;">Unit Price (MSRP)</span><br>
			<%= number_to_currency(lineitem.tiered_price_in_dollars) %> (<%= number_to_currency(lineitem.price_in_dollars) %>)
		</td>
		<td>
			<span style="font-size:10px;color:#8a8a8a;">Amount</span><br>
			<%= number_to_currency(lineitem.total_price) %>
		</td>
	</tr>
	</tbody>
	</table>
</th>
</tr>
<% end %>

<tr style="padding:0;text-align:left;vertical-align:top">
<th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:lighter;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:100%">
	<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
	<tbody>
	<tr style="padding:0;text-align:left;vertical-align:top;text-align:center;">
	<td style="font-weight:bold;font-size:12px;color:#8a8a8a">ITEMS SUBTOTAL</td>
	</tr>
	<tr style="padding:0;text-align:left;vertical-align:top;text-align:center;">
	<td style="font-weight:bold;font-size:18px;color:#8a8a8a"><%= number_to_currency(order.subtotal_price) %></td>
	</tr>
	</tbody>
	</table>
</th>
</tr>


<% if order.order_additional_charges.present? %>
<tr style="padding:0;text-align:left;vertical-align:top">
<th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:lighter;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:100%">
	<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
	<tbody>
	<tr style="padding:0;text-align:left;vertical-align:top;text-align:center;background-color:#cbcbcb;">
	<td style="font-weight:bold;font-size:12px;">Additional Charges</td>
	</tr>
	</tbody>
	</table>
</th>
</tr>

<% order.order_additional_charges.each.each do |lineitem| %>
<tr style="padding:0;text-align:left;vertical-align:top">
<th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:lighter;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:100%">
	<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
	<tbody>
	<tr style="padding:0;text-align:left;vertical-align:top;text-align:center;border-top:1px solid #cbcbcb;">
		<td style="font-weight:bold;font-size:12px;"><%= lineitem.name %></td>
	</tr>
	<tr style="padding:0;text-align:left;vertical-align:top;text-align:center;">
		<td style="font-size:12px;"><%= lineitem.description %></td>
	</tr>
	<tr style="padding:0;text-align:left;vertical-align:top;text-align:center;border-bottom:1px solid #cbcbcb;">
		<td>
			<%= number_to_currency(lineitem.amount_in_dollars) %>
		</td>
	</tr>
	</tbody>
	</table>
</th>
</tr>
<% end %>

<tr style="padding:0;text-align:left;vertical-align:top">
<th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:lighter;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:100%">
	<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
	<tbody>
	<tr style="padding:0;text-align:left;vertical-align:top;text-align:center;">
	<td style="font-weight:bold;font-size:12px;color:#8a8a8a">ADDITIONAL CHARGES SUBTOTAL</td>
	</tr>
	<tr style="padding:0;text-align:left;vertical-align:top;text-align:center;">
	<td style="font-weight:bold;font-size:18px;color:#8a8a8a"><%= number_to_currency(order.charges_subtotal_price) %></td>
	</tr>
	</tbody>
	</table>
</th>
</tr>

<% end %>

<tr style="padding:0;text-align:left;vertical-align:top">
<th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:lighter;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:100%;">
	<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%;">
	<tbody>
	<tr style="padding:0;text-align:left;vertical-align:top;text-align:center;background-color:#cbcbcb;">
	<td style="font-weight:bold;font-size:12px;">ORDER TOTAL</td>
	</tr>
	</tbody>
	</table>
</th>
</tr>

<tr style="padding:0;text-align:left;vertical-align:top">
<th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:lighter;line-height:19px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:100%">
	<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%;">
	<tbody>
	<tr style="padding:0;text-align:left;vertical-align:top;text-align:center;">
	<td style="font-weight:bold;font-size:30px;"><%= number_to_currency(order.total_price) %></td>
	</tr>
	</tbody>
	</table>
</th>
</tr>

</tbody>
</table>





</th>
<th class="expander" style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:lighter;line-height:19px;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0">
</th>
</tr>
</table>





</th>
</tr>
</table>
</th>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</th>
<th class="expander" style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:lighter;line-height:19px;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0">
</th>
</tr>
</table>
</th>
</tr>
</table>
</th>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
