<div class="full-order-container">
	<div class="row">
		<div class="small-12 columns">

			<div class="row">
				<div class="small-12 columns">
					<div id="order-panel-top">
						<h1>Order Approved</h1>
						
						<%= render partial: "orders/showfull/order_flow_header", locals: { status: order.status , armor: order.armor_enabled? , order: order} %>

						<% if order.armor_enabled? %>
							<h3>This order is awaiting payment.</h3>
						<% else %>
							<% if order.is_prepay? %>
								<h3>This order is awaiting payment.</h3>
							<% else %>
								<h3>This order is awaiting shipment.</h3>
							<% end %>
						<% end %>
					</div>
				</div><!--/.small-12-->
			</div><!--/.row-->

			<div class="panel outer">


				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<% if order.armor_enabled? %>
							<%= render partial: "orders/showfull/approved_orderer_payoneer", locals: { order: order } %>
						<% else %>
							<% if order.is_prepay? %>
								<%= render partial: "orders/showfull/approved_orderer_prepay", locals: { order: order } %>
							<% else %>
								<%= render partial: "orders/showfull/approved_orderer_net", locals: { order: order } %>
							<% end %>
						<% end %>
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<h1 class="top-level">Order</h1>
						<div class="panel">
							<%= render "shared/orders/show" %>		
						</div>
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->


			</div><!--/.panel outer-->
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.full-order-container-->