<div class="full-order-container">
	<div class="row">
		<div class="small-12 columns">

			<div class="row">
				<div class="small-12 columns">
					<div id="order-panel-top">
						<h1>Order Delivered</h1>
						<%= render partial: "orders/showfull/order_flow_header", locals: { status: order.status , armor: order.armor_enabled? , order: order} %>
						<h3>This order has been delivered.</h3>
					</div>
				</div><!--/.small-12-->
			</div><!--/.row-->

			<div class="panel outer">


				<div class="row">
					<div class="medium-11 medium-centered columns">
						<a name="form"></a>
						<br>
						<h1 class="top-level">Hooray! The order was delivered on <%= (order.delivered_date ).strftime("%d %b %Y") %>.</h1>
						<br>
						<% if order.armor_enabled? %>
							<%= render partial: "orders/showfull/delivered_brand_payoneer", locals: { order: order } %>
						<% else %>
							<% if order.is_prepay? %>
								<%= render partial: "orders/showfull/delivered_brand_prepay", locals: { order: order } %>
							<% else %>
								<%= render partial: "orders/showfull/delivered_brand_net", locals: { order: order } %>
							<% end %>
						<% end %>
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->
				

				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<h1 class="top-level">Order</h1>
						<div class="panel">
							<%= render "shared/orders/show" %>		
						</div>
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

			</div><!--/.panel outer-->
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.full-order-container-->