<div class="full-order-container">
	<div class="row">
		<div class="small-12 columns">

			<div class="row">
				<div class="small-12 columns">
					<div id="order-panel-top">
						<%= render partial: "orders/showfull/order_flow_header", locals: { status: order.status } %>
						<hr>
						<h3>This order has been delivered.</h3>
					</div>
				</div><!--/.small-12-->
			</div><!--/.row-->

			<div class="panel outer">

				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<h1>NEXT STEP: Review Shipment and Release Payment</h1>
						<h3>Have questions? <%= link_to "Contact #{order.brand.company_name}", new_simple_message_url(order.brand), remote:true %></h3>
						<div class="panel">
							<h2>Release Payment from Escrow</h2>
							<% if order.errors.any? %>
								<h4>Sorry, there was an error. Please reload the page</h4>
								<% order.errors.full_messages.each do |m| %>
									<%= m %><br>
								<% end %>
							<% else %>
								<% if @armor_payment_release_payment_url.present? %>
									<%= render partial: "orders/showfull/delivered_orderer_payment_release", locals: {url: @armor_payment_release_payment_url} %>
								<% end %>
							<% end %>
							<h3><em>Alternately, you can also release payment via your Armor Payments account.</em></h3>
						</div>
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<h1>Order</h1>
						<h3>Have questions? <%= link_to "Contact #{order.brand.company_name}", new_simple_message_url(order.brand), remote:true %></h3>
						<div class="panel">
							<%= render "shared/orders/show" %>		
						</div>
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

			</div><!--/.panel outer-->
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.full-order-container-->