<div class="full-order-container">
	<div class="row">
		<div class="small-12 columns">

			<div class="row">
				<div class="small-12 columns">
					<div id="order-panel-top">
						<%= render partial: "orders/showfull/order_flow_header", locals: { status: order.status , armor: true } %>
						<hr>
						<h3>This order has been delivered.</h3>
					</div>
				</div><!--/.small-12-->
			</div><!--/.row-->

			<div class="panel outer">

				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<h1>Next Step: Review Shipment and Release Payment or Initiate Dispute</h1>
						<h3>Have questions? <%= link_to "Contact #{order.brand.company_name}", new_simple_message_url(order.brand), remote:true %></h3>
						<div class="panel">
							<% if order.errors.any? %>
								<h4>Sorry, there was an error. Please reload the page</h4>
								<% order.errors.full_messages.each do |m| %>
									<%= m %><br>
								<% end %>
							<% else %>
								<% if @armor_payment_release_payment_url.present? %>
									<%= render partial: "orders/showfull/delivered_orderer_payment_release", locals: { url: @armor_payment_release_payment_url, disputeurl: @armor_payment_dispute_url, order: order } %>
								<% end %>
							<% end %>
							<div class="landing-notice"><h3>The order status on this page may take time to update after you've approved the release of funds. <br>Please <%= link_to "reload this page", order_url(order) %> after you have released funds to see the most current status.</h3></div>
						</div>
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<h1>Order</h1>
						<h3>Have questions? <%= link_to "Contact #{order.brand.company_name}", new_simple_message_url(order.brand), remote:true %></h3>
						<div class="panel">
							<%= render "shared/orders/show" %>		
						</div>
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

			</div><!--/.panel outer-->
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.full-order-container-->