<br>
<h1 class="top-level">Next Step: Send Payment</h1>
<%= render partial: "orders/add_additional_comment_link" %>

	<br>
	<h1><span class="step" data-step="1"></span> Send Payment</h1>
	<div class="info">
		<h3>According to your Payment Terms (<%= order.payment_terms %>), please send payment of</h3>
	</div>
	<div class="panel">
		
		<div class="payment-display">
		<h2 id="amount"><%= number_to_currency(order.total_price) %></h2>
		<h2><small>by</small></h2>
		<h2 id="date">
			<% if order.cancel_date.present? %>
			<%= estimated_payment_date(order: order) %>
			<br><small><%= net_terms_payment_estimate(order: order)[:payment] %> days after Cancel Date of <%= (order.cancel_date ).strftime("%d %b %Y") %></small>
			<% else %>
			<%= net_terms_payment_estimate(order: order)[:payment] %> days after Cancel Date
			<% end %>
		</h2>
		</div>
		<h3>Contact <a href="mailto:payments@landingintl.com">payments@landingintl.com</a> for information on how to process your payment.</h3>

	</div>

	<% if false %><%# hiding %>
	<%# unless order.post_delivery_status.blank? %>
	<br>
	<h1 class="top-level">Fulfillment Status</h1>
	<div class="info">
		<h3>This order is being fulfilled out of Landing's U.S. warehouse. Review the latest status below.</h3>
		<h3>Contact <a href="mailto:orders@landingintl.com">orders@landingintl.com</a> with any questions.</h3>
	</div>
	<div class="panel">
		<div id="delivered-status-bar">
		<%= render partial: "orders/showfull/post_delivery_flow_progress", locals: { order: order } %>
		</div>
	</div>
	<% end %>


