<h1 class="top-level">Next Step: Await Payment</h1>
<%= render partial: "orders/add_additional_comment_link" %>
<br>
<h1><span class="step" data-step="1"></span> Await Payment</h1>

<% if order.post_delivery_status.blank? %>

<div class="info">
	<h3>According to <%= order.orderer_company_name %>'s Payment Terms (<%= order.payment_terms %>), you should receive payment of</h3>
</div>
<div class="panel">
	
	<div class="payment-display">
	<h2 id="amount"><%= number_to_currency(order.total_brand_payout) %></h2>
	<h2><small>by</small></h2>
	<h2 id="date"><%= (order.delivered_date + net_terms_payment_estimate(order: order)[:receipt].to_i ).strftime("%d %b %Y") %> <br><small><%= net_terms_payment_estimate(order: order)[:payment] %> days after delivery on <%= (order.delivered_date ).strftime("%d %b %Y") %> <br>(plus 5 days processing time)</small></h2>
	</div>
</div>

<% else %>

<div class="info">
	<h3>Post U.S. Delivery Status</h3>
	<h3>There are a few more steps before <%= order.orderer_company_name %> sends payment for this order.  Keep updated on the progress here.</h3>
</div>

<div id="delivered-status-bar">
<%= render partial: "orders/showfull/post_delivery_flow_progress", locals: { order: order } %>
</div>

<% end %>

<div class="panel text-center">
	<div class="payment-display">
	<h2><small>Your payout is</small></h2>
	<h2 id="amount"><%= number_to_currency(order.total_brand_payout) %></h2>
	<%= render partial: 'orders/order_calculator', locals: { order: order } %>
	</div>
	<br>
</div>

<br>
<h1><span class="step" data-step="2"></span> Got Paid? Mark Order as Complete!</h1>
<div class="info">
	<h3>When you have received payment and any outstanding issues resolved, please return here to mark the order as 'Paid &amp; Completed'</h3>
</div>
<div class="panel text-center">
									
	<%= link_to "Hooray! Mark order as 'Paid &amp; Complete'!".html_safe, armor_disabled_completed_order_url(@order,0), class: "landing-button", remote: true %>
		
</div>