<div class="row">
	<div class="small-12 columns">
		<div class="text-center" id="profile-tabs">
			<ul class="tablist">
				<li><%= link_to "BRAND PROFILE", eval("view_brand_url(order.brand)") %></li>
				<li class="active"><%= link_to "ORDERS", order_url(order) %></li>
			</ul>
		</div>
		<div id="profile-status-and-contact">
			<div class="row">
				<div class="medium-6 columns text-left">
					<%= render partial: "shared/profile/components/profile_status", locals: { order: order } %>
				</div><!--/.medium-6-->
				<div class="medium-6 columns text-right">
					<h3>Have questions? <%= link_to "Contact #{order.brand.company_name}", new_simple_message_url(order.brand), remote:true %></h3>
				</div><!--/.medium-6-->
			</div><!--/.row-->
		</div>
	</div><!--/.small-12-->
</div><!--/.row-->

<div class="row">
	<div class="medium-8 columns">
		<span id="profile-company-name">
		<h1><%= order.brand.company_name %></h1>
		</span>
	</div><!--/.medium-8-->
	<div class="medium-4 columns text-right">
		<% if order.brand.logo_file_name %>
			<%= image_tag order.brand.logo.url(:medium), alt: "Logo" %><br>
		<% else %>
			<% if !order.brand.facebook.blank? && fb_picture(order.brand.facebook) %>
				<%= image_tag fb_picture(order.brand.facebook) %><br>
			<% else %>
				<%= image_tag order.brand.logo.url(:medium), width: "100", height: "100", alt: "Logo" %><br>
			<% end %>					
		<% end %>
	</div><!--/.medium-4-->
</div><!--/.row-->

<div class="full-order-container">
	<div class="row">
		<div class="small-12 columns">

			<div class="row">
				<div class="small-12 columns">
					<div id="order-panel-top">
						<%= render partial: "orders/showfull/order_flow_header", locals: { status: order.status } %>
						<hr>
						<h3>This order is open and can be updated</h3>
					</div>
				</div><!--/.small-12-->
			</div><!--/.row-->

			<div class="panel outer">
				
				<div class="row">
					<div class="medium-11 medium-centered columns">

						<div class="row">
							<div class="medium-6 columns">
								<br>
								<h1>1) Confirm Order Details</h1>
								<h3>Click on any item to edit. Have questions? <%= link_to "Contact #{order.brand.company_name}", new_simple_message_url(order.brand), remote:true %></h3>
							</div><!--/.medium-6-->
							<div class="medium-6 columns text-right">
								<%#= link_to "View Brand Profile - #{order.brand.company_name}", view_brand_url(order.brand), class: "landing-button" %>
							</div><!--/.medium-6-->
						</div><!--/.row-->

						<div class="panel">
							<%= render "shared/orders/show" %>		
						</div>

						<br>
						<h1>2) Submit Order to <%= order.brand.company_name %></h1>
						<h3>Have questions? <%= link_to "Contact #{order.brand.company_name}", new_simple_message_url(order.brand), remote:true %></h3>
						<div class="panel text-center">
						<%= link_to "Submit Order to #{order.brand.company_name}", submit_order_url(order,0), class: "landing-button", remote: true %> <span style="font-weight: 100;">or</span>
						<%= link_to "Add More Items to Order", view_brand_url(order.brand), class: "landing-button secondary" %>
						</div>

					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

			</div><!--/.panel outer-->
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.full-order-container-->