<div class="row">
	<div class="small-12 columns">
		<div class="text-center" id="profile-tabs">
			<ul class="tablist">
				<li><%= link_to "#{order.orderer_type.upcase} PROFILE", eval("view_#{order.orderer_type.downcase}_url(order.orderer)") %></li>
				<li class="active"><%= link_to "ORDERS", order_url(order) %></li>
			</ul>
		</div>
		<div id="profile-status-and-contact">
			<div class="row">
				<div class="medium-6 columns text-left">
					<%= render partial: "shared/profile/components/profile_status", locals: { order: order } %>
				</div><!--/.medium-6-->
				<div class="medium-6 columns text-right">
					<h3>Have questions? <%= link_to "Contact #{order.orderer.company_name}", new_simple_message_url(order.orderer), remote:true %></h3>
				</div><!--/.medium-6-->
			</div><!--/.row-->
		</div>
	</div><!--/.small-12-->
</div><!--/.row-->

<div class="row">
	<div class="medium-8 columns">
		<span id="profile-company-name">
		<h1><%= order.orderer.company_name %></h1>
		</span>
	</div><!--/.medium-8-->
	<div class="medium-4 columns text-right">
		<% if order.orderer.logo_file_name %>
			<%= image_tag order.orderer.logo.url(:medium), alt: "Logo" %><br>
		<% else %>
			<% if !order.orderer.facebook.blank? && fb_picture(order.orderer.facebook) %>
				<%= image_tag fb_picture(order.orderer.facebook) %><br>
			<% else %>
				<%= image_tag order.orderer.logo.url(:medium), width: "100", height: "100", alt: "Logo" %><br>
			<% end %>					
		<% end %>
	</div><!--/.medium-4-->
</div><!--/.row-->


				
<div class="full-order-container">
	<div class="row">
		<div class="small-12 columns">

			<div class="row">
				<div class="small-12 columns">
					<div id="order-panel-top">
					<h2>Open Order<br><small>This order is open and may be updated by <%= order.orderer.company_name %></small></h2>
					</div>
				</div><!--/.small-12-->
			</div><!--/.row-->

			<div class="panel outer">
				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<h1>1) Set Order Discount Rate (optional)</h1>
						<div class="row">
							<div class="small-12 columns">
								<div class="panel text-right">
									<%= form_for order do |f| %>
										<div class="row">
											<div class="small-12 columns">
												<%= f.label :discount, "Order Discount" %>
												<span style="font-size: 0.7em;font-weight: 200; color: red;"><%= flash[:error] ? flash[:error] : "" %></span>
											</div><!--/.small-12-->
										</div><!--/.row-->
										<div class="row collapse">
											<div class="small-4 small-push-6 medium-1 medium-push-10 columns">
												<%= f.number_field :discount, label: false %>
											</div><!--/.small-4-->
											<div class="small-2 small-push-6 medium-1 medium-push-10 columns end">
												<span class="postfix">%</span>
											</div><!--/.small-2-->
										</div><!--/.row-->
										<div class="row">
											<div class="small-12 columns">
												<%= f.submit "Set Discount", class: "landing-button" %>
											</div><!--/.small-12-->
										</div><!--/.row-->
									<% end %>
									<h4>Updates the discount rate for this order, overriding the default 50% unit discount rate.</h4>
								</div> <!--.panel-->
							</div><!--/.small-12-->
						</div><!--/.row-->
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<h1>2) Review Current Order</h1>
						<div class="panel">
							<%= render "shared/orders/show" %>		
						</div>

					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<h1>3) Wait for <%= order.orderer.company_name %> to Submit Final Order</h1>
						<div class="panel">
							<h2>You will receive an email when <%= order.orderer.company_name %> has finalized and submitted their order.</h2>
						</div>

					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

			</div><!--/.panel outer-->
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.full-order-container-->