<div class="full-order-container">
	<div class="row">
		<div class="small-12 columns">

			<div class="row">
				<div class="small-12 columns">
					<div id="order-panel-top">
						<h1> Your Cart </h1>
						<%= render partial: "orders/showfull/order_flow_header", locals: { status: order.status , armor: order.armor_enabled? , order: order} %>
						<h3>This order is open and can be updated</h3>
					</div>
				</div><!--/.small-12-->
			</div><!--/.row-->

			<div class="panel outer">
				
				<div class="row">
					<div class="medium-11 medium-centered columns">

						<br>
						<h1 class="top-level">What's next?</h1>
						<br>

						<h1><span class="step" data-step="1"></span> Confirm Shipping Address</h1>
						<div class="panel text-center">
							<%= render partial: "shipping_address_form", locals: {order: order} %>
						</div><!--.panel text-center-->


						<br>
						<h1><span class="step" data-step="2"></span> Add Milestone Dates (Optional)</h1>
						<div class="panel text-center">
							<div id="ship-cancel-add">
								<%= render partial: "ship_cancel_add", locals: {order: order} %>
							</div><!--/.add-ship-cancel-form-->
						</div><!--.panel text-center-->

						<br>
						<h1><span class="step" data-step="3"></span> Add Reference Number (Optional)</h1>
						<div class="info">
							<h3>Add a reference number to help you track this order in your system.</h3>
						</div>
						<div class="panel text-center">
							<%= render partial: "add_reference_id", locals: {order: order} %>
						</div><!--.panel text-center-->


						<br>
						<h1><span class="step" data-step="4"></span> Add Comments (Optional)</h1>
						<div class="info">
							<h3>Add comments to the order.</h3>
						</div>
						<div class="panel text-center">
							<div id="add-comments">
								<%= render partial: "add_comments", locals: {order: order} %>
							</div><!--/.add-ship-cancel-form-->
						</div><!--.panel text-center-->

						<br>
						<h1><span class="step" data-step="5"></span> Confirm Order Details</h1>
						<div class="info">
							<h3>Click on any order item to edit. </h3>
						</div>
						<div class="panel" id="order-display">
							<%= render "shared/orders/show" %>
						</div>
						<br>
						<div id="open-orderer-submit">
							<%= render partial: "orders/showfull/open_orderer_submit", locals: { order: order } %>
						</div>

					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

			</div><!--/.panel outer-->
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.full-order-container-->