<div class="row">
	<div class="medium-8 columns">
		<h1>Open Order / <%= order.brand.company_name %></h1>
		<h3>This order is open and can be updated</h3>
	</div><!--/.medium-8-->
	<div class="medium-4 columns text-right">
		<%= link_to "View Brand Profile - #{order.brand.company_name}", view_brand_url(order.brand), class: "landing-button" %>
	</div><!--/.medium-4-->
</div><!--/.row-->
<br>



<div class="row">
	<div class="medium-11 medium-centered columns">
		<hr>
		<div class="row">
			<div class="medium-6 columns">
				<h1>1) Confirm Order Details</h1>
				<h3>Click on any item to edit</h3>
			</div><!--/.medium-6-->
			<div class="medium-6 columns text-right">
				<%#= link_to "View Brand Profile - #{order.brand.company_name}", view_brand_url(order.brand), class: "landing-button" %>
			</div><!--/.medium-6-->
		</div><!--/.row-->

		<div class="panel">
			<%= render "shared/orders/show" %>		
		</div>

		<hr>
		<h1>2) Submit Order to <%= order.brand.company_name %></h1>
		<div class="panel text-center">
		<%= link_to "Submit Order to #{order.brand.company_name}", submit_order_url(order,0), class: "landing-button", remote: true %> <span style="font-weight: 100;">or</span>
		<%= link_to "Add More Items to Order", view_brand_url(order.brand), class: "landing-button secondary" %>
		</div>

	</div><!--/.medium-11 medium-centered-->
</div><!--/.row-->