<% if armor %>
<ul class="order-flow-header" data-steps="8">
	<li class="<%= order_flow_cart(status:status, step:"cart") %>"><span>Cart</span><i></i></li>
	<li class="<%= order_flow_cart(status:status, step:"submitted") %>"><span>Submitted</span></li>
	<li class="<%= order_flow_cart(status:status, step:"pending") %>"><span>Pending</span></li>
	<li class="<%= order_flow_cart(status:status, step:"approved") %>"><span>Approved</span></li>
	<li class="<%= order_flow_cart(status:status, step:"paid") %>"><span>Paid</span></li>
	<li class="<%= order_flow_cart(status:status, step:"shipped") %>"><span>Shipped</span></li>
	<li class="<%= order_flow_cart(status:status, step:"delivered") %>"><span>Delivered</span></li>
	<% if status == "disputed" %>
	<li class="active">Order in Disupte</li>
	<% end %>
	<li class="<%= order_flow_cart(status:status, step:"completed") %>"><span>Complete</span><i></i></li>
</ul>
<% else %>
	<% if order.payment_terms == "Prepay" %>
		<ul class="order-flow-header" data-steps="8">
			<li class="<%= order_flow_cart(status:status, step:"cart") %>"><span>Cart</span><i></i></li>
			<li class="<%= order_flow_cart(status:status, step:"submitted") %>"><span>Submitted</span></li>
			<li class="<%= order_flow_cart(status:status, step:"pending") %>"><span>Pending</span></li>
			<li class="<%= order_flow_cart(status:status, step:"approved") %>"><span>Approved</span></li>
			<li class="<%= order_flow_cart(status:status, step:"paid") %>"><span>Paid</span></li>
			<li class="<%= order_flow_cart(status:status, step:"shipped") %>"><span>Shipped</span></li>
			<li class="<%= order_flow_cart(status:status, step:"delivered") %>"><span>Delivered</span></li>
			<li class="<%= order_flow_cart(status:status, step:"completed") %>"><span>Complete</span><i></i></li>
		</ul>
	<% else %>
		<ul class="order-flow-header" data-steps="7">
			<li class="<%= order_flow_cart(status:status, step:"cart") %>"><span>Cart</span><i></i></li>
			<li class="<%= order_flow_cart(status:status, step:"submitted") %>"><span>Submitted</span></li>
			<li class="<%= order_flow_cart(status:status, step:"pending") %>"><span>Pending</span></li>
			<li class="<%= order_flow_cart(status:status, step:"approved") %>"><span>Approved</span></li>
			<li class="<%= order_flow_cart(status:status, step:"shipped") %>"><span>Shipped</span></li>
			<li class="<%= order_flow_cart(status:status, step:"delivered") %>"><span>Delivered</span></li>
			<li class="<%= order_flow_cart(status:status, step:"completed") %>"><span>Complete</span><i></i></li>
		</ul>
	<% end %>
<% end %>
