<div class="full-order-container">
	<div class="row">
		<div class="small-12 columns">

			<div class="row">
				<div class="small-12 columns">
					<div id="order-panel-top">
						<h1>Order Paid</h1>
						<%= render partial: "orders/showfull/order_flow_header", locals: { status: order.status , armor: order.armor_enabled? , order: order} %>
						<% if order.armor_enabled? %>
							<h3>Payment for this order has been received and placed into escrow. Order can now be shipped to <%= order.orderer.company_name %>.</h3>
						<% else %>
							<h3>Payment for this order has been received. Order can now be shipped to <%= order.orderer.company_name %>.</h3>
						<% end %>
					</div>
				</div><!--/.small-12-->
			</div><!--/.row-->

			<div class="panel outer">

				<div class="row">
					<div class="medium-11 medium-centered columns">
						<a name="form"></a>
						<br>
						<h1 class="top-level">Next Step: Ship the Order and Enter Shipment Tracking Information</h1>
						<br>
						
						<% if order.armor_enabled? %>
							<div class="panel">
								<%= render partial: "orders/showfull/paid_brand_payoneer", locals: { order: order } %>
							</div>
						<% else %>
							<%= render partial: "orders/showfull/paid_brand_prepay", locals: { order: order } %>
						<% end %>

					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<h1 class="top-level">Order</h1>
						<div class="panel">
							<%= render "shared/orders/show" %>		
						</div>
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

			</div><!--/.panel outer-->
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.full-order-container-->