<div class="full-order-container">
	<div class="row">
		<div class="small-12 columns">

			<div class="row">
				<div class="small-12 columns">
					<div id="order-panel-top">
						<h1>Order Pending Approval</h1>
						<%= render partial: "orders/showfull/order_flow_header", locals: { status: order.status , armor: order.armor_enabled? , order: order} %>
						<h3>This order has been updated with final fees and additional costs and is ready for your review and approval.</h3>
					</div>
				</div><!--/.small-12-->
			</div><!--/.row-->

			<div class="panel outer">

				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<h1 class="top-level"><%= order.brand_company_name %> has sent this order for your final approval<br>Next Steps:</h1>

						<br>
						<h1><span class="step" data-step="1"></span> Review Order</h1>
						<% if comment = display_order_response(order: order) %>
						<div class="panel message">
							<h3><%= comment[:preface] %></h3>
							<div id="order-comments"><%= render partial: "shared/orders/order_comment_display", locals: { comment: comment[:comment], additional_comments: comment[:additional_comments]} %></div>
						</div>
						<% end %>

						<div class="panel" id="order-display">
							<%= render "shared/orders/show" %>		
						</div>
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<h1><span class="step" data-step="2"></span> Approve the Final Order Costs</h1>
						<div class="panel text-center">
						<%= link_to "Approve this Order", approve_order_url(order,0), class: "landing-button", remote: true %> or 
						<%= link_to "Request Changes to this Order", decline_approval_order_url(order,0), class: "landing-button", remote: true %>
						</div>
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

			</div><!--/.panel outer-->
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.full-order-container-->