<div class="full-order-container">
	<div class="row">
		<div class="small-12 columns">

			<div class="row">
				<div class="small-12 columns">
					<div id="order-panel-top">
						<h1>Order Pending Approval</h1>

						<%= render partial: "orders/showfull/order_flow_header", locals: { status: order.status , armor: order.armor_enabled? , order: order} %>
						<h3>This order has been updated with final fees and additional costs and is ready for review and approval by <%= order.orderer.company_name %>.</h3>
					</div>
				</div><!--/.small-12-->
			</div><!--/.row-->

			<div class="panel outer">

				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<h1 class="top-level">What's Next?</h1>
						<h1 class="top-level">Wait for approval <% order.armor_enabled? ? "and final payment" : "" %> from <%= order.orderer.company_name %></h1>
						<div class="info">
							<h3>You will receive an email when <%= order.orderer.company_name %> has approved the final order costs.</h3>
						</div>
						<%= render partial: "add_additional_comment_link" %>
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<h1 class="top-level">Order</h1>
						<div class="panel" id="order-display">
							<%= render "shared/orders/show" %>		
						</div>
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

			</div><!--/.panel outer-->
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.full-order-container-->