<div class="full-order-container">
	<div class="row">
		<div class="small-12 columns">

			<div class="row">
				<div class="small-12 columns">
					<div id="order-panel-top">
						<h1>Order Shipped</h1>
						<%= render partial: "orders/showfull/order_flow_header", locals: { status: order.status , armor: order.armor_enabled? , order: order} %>
						<h3>This order has been shipped.</h3>
					</div>
				</div><!--/.small-12-->
			</div><!--/.row-->

			<div class="panel outer">

				<div class="row">
					<div class="medium-11 medium-centered columns">
						<a name="form"></a>
						<br>
						<h1 class="top-level">Next Step: Await Delivery and Review</h1>
						<div class="info">
							<% if order.armor_enabled? %>
							<h3>You will be notified by email when the shipment is delivered.</h3>
							<h3><%= order.orderer.company_name %> will review the shipment and will approve payment release, usually within three days of delivery.</h3>
							<% else %>
							<h3>You will be notified by email when the shipment is delivered.</h3>
							<h3><%= order.orderer.company_name %> will review the shipment and you should receive payment approximately <%= net_terms_payment_estimate(order: order)[:receipt] %> days after delivery.</h3>
							<% end %>
						</div>
						<br>
						<div class="panel">
							<h3>Shipment Info</h3>
							<h4>Carrier: <strong><%= order.armor_shipment_carrier_name %></strong></h4>
							<h4>Tracking ID: <strong><%= order.armor_shipment_tracking_number %></strong></h4>
							<%= "<h4>Description: <strong>#{order.armor_shipment_description}</strong> </h4>".html_safe if order.armor_shipment_description.present? %>
						</div>
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<h1 class="top-level">Order</h1>
						<div class="panel">
							<%= render "shared/orders/show" %>		
						</div>
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

			</div><!--/.panel outer-->
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.full-order-container-->