<div class="full-order-container">
	<div class="row">
		<div class="small-12 columns">

			<div class="row">
				<div class="small-12 columns">
					<div id="order-panel-top">
						<%= render partial: "orders/showfull/order_flow_header", locals: { status: order.status } %>
						<hr>
						<h3>This order has been submitted by <%= order.orderer.company_name %></h3>
						<%= flash[:notice] ? "<span class='error'>#{flash[:notice]}</span>".html_safe : "" %>
					</div>
				</div><!--/.small-12-->
			</div><!--/.row-->

			<div class="panel outer">

				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<h1>Next Steps:</h1>
						<h1>1) Add Additional Charges <small>(e.g. shipping, fees)</small></h1>
						<h3>Have questions? <%= link_to "Contact #{order.orderer.company_name}", new_simple_message_url(order.orderer), remote:true %></h3>
						<div class="row">
							<div class="small-12 columns">
								<div class="panel">
									<% if order.order_additional_charges.present? %>
									<div class="row" id="additional-cost-headers">
											<div class="medium-3 columns">
												<span style="font-weight: 100;">Name</span>
											</div><!--/"medium-3-->
											<div class="medium-4 columns">
												<span style="font-weight: 100;">Description</span>
											</div><!--/"medium-3-->
											<div class="medium-1 columns">
												<span style="font-weight: 100;">Amount</span>
											</div><!--/"medium-3-->
											<div class="medium-4 columns">
												&nbsp;
											</div><!--/.medium-3-->
										</div><!--/.row-->
									<% order.order_additional_charges.each do |c| %>
										<%= form_for c, url: update_order_additional_charge_url(order,c) do |f| %>
										<div class="row">
											<div class="medium-3 columns">
												<%= f.text_field :name, label: false %>	
											</div><!--/"medium-3-->
											<div class="medium-4 columns">
												<%= f.text_field :description, label: false %>	
											</div><!--/"medium-4-->
											<div class="medium-2 columns">
												<div class="row collapse">
													<div class="small-2 columns">
														<span class="prefix">$</span>
													</div><!--/.small-2-->
													<div class="small-10 columns">
														<%= f.number_field :amount, step: "any", value: display_price(c.amount), label: false %>
													</div><!--/.small-10-->
												</div><!--/.row-->
											</div><!--/"medium-2-->
											<div class="medium-3 columns">
											<%= f.submit "Update", class: "landing-button", style: "margin-top: 0;" %>
											<%= link_to 'Delete', delete_order_additional_charge_url(order,c), :method => 'Delete', data: { :confirm => 'Are you sure you want to delete this charge?'}, class: "landing-button", style: "margin-top: 0;"  %>
											</div><!--/.medium-3-->
										</div><!--/.row-->
										<% end %>
									<% end %>
									<hr style="margin-top: 0; margin-bottom: 16;">
									<% end %>
									<%= flash[:error] ? "<span class='error'>#{flash[:error]}</span>".html_safe : "" %>
									<%= form_for OrderAdditionalCharge.new, url: create_order_additional_charge_url(order) do |f| %>
										<div class="row">
											<div class="medium-3 columns">
												<%= f.text_field :name, placeholder: 'Name (required)', label: false %>
											</div><!--/"medium-3-->
											<div class="medium-4 columns">
												<%= f.text_field :description, placeholder: 'Description', label: false %>
											</div><!--/"medium-4-->
											<div class="medium-2 columns">
												<div class="row collapse">
													<div class="small-2 columns">
														<span class="prefix">$</span>
													</div><!--/.small-2-->
													<div class="small-10 columns">
														<%= f.number_field :amount, step: "any", placeholder: 'Amount (required)', label: false %>	
													</div><!--/.small-10-->
												</div><!--/.row-->
											</div><!--/"medium-2-->
											<div class="medium-3 columns">
												<%= f.submit "Add Charge", class: "landing-button", style: "margin-top: 0;" %>
											</div><!--/.medium-3-->
										</div><!--/.row-->
									<% end %>
								</div> <!--.panel-->
							</div><!--/.small-12-->
						</div><!--/.row-->
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->


				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<h1>2) Review Order</h1>
						<h3>Have questions? <%= link_to "Contact #{order.orderer.company_name}", new_simple_message_url(order.orderer), remote:true %></h3>
						<div class="panel">
							<%= render "shared/orders/show" %>		
						</div>
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->


				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<h1>3) Send <%= order.orderer.company_name %> the Updated Order</h1>
						<h3>Have questions? <%= link_to "Contact #{order.orderer.company_name}", new_simple_message_url(order.orderer), remote:true %></h3>
						<div class="panel text-center">
							<%= link_to "Submit Updated Order to #{order.orderer.company_name}", pending_order_url(order,0), class: "landing-button", remote: true %>
						</div>
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

			</div><!--/.panel outer-->
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.full-order-container-->