<div class="row">
	<div class="small-12 columns">
		<div class="panel text-right" id="profile-actions">
			<%= link_to "View Brand Profile", view_brand_url(order.brand), class: "landing-button" %>
			<%= link_to "Contact", new_simple_message_url(order.brand), remote:true, class: "landing-button" %>
		</div>
	</div><!--/.small-12-->
</div><!--/.row-->

<div class="row">
	<div class="medium-8 columns">
		<h1><%= order.brand.company_name %></h1>
	</div><!--/.medium-8-->
	<div class="medium-4 columns text-right">
		<% if order.brand.logo_file_name %>
			<%= image_tag order.brand.logo.url(:medium), alt: "Logo" %><br>
		<% else %>
			<% if !order.brand.facebook.blank? && fb_picture(order.brand.facebook) %>
				<%= image_tag fb_picture(order.brand.facebook) %><br>
			<% else %>
				<%= image_tag order.brand.logo.url(:medium), width: "100", height: "100", alt: "Logo" %><br>
			<% end %>					
		<% end %>
	</div><!--/.medium-4-->
</div><!--/.row-->

<div class="full-order-container">
	<div class="row">
		<div class="small-12 columns">
			<div class="panel outer">

				<div class="row">
					<div class="small-12 columns">
						<h1>Submitted Order</h1>
						<h3>This order has been submitted and may no longer be updated</h3>
					</div><!--/.small-12-->
				</div><!--/.row-->
				<hr>

				<div class="row">
					<div class="medium-11 medium-centered columns">
						
						<div class="panel">
							<%= render "shared/orders/show" %>		
						</div>

					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

			</div><!--/.panel outer-->
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.full-order-container-->