<div class="full-order-container">
	<div class="row">
		<div class="small-12 columns">

			<div class="row">
				<div class="small-12 columns">
					<div id="order-panel-top">
						<h1>Order 
						<% if order.comments.submitted_comment_from_orderer.present? %>
						Resubmitted with changes requested
						<% else %>
						Submitted
						<% end %>
						</h1>
						<%= render partial: "orders/showfull/order_flow_header", locals: { status: order.status , armor: (order.armor_enabled? ? true : false ) } %>
						
						<% if order.comments.submitted_comment_from_orderer.present? %>
							<h3>This order has been sent back to you with changes requested. Please review the changes and respond.</h3>
						<% else %>
							<h3>This order has been submitted by <%= order.orderer.company_name %></h3>
						<% end %>
						<%= flash[:notice] ? "<span class='error'>#{flash[:notice]}</span>".html_safe : "" %>
					</div>
				</div><!--/.small-12-->
			</div><!--/.row-->

			<div class="panel outer">

				<div class="row">
					<div class="medium-11 medium-centered columns">
					<h1>Next Steps:</h1>
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

				<div class="row">
					<div class="medium-11 medium-centered columns">

						<br>
						<h1><span class="step" data-step="1"></span> Add Reference Number (Optional)</h1>
						<h3>Have questions? <%= link_to "Contact #{order.orderer.company_name}", new_simple_message_url(order.orderer), remote:true %></h3>
						<div class="panel">
							<h3>Add a reference number to help you track this order in your system.</h3>
						</div>
						<div class="panel text-center">
							<%= render partial: "add_reference_id", locals: {order: order} %>
						</div><!--.panel text-center-->

						<br>
						<h2><span class="step" data-step="2"></span> Change Order Discount Rate (Optional)</h2>
						<h3>Have questions? <%= link_to "Contact #{order.orderer.company_name}", new_simple_message_url(order.orderer), remote:true %></h3>
						<div class="row">
							<div class="small-12 columns">
								<div class="panel">
									<h3>Update the discount rate for this order, overriding the default 50% unit discount rate.</h3>
								</div>
								<div class="panel">
									<%= form_for order, :html => {id: 'order-discount-form'}, remote: true do |f| %>
										<div class="row">
											<div class="small-12 columns">
												<%= f.label :discount, "Order Discount" %>
											</div><!--/.small-12-->
										</div><!--/.row-->
										<div class="row">
											<div class="medium-2 columns">
												<div class="row collapse">
													<div class="small-8 columns">
														<%= f.number_field :discount, label: false %>
													</div><!--/.small-4-->
													<div class="small-4 columns">
														<span class="postfix">%</span>
													</div><!--/.small-2-->
												</div><!--/.row-->
											</div><!--/.small-12-->
										</div><!--/.row-->
										<div class="row">
											<div class="small-12 columns">
												<%= f.submit "Update Discount", class: "landing-button" %>
												<div class="inline-error" id="discount-error"></div>
											</div><!--/.small-12-->
										</div><!--/.row-->
									<% end %>
								</div> <!--.panel-->
							</div><!--/.small-12-->
						</div><!--/.row-->


						<br>
						<h2><span class="step" data-step="3"></span> Add Additional Charges (Optional)</h2>
						<h3>Have questions? <%= link_to "Contact #{order.orderer.company_name}", new_simple_message_url(order.orderer), remote:true %></h3>
						<div class="row">
							<div class="small-12 columns">
								<div class="panel">
									<h3>Add any additional charges or discounts (e.g. Shipping, Fees).</h3>
								</div>
								<div class="panel">
									<h3><strong>Additional Charges</strong></h3>

									<span id="additional-charges-display"><%= render partial: "additional_charges", locals: { order: order } %></span>
									<div class="inline-error" id="additional-charge-error"></div>
									<%= form_for OrderAdditionalCharge.new, url: create_order_additional_charge_url(order), remote: true do |f| %>
										<div class="row">
											<div class="medium-3 columns">
												<%= f.text_field :name, placeholder: 'Name (required)', label: false %>
											</div><!--/"medium-3-->
											<div class="medium-4 columns">
												<%= f.text_field :description, placeholder: 'Description', label: false %>
											</div><!--/"medium-4-->
											<div class="medium-2 columns">
												<div class="row collapse">
													<div class="small-2 columns">
														<span class="prefix">$</span>
													</div><!--/.small-2-->
													<div class="small-10 columns">
														<%= f.number_field :amount, step: "any", placeholder: 'Amount (required)', label: false %>	
													</div><!--/.small-10-->
												</div><!--/.row-->
											</div><!--/"medium-2-->
											<div class="medium-3 columns">
												<%= f.submit "Add Charge", class: "landing-button", style: "margin-top: 0;" %>
											</div><!--/.medium-3-->
										</div><!--/.row-->
									<% end %>
								</div> <!--.panel-->
							</div><!--/.small-12-->
						</div><!--/.row-->

					</div><!--/.medium-11-->
				</div><!--/.row-->

				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<h1><span class="step" data-step="4"></span> Review Order</h1>
						<h3>Have questions? <%= link_to "Contact #{order.orderer.company_name}", new_simple_message_url(order.orderer), remote:true %></h3>
						<div class="panel">
							<h3>You can edit order Items by clicking on item name or quantity</h3>							
						</div>
						<div class="panel" id="order-display">
							<%= render "shared/orders/show" %>		
						</div>
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<h1><span class="step" data-step="5"></span> Send <%= order.orderer.company_name %> the Updated Order</h1>
						<h3>Have questions? <%= link_to "Contact #{order.orderer.company_name}", new_simple_message_url(order.orderer), remote:true %></h3>
						<div class="panel text-center">
							<%= link_to "Submit Updated Order to #{order.orderer.company_name}", pending_order_url(order,0), class: "landing-button", remote: true %>
						</div>
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

			</div><!--/.panel outer-->
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.full-order-container-->