<div class="full-order-container">
	<div class="row">
		<div class="small-12 columns">

			<div class="row">
				<div class="small-12 columns">
					<div id="order-panel-top">
						<h1>Order 
						<% if order.comments.declined.present? %>
						Resubmitted with changes requested
						<% else %>
						Submitted
						<% end %>
						</h1>
						<%= render partial: "orders/showfull/order_flow_header", locals: { status: order.status , armor: (order.armor_enabled? ? true : false ) } %>
						<% if order.comments.declined.present? %>
							<h3>This order has been sent back to <%= order.brand_company_name %> for updates. Please wait for <%= order.brand.company_name %> to respond.</h3>
						<% else %>
							<h3>This order has been submitted. Please wait for <%= order.brand.company_name %> to calculate final fees and costs.</h3>
						<% end %>
						
					</div>
				</div><!--/.small-12-->
			</div><!--/.row-->

			<div class="panel outer">

				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<h1>What's next? <br>Wait for <%= order.brand.company_name %> to calculate final fees and costs</h1>
						<div class="info">
							<h3>
						<% if order.comments.declined.present? %>
							<%= order.brand.company_name %> will review your request.<br> You will receive an email when an updated order is available for review and payment.
						<% else %>
							<%= order.brand.company_name %> will add all final fees and shipping costs.<br> You will receive an email when the final order is available for review and payment.
						<% end %>
						</h3>
						</div>
						<h3>Have questions? <%= link_to "Contact #{order.brand.company_name}", new_simple_message_url(order.brand), remote:true %></h3>
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<h1>Order</h1>
						<div class="panel">
							<%= render "shared/orders/show" %>		
						</div>
					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

			</div><!--/.panel outer-->
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.full-order-container-->