<div class="row">
	<div class="small-12 columns">
		<div class="panel text-right" id="profile-actions">
			<%= link_to "View #{order.orderer_type} Profile", eval("view_#{order.orderer_type.downcase}_url(order.orderer)"), class: "landing-button" %>
			<%= link_to "Contact", new_simple_message_url(order.orderer), remote:true, class: "landing-button" %>
		</div>
	</div><!--/.small-12-->
</div><!--/.row-->

<div class="row">
	<div class="medium-8 columns">
		<span id="profile-company-name">
		<h1><%= order.orderer.company_name %></h1>
		<h4>Orders</h4>
		</span>
	</div><!--/.medium-8-->
	<div class="medium-4 columns text-right">
		<% if order.orderer.logo_file_name %>
			<%= image_tag order.orderer.logo.url(:medium), alt: "Logo" %><br>
		<% else %>
			<% if !order.orderer.facebook.blank? && fb_picture(order.orderer.facebook) %>
				<%= image_tag fb_picture(order.orderer.facebook) %><br>
			<% else %>
				<%= image_tag order.orderer.logo.url(:medium), width: "100", height: "100", alt: "Logo" %><br>
			<% end %>					
		<% end %>
	</div><!--/.medium-4-->
</div><!--/.row-->
<div class="full-order-container">
	<div class="row">
		<div class="small-12 columns">

			<div class="row">
				<div class="small-12 columns">
					<div id="order-panel-top">
					<h2>Submitted Order<br><small>This order has been submitted and may no longer be updated by <%= order.orderer.company_name %></small></h2>
					</div>
				</div><!--/.small-12-->
			</div><!--/.row-->

			<div class="panel outer">

				<div class="row">
					<div class="medium-11 medium-centered columns">
						
						<div class="panel">
							<%= render "shared/orders/show" %>		
						</div>

					</div><!--/.medium-11 medium-centered-->
				</div><!--/.row-->

			</div><!--/.panel outer-->
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.full-order-container-->