<% if match %>
	<% if @messages.where(stage: stage).count > 0 || match.stage == stage %>

		<div class="row collapse">
			<div class="small-2 text-right columns">
				<div class="conversation-logo-them">
					<h4><strong><%= match.send(@current_user.type_inverse?).company_name %></strong></h4>
					<%= image_tag match.send(@current_user.type_inverse?).logo.url(:medium) %>
				</div>
			</div><!--/.small-2 text-left-->
			<div class="small-8 columns">

				<div class="conversation-block">

					<div id="send-message">
						<%= match.accepted ? (render partial: "matches/conversation/send_message", locals: {match: match, stage: stage}) : "" %>
					</div><!--/#send-message-->

					<div id="view-messages">
						<% if i_contacted(match) %>
							<%= render partial: "matches/outgoing_contact", locals: {match: match, stage: stage} %>
						<% else %>
							<%= render partial: "matches/incoming_contact", locals: {match: match, stage: stage}  %>
						<% end %>

					</div><!--/#view-messages-->
					
				</div><!--/.conversation-block -->

			</div><!--/.small-8-->
			<div class="small-2 text-left columns">
				<div class="conversation-logo-you">
					<h4><strong><%= match.send(@current_user.type?).company_name %></strong></h4>
					<%= image_tag @current_user.send(@current_user.type?).logo.url(:medium) %>
				</div>
			</div><!--/.small-2 text-right-->
		</div><!--/.row-->

	<% else %>

		[illustration of <%= stage %>]

	<% end %>

<% end %>


