<% if @messages && @current_user.subscriber? %>

	<% match = this_match(profile) %>

	<% content_for :javascript_head do %>
		<%= javascript_tag do %>
			conversationStage = "<%= @stage %>";
		<% end %>
	<% end %>

	<% content_for :javascript_foot do %>
		<%= javascript_tag do %>
			initConversations();
		<% end %>
	<% end %>

<div class="row collapse">
	<div class="small-12 columns">
		<div class="profile-container">

			<div class="row collapse" id="conversation-map">
				<%= render partial: "matches/conversation/conversation_map", locals: {match: match} %>
			</div><!--/.row-->

			<!--CONVERSATION MAP SUBHEAD start-->
			<div class="row collapse conversation-map-subhead">
				<%= render partial: "matches/conversation/conversation_#{@stage}_subhead" %>
			</div><!--/.row-->
			<!--CONVERSATION MAP SUBHEAD end-->

			<div class="row collapse hide-for-small-only">
				<div class="medium-9 columns text-center">
					<div id="conversation-section-header">
						<h6>CONVERSATION</h6>
					</div>
				</div><!--/.medium-9-->
				<div class="medium-3 columns text-center">
					<div id="action-section-header">
						<h6>ACTION &amp; INFORMATION</h6>
					</div>
				</div><!--/.medium-3-->
			</div><!--/.row-->

			<div class="row" id="conversation-wrapper">
				<div class="medium-9 columns conversation-right-message-column">
						<div id="conversation-message-block">
							<%= render partial: "matches/conversation_message_block", locals: {match: match, stage: @stage} %>
						</div>
				</div><!--/.medium-8-->
				<div class="medium-3 columns">
					<div id="conversation-action">
						<%= render partial: "matches/conversation/conversation_#{@stage}_action", locals: {match: match, profile: profile} %> 
					</div>
				</div>
			</div>

		</div>
	</div><!--/.small-12-->
</div><!--/.row-->

<% end %>
