<% if controller_name == "matches" && !this_match(profile) %>

<% content_for :javascript_foot do %>
	<%= javascript_tag do %>
		$('#contact-start-trigger').on('click', function(e){
			e.preventDefault();
			$('#contact-start').slideToggle(1000);
		});
	<% end %>
<% end %>

<div id="pct_<%= profile.id %>">
<div class="row collapse">
	<div class="medium-8 large-6 medium-centered columns">
		<div class="profile-container">
		<div class="profile-content">
			<div class="row">
				<div class="medium-6 columns small-text-center medium-text-right">
					<h2>Make a connection and find new international partners</h2>
				</div><!--/.medium-6 -->
				<div class="medium-6 columns text-center">
					<% if @current_user.subscriber? %>
						<%= link_to "#", :id => "contact-start-trigger" do %>
							<h3><span class="plt-indicator-action-off">Contact</span><strong> <%= profile.company_name %></strong></h3>
						<% end %>						
					<% else %>	
						<span class="profile-save-tile text-center deactivate">
							<span data-tooltip aria-haspopup="true" class="has-tip" title="Available only to Subscribers" style>
							<%= link_to 'Contact', "#" %>
							</span>
						</span>
					<% end %>
				</div><!--/.medium-6-->
			</div>
			<div class="row">
				<div class="small-12 columns">
					
					<div id="contact-start" style="display: none;">
						<br>
						<hr>
						<br>
					  <h2>Send <strong><%= profile.company_name %></strong> a message
					  </h2>
						<%= form_tag contact_match_url, method: 'get', remote: true do %>
							<%= hidden_field_tag(:match_id, profile.id) %>
						  <%= text_area_tag(:m, nil, rows: "5", label: false, placeholder: "Message") %>
						  <%= submit_tag("Contact", class: "button tiny alert") %>
						<% end %> 
					</div>

				</div><!--/.small-12-->
			</div><!--/.row-->
		</div>
		</div>
	</div><!--/.small-12-->
</div><!--/.row collapse-->
</div>
<br>
<% end %>