<div id="termsheet">
	<div class="row collapse">
		<div class="small-12 columns">
			<div class="profile-container">
			
				<div id="termsheet-header">
					<div class="row">
						<div class="small-12 columns">
							<h1>TERM SHEET - <%= @m.send(@current_user.type_inverse?).company_name %> &amp; <%= @current_user.send(@current_user.type?).company_name %></h1>
						</div><!--/.small-12-->
					</div><!--/.row-->
				</div>

				<div class="row">
					<div class="small-12 columns">
						<h1>Product &amp; Pricing Documents</h1>
					</div><!--/.small-12-->
				</div><!--/.row-->

				<div class="row">
					<div class="small-12 columns">
						<table class="preview-termsheet-table">
							<thead>
								<tr>
									<th width="50%">&nbsp;</th>
									<th width="50%">&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								<tr class="<%= @m.products_list.blank? ? 'inactive': ' ' %>">
									<td><h3>Products List</h3></td>
									<td>
										<% @m.products_list.each do |doc| %>
											<% d = LibraryDocument.find(doc) %>
											<%= link_to d.filename, d.file.url, target: "blank" %><br>
										<% end %>
									</td>
								</tr>
								<tr class="<%= @m.fob_pricing.blank? ? 'inactive': ' ' %>">
									<td><h3>FOB Pricing</h3></td>
									<td>
										<% @m.fob_pricing.each do |doc| %>
											<% d = LibraryDocument.find(doc) %>
											<%= link_to d.filename, d.file.url, target: "blank" %><br>
										<% end %>
									</td>
								</tr>
								<tr class="<%= @m.tiered_pricing_schedule.blank? ? 'inactive': ' ' %>">
									<td><h3>Tiered Pricing Schedule</h3></td>
									<td>
										<% @m.tiered_pricing_schedule.each do |doc| %>
											<% d = LibraryDocument.find(doc) %>
											<%= link_to d.filename, d.file.url, target: "blank" %><br>
										<% end %>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>


				<div class="row">
					<div class="small-12 columns">
						<h1>Agreement Commitments</h1>
					</div><!--/.small-12-->
				</div><!--/.row-->
						
				<div class="row">
					<div class="small-12 columns">
						<table class="preview-termsheet-table">
							<thead>
								<tr>
									<th>&nbsp;</th>
									<th class="text-right">Terms</th>
									<th class="text-right">Notes</th>
									<th class="text-right">Brand Approval</th>
									<th class="text-right">Distributor Approval</th>
								</tr>
							</thead>
							<tbody>
								<%= render partial: "matches/conversation/termsheet_item_row", locals: {
										name: "Commencement Date",
										subhead: "Start date of the agreement",
										}
								%>
								<%= render partial: "matches/conversation/termsheet_item_row", locals: {
										name: "Initial Term",
										subhead: "The duration of the initial term",
										datatype: "text",
										data: "partnership_terms_length"
										}
								%>
								<%= render partial: "matches/conversation/termsheet_item_row", locals: {
										name: "Renewal Terms",
										subhead: "The renewal terms",
										datatype: "text",
										data: "renewal_terms"
										}
								%>
								<%= render partial: "matches/conversation/termsheet_item_row", locals: {
										name: "Termination",
										subhead: "How the agreement can be terminated",
										datatype: "text",
										data: "termination_terms"
										}
								%>
								<%= render partial: "matches/conversation/termsheet_item_row", locals: {
										name: "Territory",
										subhead: "The countries covered under the agreement",
										datatype: "array",
										data: "territory"
										}
								%>
								<%= render partial: "matches/conversation/termsheet_item_row", locals: {
										name: "Payment Terms",
										subhead: "How the distributor will pay the brand",
										datatype: "text",
										data: "payment_terms"
										}
								%>
								<%= render partial: "matches/conversation/termsheet_item_row", locals: {
										name: "Exclusivity",
										subhead: "Terms of exclusivity",
										datatype: "text",
										data: "territory_exclusivity_terms"
										}
								%>
								<%= render partial: "matches/conversation/termsheet_item_row", locals: {
										name: "Channel Rights",
										subhead: "Which channels are covered by the agreement",
										datatype: "text",
										data: "channel_rights"
										}
								%>
								<tr class="<%= @m.marketing_commitments.blank? ? 'inactive': ' ' %>">
									<td class="item"><h3>Marketing Commitments<br><small>How much distributor will commit to marketing the brand in the territory</small></h3></td>
									<td class="terms">
										<% unless @m.marketing_commitments.blank? %>
											<%= simple_format(@m.marketing_commitments) %>
										<% end %>
									</td>
									<td class="notes <%= !@m.requested_minimum_marketing_spend.blank? ? 'active' : '' %>">
										<% unless @m.requested_minimum_marketing_spend.blank? %>
											<h3><%= @m.brand.company_name %> Marketing Spend Requests/Requirements</h3>
											<%= simple_format(@m.requested_minimum_marketing_spend) %>
										<% end %>		
									</td>
									<td class="brandapproval"></td>
									<td class="distributorapproval"></td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
									
						
				<div class="row">
					<div class="small-12 columns">
						<h1>Pricing and Ordering</h1>
					</div><!--/.small-12-->
				</div><!--/.row-->
				<div class="row">
					<div class="small-12 columns">
						<table class="preview-termsheet-table">
							<thead>
								<tr>
									<th>&nbsp;</th>
									<th class="text-right">Terms</th>
									<th class="text-right">Notes</th>
									<th class="text-right">Brand Approval</th>
									<th class="text-right">Distributor Approval</th>
								</tr>
							</thead>
							<tbody>
								<%= render partial: "matches/conversation/termsheet_item_row", locals: {
										name: "Product Pricing",
										subhead: "Amendments to Pricing Sheet",
										datatype: "text",
										data: "pricing_amendments"
										}
								%>
								<%= render partial: "matches/conversation/termsheet_item_row", locals: {
										name: "Annual Minimum Year 1",
										subhead: "How much is the minimum buy for Year 1",
										datatype: "text",
										data: "minimum_volume_year_one"
										}
								%>
								<%= render partial: "matches/conversation/termsheet_item_row", locals: {
										name: "Annual Minimum Year 2",
										subhead: "How much is the minimum buy for Year 2",
										datatype: "text",
										data: "minimum_volume_year_two"
										}
								%>
								<%= render partial: "matches/conversation/termsheet_item_row", locals: {
										name: "Annual Minimum Year 3",
										subhead: "How much is the minimum buy for Year 3",
										datatype: "text",
										data: "minimum_volume_year_three"
										}
								%>
								<%= render partial: "matches/conversation/termsheet_item_row", locals: {
										name: "Order Turnaround",
										subhead: "How long does it typically take to fulfill an order",
										datatype: "text",
										data: "order_turnaround"
										}
								%>
								<%= render partial: "matches/conversation/termsheet_item_row", locals: {
										name: "Shipping",
										subhead: "How long does it typically take to fulfill an order",
										datatype: "text",
										data: "shipping"
										}
								%>
							</tbody>
						</table>
					</div><!--/.small-12-->
				</div><!--/.row-->					
					
				<div class="row">
					<div class="small-12 columns">
						<h1>Marketing Proposal</h1>
					</div><!--/.small-12-->
				</div><!--/.row-->

				<div class="row">
					<div class="small-12 columns">
						<table class="preview-termsheet-table">
							<thead>
								<tr>
									<th>&nbsp;</th>
									<th class="text-right">Terms</th>
									<th class="text-right">Notes</th>
									<th class="text-right">Brand Approval</th>
									<th class="text-right">Distributor Approval</th>
								</tr>
							</thead>
							<tbody>

								<tr class="<%= @m.brand_launch_plan.blank? ? 'inactive' : ' ' %>">
									<td class="item"><h3>Brand Launch Plan<br><small>Summary of brand launch plan</small></h3></td>
									<td class="terms">
										<% unless @m.brand_launch_plan.blank? %>
											<%= simple_format(@m.brand_launch_plan) %>
										<% end %>
									</td>
									<td class="notes"></td>
									<td class="brandapproval"></td>
									<td class="distributorapproval"></td>
								</tr>

								<tr class="<%= @m.marketing_strategy.blank? && @m.marketing_channels.blank? ? 'inactive' : ' ' %>">
									<td class="item"><h3>Marketing<br><small>Summary of marketing channels and brand positioning</small></h3></td>
									<td class="terms">
										<% unless @m.marketing_strategy.blank? %>
											<h3>Marketing Strategy</h3>
											<%= simple_format(@m.marketing_strategy) %>
										<% end %>
										<% unless @m.marketing_channels.blank? %>
											<h3>Marketing Channels</h3>
											<ul>
											<% @m.marketing_channels.each do |item| %>
												<li><%= item %></li>
											<% end %>
											</ul>
										<% end %>
									</td>
									<td class="notes <%= !@m.marketing_requests_or_requirements.blank? ? 'active' : '' %>">								
										<% unless @m.marketing_requests_or_requirements.blank? %>
											<h3><%= @m.brand.company_name %> Marketing Requests/Requirements</h3>
											<%= simple_format(@m.marketing_requests_or_requirements) %>
										<% end %>
									</td>
									<td class="brandapproval"></td>
									<td class="distributorapproval"></td>
								</tr>

								<tr class="<%= @m.initial_channels.blank? && @m.second_tier_channels.blank? && @m.third_tier_channels.blank? ? 'inactive' : ' ' %>">
									<td class="item"><h3>Retail Channels<br><small>Summary of retail channel expansion and timing</small></h3></td>
									<td class="terms">
										<% unless @m.initial_channels.blank? %>
											<h3>Initial Channels</h3>
											<ul>
											<% @m.initial_channels.each do |item| %>
												<li><%= item %></li>
											<% end %>
											</ul>
										<% end %>
										<% unless @m.second_tier_channels.blank? %>
											<h3>Second Tier Channels</h3>
											<ul>
											<% @m.second_tier_channels.each do |item| %>
												<li><%= item %></li>
											<% end %>
											</ul>
										<% end %>
										<% unless @m.third_tier_channels.blank? %>
											<h3>Third Tier Channels</h3>
											<ul>
											<% @m.third_tier_channels.each do |item| %>
												<li><%= item %></li>
											<% end %>
											</ul>
										<% end %>
									</td>
									<td class="notes <%= @m.retail_channel_requests_or_requirements.blank? ? '' : 'active' %>">
										<% unless @m.retail_channel_requests_or_requirements.blank? %>
											<h3><%= @m.brand.company_name %> Retail Channel Requests/Requirements</h3>
											<%= simple_format(@m.retail_channel_requests_or_requirements) %>
										<% end %>
									</td>
									<td class="brandapproval"></td>
									<td class="distributorapproval"></td>
								</tr>

							</tbody>
						</table>
					</div><!--/.small-12-->
				</div><!--/.row-->

				<div class="row">
					<div class="small-12 columns">
						<h1>Country Considerations</h1>
					</div><!--/.small-12-->
				</div><!--/.row-->
				<div class="row">
					<div class="small-12 columns">
						
						<table class="preview-termsheet-table">
							<thead>
								<tr>
									<th>&nbsp;</th>
									<th class="text-right">Terms</th>
									<th class="text-right">Notes</th>
									<th class="text-right">Brand Approval</th>
									<th class="text-right">Distributor Approval</th>
								</tr>
							</thead>
							<tbody>
								<tr class="<%= @m.testing_information.empty? ? 'inactive': ' ' %>">
									<td class="item"><h3>Testing<br><small>Does your country require testing for the brand's products?<br> If so, please list which products require testing.<br> If yes, who will be responsible for testing?</small></h3></td>
									<td class="terms">
										<% unless @m.testing_information.blank? %>
											<h3>General Testing Information</h3>
											<%= simple_format(@m.testing_information) %>
										<% end %>
										<% unless @m.skus_for_testing.blank? %>
											<h3>SKU specific Testing Information</h3>
											<ul>
											<% @m.skus_for_testing.each do |sku_id,text| %>
												<% product = get_sku_info(sku_id, @m) %>
												<li>
													<h4><%= product.name %></h4>
													<%= simple_format(text) %>
												</li>
											<% end %>
											</ul>
										<% end %>
									</td>
									<td class="notes"></td>
									<td class="brandapproval"></td>
									<td class="distributorapproval"></td>
								</tr>

								<%= render partial: "matches/conversation/termsheet_item_row", locals: {
										name: "Certifications",
										subhead: "Do you require the brand to provide any certifications or documentation?<br>
											If yes, who  will be responsible for certifications?".html_safe,
											datatype: "text",
											data: "certification_information"
										}
								%>
								<%= render partial: "matches/conversation/termsheet_item_row", locals: {
										name: "Tariffs",
										subhead: "What are the tariffs associated with brand's product?<br>
											If yes, who will be responsible for tariffs?".html_safe,
										datatype: "text",
										data: "tariffs_information"
										}
								%>
								<%= render partial: "matches/conversation/termsheet_item_row", locals: {
										name: "Labeling",
										subhead: "Are there country-specific labeling requirements?<br>
											If yes, who will be responsible for country-specific label?".html_safe,
										datatype: "text",
										data: "labeling_information"
										}
								%>
								<%= render partial: "matches/conversation/termsheet_item_row", locals: {
										name: "Customs",
										subhead: "What will be the customs process for the brand's products?<br>
											Please indicate if this applies to the initial shipment, ongoing shipments or sporadic procedures.".html_safe,
										datatype: "text",
										data: "customs_information"
										}
								%>
								<%= render partial: "matches/conversation/termsheet_item_row", locals: {
										name: "Contract Authentication",
										subhead: " ".html_safe,
										datatype: "text",
										data: "contract_authentication"
										}
								%>
							</tbody>
						</table>

					</div><!--/.small-12-->
				</div><!--/.row-->

				<div class="row">
					<div class="small-12 columns">
						<h1>Preparation Documents</h1>
					</div><!--/.small-12-->
				</div><!--/.row-->

				<div class="row">
					<div class="small-12 columns">
						<table class="preview-termsheet-table">
							<thead>
								<tr>
									<th width="50%">&nbsp;</th>
									<th width="50%">&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								<tr class="<%= @m.certification_information_documents.blank? ? 'inactive': ' ' %>">
									<td><h3>Certification Information</h3></td>
									<td>
										<% @m.certification_information_documents.each do |doc| %>
											<% d = LibraryDocument.find(doc) %>
											<%= link_to d.filename, d.file.url, target: "blank" %><br>
										<% end %>
									</td>
								</tr>
								<tr class="<%= @m.patent_information_documents.blank? ? 'inactive': ' ' %>">
									<td><h3>Patent Information</h3></td>
									<td>
										<% @m.patent_information_documents.each do |doc| %>
											<% d = LibraryDocument.find(doc) %>
											<%= link_to d.filename, d.file.url, target: "blank" %><br>
										<% end %>
									</td>
								</tr>
								<tr class="<%= @m.testing_information_documents.blank? ? 'inactive': ' ' %>">
									<td><h3>Testing Information</h3></td>
									<td>
										<% @m.testing_information_documents.each do |doc| %>
											<% d = LibraryDocument.find(doc) %>
											<%= link_to d.filename, d.file.url, target: "blank" %><br>
										<% end %>
									</td>
								</tr>
								<tr class="<%= @m.ingredient_or_materials_lists.blank? ? 'inactive': ' ' %>">
									<td><h3>Ingredient or Materials Lists</h3></td>
									<td>
										<% @m.ingredient_or_materials_lists.each do |doc| %>
											<% d = LibraryDocument.find(doc) %>
											<%= link_to d.filename, d.file.url, target: "blank" %><br>
										<% end %>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>



				<div class="row">
					<div class="small-12 columns">
						<h1>Additional Contacts</h1>
					</div><!--/.small-12-->
				</div><!--/.row-->

				<div class="row">
					<div class="small-12 columns">
						
						<table class="preview-termsheet-table">
							<thead>
								<tr>
									<th>&nbsp;</th>
									<th class="text-right">Contact Info</th>
								</tr>
							</thead>
							<tbody>
								<tr class="<%= @m.account_executive.blank? ? 'inactive': ' ' %>">
									<td><h3>Account Executive</h3></td>
									<td>
										<% unless @m.account_executive.blank? %>
											<%= simple_format(@m.account_executive) %>
										<% end %>
									</td>
								</tr>
								<tr class="<%= @m.warehouse_contact.blank? ? 'inactive': ' ' %>">
									<td><h3>Warehouse Contact</h3></td>
									<td>
										<% unless @m.warehouse_contact.blank? %>
											<%= simple_format(@m.warehouse_contact) %>
										<% end %>
									</td>
								</tr>
								<tr class="<%= @m.freight_forwarder.blank? ? 'inactive': ' ' %>">
									<td><h3>Freight Forwarder</h3></td>
									<td>
										<% unless @m.freight_forwarder.blank? %>
											<%= simple_format(@m.freight_forwarder) %>
										<% end %>
									</td>
								</tr>
							</tbody>
						</table>

					</div><!--/.small-12-->
				</div><!--/.row-->

			</div>
		</div>
	</div>
</div>