<div class="row">
	<div class="medium-9 small-centered columns">
		<%= @order_item.brand.company_name %>
		<h1><strong><%= @order_item.name %></strong></h1>
		<h4>$ <%= @order_item.msrp %> MSRP</h4>
		<%= form_for OrderItem.new do |f| %>
			<%= hidden_field_tag "id", @order_item.id %>
			<div class="row">
				<div class="small-4 columns">
					<%= f.number_field :quantity, min: 0, label: false %>
				</div><!--/.small-4-->
				<div class="small-4 columns">
					<h3>UNITS</h3>
				</div><!--/.small-4-->
				<div class="small-4 columns">
					<%= f.submit "Add to order", class: "tiny button" %>
				</div><!--/.small-4-->
			</div><!--/.row-->			
		<% end %>
	</div><!--/.small-9 small-centered-->
</div><!--/.row-->




