<br>
<a class="anchor" id="a-channelcapacity"></a>
<div class="row">
	<div class="small-12 medium-centered columns">
		<div class="row">
			<div class="medium-6 columns text-right">
				<h4><strong>Channel</strong></h4>
			</div>
			<div class="medium-6 columns">
				<h4><strong>Capacity</strong></h4>
			</div>
		</div>
		<%= form_tag(channel_capacity_bulkupdate_url, method: "post", remote:true) do  %>
			<%= hidden_field_tag "redirect_anchor", "a-channelcapacity" %>
			<% if @brand.channels.empty? %>
				<div class="row">
					<div class="small-12 columns text-center">
					<h6 class="information">( Please add Channels above )</h6>
					</div>
				</div>

			<% end %>

			<% @brand.channels.each do |chan| %>

				<div class="row">
					<div class="medium-6 columns">
						<%= label_tag "channel_capacity[bulk_ids][#{chan.id}]", chan.name, class: "right" %>
					</div>
					<div class="medium-3 columns end">
						<%= number_field_tag("channel_capacity[bulk_ids][#{chan.id}]", @brand.channel_capacities.where(channel_id: chan.id).first.capacity, class: "auto-form-text") %>
					</div>
				</div>

			<% end %>

			<div id="custom-channel-capacities-list">
				<%= render partial: 'shared/profileform/custom_channel_capacities_list', locals:{u: @brand} %>
			</div>


				<div class="row">
					<div class="small-12 columns">
						<% unless @brand.channels.empty? %>
						<hr>
						<%#= submit_tag('Update Channel Capacities', class: "landing-button right") %>
						<% end %>
					</div>
				</div>

		<% end %>
	</div>
</div>
<br>
<br>