<div class="row">
	<div class="small-12 columns">
		<a class="anchor" id="a-companyinfo"></a>
		<h1>Company Info</h1>
	</div>
</div>
<%= form_for @brand, :html => {id: 'company-info-form'}, url: brand_url do |f| %>
	<%= hidden_field_tag "redirect_anchor", "a-companyinfo" %>
	<div class="row">
		<div class="medium-4 columns">

			<div class="row">
				<div class="small-12 columns">
					<%= f.label :logo do %>
						Company logo <br>
						<div class="text-center">
							<% if @brand.logo.exists? %>
								<br>
								<%= image_tag @brand.logo.url(:medium), width: "200", height: "200", alt: "Logo", id: "logo-preview"%>
								<br>
							<% else %>
								<br>
								<%= image_tag '/images/image_add.svg' %><br>
								<small>Upload a Logo</small>
							<% end %>
						</div>
					<% end %>
					<br>
					<%= f.file_field :logo, class: 'hide-upload', label: false, accept: 'image/png,image/gif,image/jpeg' %>
				</div>
			</div>	

		</div>
		<div class="medium-8 columns">

			<div class="row">
				<div class="small-12 columns">
					<%= f.text_area :company_name, rows: 2, style: "font-size:2em; font-weight:bold;", placeholder: "Company Name" %>
				</div>
			</div>

			<div class="row">
				<div class="medium-6 columns">
					<%= f.text_field :country_of_origin, class: "country-autocomplete", placeholder: 'Country of origin' %>
				</div>
				<div class="medium-6 columns">				
					<%= label_tag(:year_established, "Year established") %>
					<%= select_tag :year_established, options_for_select(1900..Time.now.year, @brand.year_established ? @brand.year_established.strftime("%Y") : '2000') %>
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns">
					<div class="row collapse">
						<%= label_tag(:website, "Website") %>
						<div class="small-3 columns">
							<span class="prefix">http://</span>
						</div>
						<div class="small-9 columns">
							<%= f.text_field :website, label: false %>
						</div>
					</div>
				</div>
				<div class="medium-6 columns">
					<%= label_tag(:company_size, "Company Size") %>
					<%= f.collection_select(:company_size, CompanySize.all, :id, :name, :label => false) %>
				</div>
			</div>

			<hr>
			<div class="row">						
				<div class="medium-6 columns">
					<%= label_tag(:facebook, "Facebook") %>
					<%= f.text_field :facebook, label: false %>
				</div>
				<div class="medium-6 columns">
					<%= label_tag(:linkedin, "LinkedIn") %>
					<%= f.text_field :linkedin, label: false %>
				</div>
			</div>	

			<div class="row">						
				<div class="medium-6 columns">
					<%= label_tag(:twitter, "Twitter") %>
					<%= f.text_field :twitter, label: false %>
				</div>
				<div class="medium-6 columns">
					<%= label_tag(:instagram, "Instagram") %>
					<%= f.text_field :instagram, label: false %>
				</div>
			</div>

			<hr>
			<div class="row">
				<%= f.fields_for :address do |ff| %>
				<div class="small-12 columns">					
					<%= ff.text_field :address1, label: "Address line 1" %>
					<%= ff.text_field :address2, label: "Address line 2" %>
				</div>
				<div class="medium-4 columns">
					<%= ff.text_field :city %>
				</div>
				<div class="medium-4 columns">
					<%= ff.text_field :state %>
				</div>
				<div class="medium-4 columns">
					<%= ff.text_field :postcode %>
				</div>
				<div class="medium-6 columns">
					<%= ff.text_field :country, class: "country-autocomplete", placeholder: 'Country' %>
				</div>
				<% end %>
			</div>

			<%= f.submit 'Update Company Info', class: "tiny radius alert button right"  %>
		</div>
	</div>
<% end %>