<br>
<a class="anchor" id="a-company-introduction"></a>
<div class="row">
	<div class="small-12 columns">
		<% text_length = 500 - ( @brand.brand_positioning ? @brand.brand_positioning.length : 0 ) %>
		<h4><span id="company-info-feedback"><%= text_length < 0 ? text_length * -1 : text_length %> <%= text_length < 0 ? "characters over" : "characters remaining" %></span></h4>
	</div>
</div>
<div class="row">
	<%= form_for @brand, url: brand_url, remote: true do |f| %>
	<%= hidden_field_tag "redirect_anchor", "a-company-introduction" %>
		<div class="small-12 columns">
			<%= f.text_area :brand_positioning, rows: 10, label: false, placeholder: 'Company Introduction', class: "auto-form-text" %>
			<%#= f.submit 'Update Company Introduction', class: "landing-button right" %>
		</div>
	<% end %>
</div>