<div class="index-item">
<%= link_to view_brand_url(brand) do %>
<div class="image">
	<% type, photo = index_item_photo(brand) %>
	<% if type == "logo" %>
		<img class="lazyOwl" data-src="<%= photo %>" width="100px">
	<% else %>
		<img class="lazyOwl" data-src="<%= photo %>">
	<% end %>
</div>
<% end %>
<div class="name"><%= link_to view_brand_url(brand) do %><%= brand.company_name %><% end %></div>

			
</div><!--/.index-item-->