<div class="index-item filtered">
<%= link_to view_brand_url(brand) do %>
<div class="image">
	<% type, photo = index_item_photo(brand) %>
	<% if type == "logo" %>
		<%= image_tag photo %>
	<% else %>
		<%= image_tag photo %>
	<% end %>
</div>
<% end %>
<div class="name"><%= link_to view_brand_url(brand) do %><%= brand.company_name %><% end %></div>

			
</div><!--/.index-item-->