<br>
<a class="anchor" id="a-ordering-requirements"></a>
<div class="row clearfix">
	<%= form_for @brand, url: brand_url, remote: true do |f| %>
	<%= hidden_field_tag "redirect_anchor", "a-ordering-requirements" %>
		<div class="small-12 columns editform">


			<div class="row">
				<div class="medium-6 columns">
					<%= f.label :order_minimum, "Order Minimum" %>
					<div class="row collapse">
						<div class="small-2 columns">
							<span class="prefix">$</span>
						</div><!--/.small-2-->
						<div class="small-10 columns">
							<% if @brand.order_minimum.present? %>
								<%= f.number_field :order_minimum, label: false, step: "any", placeholder: 'Minimum Order Value', value: display_price(@brand.order_minimum), class: "auto-form-text"  %>
							<% else %>
								<%= f.number_field :order_minimum, label: false, step: "any", placeholder: 'Minimum Order Value', class: "auto-form-text"  %>
							<% end %>
						</div><!--/.small-10-->
					</div><!--/.row-->
				</div><!--/.medium-6-->
			</div>
			
			<hr>

			<div class="row">
				<div class="medium-6 columns">
					<%= f.label :landing_commission, "Landing Commission" %>

					<div class="row collapse">
						<div class="small-10 columns">
							<%= f.select :landing_commission, options_for_select(1..20, @brand.landing_commission ?  @brand.landing_commission : '10'), {label: false}, {class: "auto-form"} %>
						</div><!--/.small-10-->
						<div class="small-2 columns">
							<span class="postfix">%</span>
						</div><!--/.small-2-->
					</div><!--/.row-->

				</div><!--/.medium-6-->
			</div>
			
			<hr>
			
			<div class="row">
				<div class="medium-6 columns">
					<h3>Other Requirements</h3>
					<%= f.check_box :landing_fulfillment_services, label: false, class: "auto-form" %>
					<%= f.label :landing_fulfillment_services, "Use Landing Fulfillment Services" %>
				</div><!--/.medium-6-->
			</div><!--/.row-->


		</div>
	<% end %>
</div>