<%= render layout: "shared/modal", locals: { size: "x-large" } do  %>
<div class="text-center">
	<%= image_tag 'https://s3.amazonaws.com/landingintl-us/general/landing-logo.png', width: "100", alt: "Landing International" %>
	<h1>To subscribe, please pay<br>$600 subscription fee by check or wire:</h1>
	<br>
	<div class="row">
		<div class="medium-8 medium-centered columns">
			<h2><strong>Pay by Check:</strong></h2>
			<table style="margin: auto; width: 100%;"><tbody>
				<tr><td>Payable to: </td><td><strong>Landing International</strong></td></tr>
				<tr><td>Mail to: </td><td><strong>Landing International<br>800 Wilshire Blvd, Suite 200<br>Los Angeles, CA 90017</strong></td></tr>
				<tr><td>&nbsp;</td><td>Please write your company name (<%= @current_user.brand.company_name %>) and reference number <%= @current_user.brand.display_subscriber_account_number %> on your check</td></tr>
			</tbody></table>			
			<br>
			<h2><strong>Pay by wire:</strong></h2>
			<table style="margin: auto; width: 100%;"><tbody>
				<tr><td>Bank: </td><td><strong>Citibank, NA</strong></td></tr>
				<tr><td>Swift Code: </td><td><strong>CITIUS33</strong></td></tr>
				<tr><td>Routing/ABA Number: </td><td><strong>321171184</strong></td></tr>
				<tr><td>Account Number: </td><td><strong>205978521</strong></td></tr>
				<tr><td>Address:</td><td><strong>
				Landing International<br>
				800 Wilshire Blvd, Suite 200<br>
				Los Angeles, CA 90017</strong></td></tr>
				<tr><td>Note/Memo:</td><td>For <%= @current_user.brand.company_name %> (Reference Number: <%= @current_user.brand.display_subscriber_account_number %>)</td></tr>
			</tbody></table>
		</div><!--/.medium-6-->
	</div><!--/.row-->

	<br>

	<br>

	<br>
	<h3>Contact us for assistance at any time at <a mailto="info@landingintl.com" style="color:black; text-decoration: underline;">info@landingintl.com</a></h3>
</div><!--/ .text-center -->
<% end %>