<%= render partial: "shared/topbar" %>
<%= render partial: "newuser", locals: { content: "newbrand_content" } if flash[:newuser] %>
<%= render partial: "newuser", locals: { content: "newaccount_content" } if flash[:newaccount] %>

<div class="row">
	<div class="small-12 columns marketplace-subpage-header">
		<div class="medium-6 columns" id="your-profile-header">
			<h1>YOUR PROFILE</h1>
			<h3>Preview &amp; Edit your marketplace profile.</h3>			
		</div><!--/.medium-6-->		
		<div class="medium-6 columns">
			<div class="row">
				<div class="small-6 columns">
					<h2>Edit Profile</h2>
					<small><span data-tooltip aria-haspopup="true" class="has-tip radius" title="Complete your brand profile so your potential  partners can learn about you and be better matched to you and your customer base.">What is this?</span></small>
				</div>
				<div class="small-6 columns">
				</div>		
			</div>
		</div><!--/.medium-6-->
	</div>
</div>

<div class="row collapse">
	<div class="small-12 columns marketplace-content">


		<div class="row collapse">
			<div class="medium-6 push-6 columns">
				<ul class="button-group even-3">
			  <li><%= link_to 'PUBLIC Profile', brand_public_profile_url, class: "tiny button secondary" %></li>
			  <li><%= link_to 'FULL Profile', brand_full_profile_url, class: "tiny button secondary" %></li>
			  <li><%= link_to 'EDIT Profile', "#", class: "tiny button info"%></li>
			  </ul>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<div class="row">
						<div class="small-12 columns">
							<br>
							<h3>랜딩 마켓플레이스에 오신 것을 환영합니다. <a href="https://s3.amazonaws.com/landingintl-us/general/BrandsRequirementsKorean.pdf" target="_blank">브랜드 프로필</a> 은 귀사의 브랜드 스토리 및 경쟁력을 바이어에게 어필할 수 있도록 만들어주세요.</h3>
							<h3>Please complete your brand profile so your potential partners can learn about you and be better matched to your products and customer base</h3>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "company_info" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "account_logins" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render partial: "shared/profileform/armor/armor_ordering_and_payments", locals: { company: @brand } %>
				</div>
			</div>
		</div>

<%#		HIDING FOR NOW UNTIL DETERMINE HOW USED  %>
<%#		<div class="row">  %>
<%#			<div class="medium-8 medium-push-4 columns">  %>
<%#				<div class="profile-edit-form">  %>
<%#					<%#= render "company_contacts" %>
<%#				</div>  %>
<%#			</div>  %>
<%#		</div> %>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "company_introduction" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "social_tags" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "trends" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "key_retailers" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "sectors" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "channels" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "channel_capacities" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "countries_of_distribution" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "brand_photos" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "products" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "press_hits" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "trade_shows" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "patents" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "trademarks" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "business_certifications" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 medium-push-4 columns">
				<div class="profile-edit-form">
					<%= render "social_fields" %>
				</div>
			</div>			
		</div>

	</div><!-- /.row collapse -->
</div><!-- ./small-12 columns marketplace-content -->

