<%= render partial: 'shared/v2/header/main' %>
<%= render partial: 'shared/v2/header/marketplace' %>
<%= render partial: "newuser", locals: { content: "shared/newusers/neworderer_content" } if flash[:newuser] %>

<% if @current_user %>

<div class="row">
	<div class="medium-11 medium-centered columns">
		<%= render partial: "/shared/profile/brand_full_profile", locals: {profile: @profile} %>
	</div><!--/.medium-11 medium-centered-->
</div><!--/.row-->

<% else %>
	<br><br>
	<div class="row">
		<div class="small-12 columns">
			<br>
		</div><!--/.small-12-->
		<div class="medium-10 columns medium-centered">
			<div id="restricted-view-container">
			<%= render "shared/profile/restricted_view" %>
			</div>
		</div>
		<div class="small-12 columns">
			<br><br><br>
		</div><!--/.small-12-->
	</div>
<% end %>


<%= render partial: 'shared/v2/footer/main' %>