<%= render partial: 'shared/v2/header/main' %>
<%= render partial: "newuser", locals: { content: "shared/newusers/neworderer_content" } if flash[:newuser] %>

<div class="row">
	<div class="small-12 columns">
		<nav class="breadcrumbs">
			<%= link_to "Beauty", root_url %>
		  <%= link_to "Find", brands_url %>
		  <a class="current" href="#"><%= @profile.company_name %></a>
		</nav>
	</div>
</div>

<% if @current_user %>
	<%= render partial: "/shared/profile/brand_full_profile", locals: {profile: @profile} %>
<% else %>
	<br><br>
	<div class="row">
		<div class="small-12 columns">
			<br>
		</div><!--/.small-12-->
		<div class="medium-10 columns medium-centered">
			<div id="restricted-view-container">
			<%= render "shared/profile/restricted_view" %>
			</div>
		</div>
		<div class="small-12 columns">
			<br><br><br>
		</div><!--/.small-12-->
	</div>
<% end %>


<%= render partial: 'shared/v2/footer/main' %>