<div class="row">
	<div class="small-12 columns">
		<h2>Please Create an Armor Payments Account</h2>
		<h3>You need to complete these profile items before you can sign up for an Armor Payments account. These fields can be updated via the form below or via the Company Info or Your Login Info sections on this page.</h3>
	</div><!--/.small-12-->
</div><!--/.row-->

<div class="row">
	<div class="small-12 columns">
		<div class="panel" style="background-color: #f2f2f2;">
			<% if m.present? %>
				<h3>Please enter the following:</h3>
				<ul style="font-weight: 100;">
				<% m.each do |err| %>
					<% if err == "Phone" %>
						<li><%= err %><%= flash[:error] ? " <span style='color: red;'>(#{flash[:error]})</span>".html_safe : "" %></li>
					<% else %>
						<li><%= err %></li>
					<% end %>
				<% end %>
				</ul>
			<% end %>
			<% if e.present? %>
				<h3>Please fix the following:</h3>
				<ul style="font-weight: 100;">
				<% e.each do |k,v| %>
					<li><%= v %></li>
				<% end %>
			<% end %>
			</ul>
		</div>
	</div><!--/.small-12-->
</div><!--/.row-->

<%= form_tag ap_complete_required_url, method: "post", id: "armor-combined" do %>
<div class="row">
	<div class="small-12 columns">
		<hr>
		<h2><small>from</small> Company Info</h2>
	</div><!--/.small-12-->
</div><!--/.row-->
<div class="row">
	<div class="small-12 columns">
	<%= label_tag :company_name, "Company Name", class: ( m.include?("Company Name") ? "error" : nil) %>
	<%= text_field_tag :company_name, c.company_name, placeholder: "Company Name", class: ( m.include?("Company Name") ? "error" : nil) %>
	</div><!--/.small-12-->
</div><!--/.row-->
<div class="row">
	<div class="small-12 columns">
	<%= label_tag :address1, "Address 1", class: ( m.include?("Address") ? "error" : nil) %>
	<%= text_field_tag :address1, c.address.address1, placeholder: "Address 1", class: ( m.include?("Address") ? "error" : nil) %>
	<%= label_tag :address2, "Address 2 (optional)" %>
	<%= text_field_tag :address2, c.address.address2, placeholder: "Address 2" %>
	</div><!--/.small-12-->
</div><!--/.row-->
<div class="row">
	<div class="medium-6 columns">
	<%= label_tag :city, "City/Town/Department", class: ( m.include?("City/Town/Department") ? "error" : nil) %>
	<%= text_field_tag :city, c.address.city, placeholder: "City/Town/Department", class: ( m.include?("City/Town/Department") ? "error" : nil) %>
	</div><!--/.medium-6-->
	<div class="medium-6 columns">
	<%= label_tag :state, "State/Province/Region/County", class: ( (m.include?("State/Provice/Region/County") || e[:state]) ? "error" : nil) %>
	<%= text_field_tag :state, c.address.state, placeholder: "State/Province/Region/County", class: ( (m.include?("State/Provice/Region/County") || e[:state]) ? "error" : nil) %>
	</div><!--/.medium-6-->
</div><!--/.row-->
<div class="row">
	<div class="medium-4 columns">
	<%= label_tag :postcode, "Zip/Postcode", class: ( m.include?("Zip/Postcode") ? "error" : nil)  %>
	<%= text_field_tag :postcode, c.address.postcode, placeholder: "Zip/Postcode", class: ( m.include?("Zip/Postcode") ? "error" : nil)  %>
	</div><!--/.medium-4-->
	<div class="medium-8 columns">
	<%= label_tag :country, "Country", class: ( (m.include?("Country") || e[:country]) ? "error" : nil)  %>
	<%= text_field_tag :country, c.address.country, placeholder: "Country", class: ( (m.include?("Country") || e[:country])  ? "error country-autocomplete" : "country-autocomplete")  %>
	</div><!--/.medium-8-->
</div><!--/.row-->
<div class="row">
	<div class="small-12 columns">
		<hr>
		<h2><small>from</small> Your Login Info</h2>
	</div><!--/.small-12-->
</div><!--/.row-->
<div class="row">
	<div class="medium-4 columns">
	<%= label_tag :user_firstname, "First Name", class: ( m.include?("First Name") ? "error" : nil) %>
	<%= text_field_tag :user_firstname, u.contact.firstname, placeholder: "First Name", class: ( m.include?("First Name") ? "error" : nil) %>
	</div><!--/.medium-4-->
	<div class="medium-4 columns">
	<%= label_tag :user_lastname, "Last Name", class: ( m.include?("Last Name") ? "error" : nil) %>
	<%= text_field_tag :user_lastname, u.contact.lastname, placeholder: "Last Name", class: ( m.include?("Last Name") ? "error" : nil) %>
	</div><!--/.medium-4-->
	<div class="medium-4 columns">
	<%= label_tag :user_phone, "Phone", class: ( m.include?("Phone") || flash[:error] ? "error" : nil) %>
	<%= text_field_tag :user_phone, u.contact.phone.present? ? u.contact.phone.phony_formatted(format: :international , spaces: '-') : "", placeholder: "Phone", class: ( m.include?("Phone") || flash[:error] ? "error" : nil) %>
	</div><!--/.medium-4-->
</div><!--/.row-->
<div class="row">
	<div class="small-12 columns text-right">
		<hr>
		<%= submit_tag :Update, class: "landing-button" %>
	</div><!--/.small-12-->
</div><!--/.row-->
<% end %>