<br>
<% if company.disable_armor_payments %>	
<div class="panel text-center" style="background-color: #f2f2f2;"><h3><strong>Armor Payments (Payoneer) is <span style="color:red;">OFF</span>.</strong></h3></div>
<% end %>
<div class="row">
	<div class="small-12 columns">
		<h3>How it works:</h3>
		<%= image_tag "https://s3.amazonaws.com/landingintl-us/general/orderpayments.png" %>
	</div>
</div>


<div class="row">
	<div class="small-12 columns">
		<a class="anchor" id="a-armor"></a>
	</div><!--/.small-12-->
</div><!--/.row-->

<% allow, missing, errors = @current_user.allows_armor_signup %>
<% if @current_user.company.armor_account_id %>
	
	<div class="row">
		<div class="small-12 columns">
			<hr>
			<h2>Armor Payments (Payoneer) Escrow Enabled</h2>

			<h3>You are now able to complete transactions via Armor Payments (Payoneer) and can now 
				<% if @current_user.company_type == "Brand" %>
					sell your products on the Landing International platform.
				<% else %>
					order products from our <%= link_to "Brand Partners", brands_url %>
				<% end %>
			</h3>
			
			<div class="landing-notice">In order to receive payment (for Brands) or refunds (for Retailers and Distributors), you need to ensure that Armor Payments (Payoneer) has your bank account information. Order payment and processing may be delayed if your banking information is incomplete. <a href="#a-armor-bank-info">You can submit your bank account information to Armor/Payoneer below.</a></div>

			<% if company.errors.any? %>
				<%= render partial: 'shared/profileform/armor/armor_account_details', locals: { c: company, u: @current_user, url: nil, errors: company.errors.full_messages } %>
			<% elsif @armor_bank_url.present? %>
				<%= render partial: 'shared/profileform/armor/armor_account_details', locals: { c: company, u: @current_user, url: @armor_bank_url, errors: nil } %>
			<% end %>

			

		</div><!--/.small-12-->
	</div><!--/.row-->


<% elsif @current_user.company.armor_account_id.blank? && allow %>
	<%= render partial: 'shared/profileform/armor/armor_signup', locals: { c: @current_user.company, u: @current_user } %>
<% else %>
	<%= render partial: 'shared/profileform/armor/armor_combined_form', locals: { c: @current_user.company, u: @current_user, m: missing, e: errors } %>
<% end %>

