<div class="row">
	<div class="small-12 columns">
		<br>
		<h1>Ordering &amp; Payments</h1>
		<h3>Landing International has partnered with <%= link_to "Armor Payments, a Payoneer Company", "//armorpayments.com", target: "_blank" %> to provide payment escrow services for B2B eCommerce giving you peace of mind with secure transactions:</h3>

		<%= image_tag "https://s3.amazonaws.com/landingintl-us/general/orderpayments.png" %>

		<h3>
			All payment transactions on Landing Interational will take place via Armor Paymets (a Payoneer company) payment escrow service. 
			<% unless company.armor_account_id || company.disable_armor_payments %>
				<strong>In order to participate please follow the instructions below to enable your account with Armor Payments (Payoneer).</strong>
			<% end %>
		</h3>

<% unless company.class.to_s == "Brand" %>
		<br>
		<h3>
			<strong>If you'd like to use other methods of payment, you can turn the system off.</strong>
		</h3>
		
		<div class="panel text-center" style="background-color: #f2f2f2;">
				<h3 >ARMOR PAYMENTS is:</h3>
				<%= form_for company, :html => {id: 'disableArmorForm'}, remote: true do |f| %>
					<div class="switch" style="margin-bottom:0;">
						<%= f.check_box('disable_armor_payments', id: 'disableArmor', label: false) %>
						<label for="disableArmor">
		      <span class="switch-on">OFF</span>
		      <span class="switch-off">ON</span>
						</label>
					</div> 
				<% end %>
		</div>
<% end %>

	</div>
</div>

<% unless company.disable_armor_payments %>
<div class="row">
	<div class="small-12 columns">
		<a class="anchor" id="a-armor"></a>
		<hr>
		
	</div><!--/.small-12-->
</div><!--/.row-->

<% allow, missing, errors = @current_user.allows_armor_signup %>
<% if @current_user.company.armor_account_id %>
	
	<div class="row">
		<div class="small-12 columns">
			<h2>Armor Payments (Payoneer) Escrow Enabled</h2>

			<h3>You are now able to complete transactions via Armor Payments (Payoneer) and can now 
				<% if @current_user.company_type == "Brand" %>
					sell your products on the Landing International platform.
				<% else %>
					order products from our <%= link_to "Brand Partners", brands_url %>
				<% end %>
			</h3>
			
			<div class="landing-notice">In order to receive payment (for Brands) or refunds (for Retailers and Distributors), you need to ensure that Armor Payments (Payoneer) has your bank account information. Order payment and processing may be delayed if your banking information is incomplete. <a href="#a-armor-bank-info">You can submit your bank account information to Armor/Payoneer below.</a></div>

			<% if company.errors.any? %>
				<%= render partial: 'shared/profileform/armor/armor_account_details', locals: { c: company, u: @current_user, url: nil, errors: company.errors.full_messages } %>
			<% elsif @armor_bank_url.present? %>
				<%= render partial: 'shared/profileform/armor/armor_account_details', locals: { c: company, u: @current_user, url: @armor_bank_url, errors: nil } %>
			<% end %>

			

		</div><!--/.small-12-->
	</div><!--/.row-->


<% elsif @current_user.company.armor_account_id.blank? && allow %>
	<%= render partial: 'shared/profileform/armor/armor_signup', locals: { c: @current_user.company, u: @current_user } %>
<% else %>
	<%= render partial: 'shared/profileform/armor/armor_combined_form', locals: { c: @current_user.company, u: @current_user, m: missing, e: errors } %>
<% end %>

<% end %>
