<div class="row">
	<div class="small-12 columns">
		<table class="armor-account-summary">
			<a name="a-armor-bank-info"></a>
			<tr><td colspan="2" style="text-align: center;"><h3>Your Armor Payments, a Payoneer Company, account information:</h3></td></tr>
			<tr><td class="fieldname darker">Account ID</td><td><%= c.armor_account_id %></td></tr>
			<tr><td class="fieldname darker">User ID</td><td><%= u.armor_user_id %></td></tr>
			<tr><td class="fieldname darker">Bank Info <br><br><em>Note: In order to receive payment (Brands) or refunds (Retailers and Distributors), you must enter your bank account information.</em></td>
			<% if errors %>
				<td>
					<span class="error">
						Sorry, there was an error. Please reload the page.<br>
						<% errors.each do |m| %>
							<%= m %><br>
						<% end %>
					</span>
				</td>
			<% else %>
				<td colspan="2"><a id="bankInstructionsFrame-lightbox-preview" data-url="<%= url %>" class="landing-button">Add Bank Info</a></td>
			<% end %>
			</tr>

			<tr><td class="fieldname">Company Name</td><td><%= c.company_name %></td></tr>
			<tr><td class="fieldname">User Name</td><td><%= u.contact.firstname %> <%=u.contact.lastname %></td></tr>
			<tr><td class="fieldname">Email</td> <td><%= u.email %></td></tr>
			<tr><td class="fieldname">Phone</td><td><%= u.contact.phone.phony_formatted(format: :international , spaces: '-') %></td></tr>
			<tr><td class="fieldname">Address</td> <td><%= c.address.address1 %><%= ", #{c.address.address2}" %></td></tr>
			<tr><td class="fieldname">City/Town/Department</td> <td><%= c.address.city %></td></tr>
			<tr><td class="fieldname">State/Province/Region/County</td> <td><%= c.address.state_2 %></td></tr>
			<tr><td class="fieldname">Zip/Postal Code</td> <td><%= c.address.postcode %></td></tr>
			<tr><td class="fieldname">Country</td> <td><%= c.address.country_2 %></td></tr>
		</table>
	</div><!--/.small-12-->
</div><!--/.row-->
<br><br>




	<% content_for :javascript_foot do %>
		<script type="text/javascript">
			var ArmorInstructionsClicked = false;
			$("#bankInstructionsFrame-lightbox-preview").click(function(){
				if (!ArmorInstructionsClicked) {
					var url = $(this).attr("data-url");
					showArmorPaymentsLightboxUi(url, 250, true);
					ArmorInstructionsClicked = true;
				} else {
					$('#order-item-data').html("<div class='text-center'><h3>Sorry, there was an error, please reload the page and try again.</h3></div>");
					$('.overlay#order-item-overlay').fadeIn();
					$('#order-item').fadeIn();
				}
			});
		</script>
	<% end %>