<div class="row">
	<div class="small-12 columns">
		<h2>Enable Armor Payments (Payoneer) Escrow</h2>
		<h3>Accept Armor Payments (Payoneer) Terms and Conditions below to enable.</h3>
		<div class="landing-notice"><h3>Companies domiciled in Arizona or Idaho are currently unable to use Armor Payments due to escrow licensing issues. You will be unable to use Armor Payments (Payoneer) Escrow service if your company is headquartered in either of those states.</h3></div>
	</div><!--/.small-12-->
</div><!--/.row-->

<div class="row">
	<div class="small-12 columns">
		<% if flash[:error] %>
			<div class="row">
				<div class="small-12 columns">
					<br>
					<span class="error"><%= flash[:error] %><br>
						<% if flash[:errorlist] %>
							<% flash[:errorlist].each do |error| %>
								<%= error %><br>
							<% end %>
						<% end %>
					</span>
				</div><!--/.small-12-->
			</div><!--/.row-->
		<% end %>
		<table class="armor-account-summary">
			<tr><td colspan="2"><h3>You will be sharing the following information with Armor Payments (Payoneer):</h3></td></tr>
			<tr><td class="fieldname">Company Name</td><td><%= c.company_name %></td></tr>
			<tr><td class="fieldname">User Name</td><td><%= u.contact.firstname %> <%=u.contact.lastname %></td></tr>
			<tr><td class="fieldname">Email</td> <td><%= u.email %></td></tr>
			<tr><td class="fieldname">Phone</td><td><%= u.contact.phone.phony_formatted(format: :international , spaces: '-') %></td></tr>
			<tr><td class="fieldname">Address</td> <td><%= c.address.address1 %><%= ", #{c.address.address2}" %></td></tr>
			<tr><td class="fieldname">City/Town/Department</td> <td><%= c.address.city %></td></tr>
			<tr><td class="fieldname">State/Province/Region/County</td> <td><%= c.address.state_2 %></td></tr>
			<tr><td class="fieldname">Zip/Postal Code</td> <td><%= c.address.postcode %></td></tr>
			<tr><td class="fieldname">Country</td> <td><%= c.address.country_2 %></td></tr>
		</table>
	</div><!--/.small-12-->
</div><!--/.row-->
<br>
<div class="row">
	<div class="small-12 columns text-right">
	<%= form_tag ap_create_account_url + "#a-armor", method: "post", id: "armor-signup" do %>
		<%= render 'shared/profileform/armor/armor_signup_form' %>
		<%= submit_tag "Enable Armor Payments (Payoneer) Escrow", class: "landing-button" %>
	<% end %>
	</div><!--/.small-12-->
</div><!--/.row-->