<div class="row">
	<div class="small-12 columns">
		<h1>Ordering &amp; Payments</h1>
		<h3>Landing International has partnered with <%= link_to "Armor Payments, a Payoneer Company", "//armorpayments.com" %> to provide payment escrow services for B2B eCommerce giving you peace of mind with secure transactions:</h3>

		<%= image_tag "https://s3.amazonaws.com/landingintl-us/general/orderpayments.png" %>

		<h3>All payment transactions on Landing Interational will take place via Armor Paymets payment escrow service. <strong>In order to participate please create an Armor Payments account below.</strong></h3>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<hr>
		<h2>Your Armor Payments Account</h2>
	</div><!--/.small-12-->
</div><!--/.row-->

<% allow, missing, errors = @current_user.allows_armor_signup %>
<% if @current_user.company.armor_account_id %>
	<%= render partial: 'shared/profileform/armor/armor_account_details', locals: { c: @current_user.company, u: @current_user } %>
<% elsif @current_user.company.armor_account_id.blank? && allow %>
	<%= render partial: 'shared/profileform/armor/armor_signup', locals: { c: @current_user.company, u: @current_user } %>
<% else %>
	<%= render partial: 'shared/profileform/armor/armor_combined_form', locals: { c: @current_user.company, u: @current_user, m: missing, e: errors } %>
<% end %>		
