<div class="container marketplace">

	<div id="lead">
		<div id="title">MARKETPLACE <span id="sub">Distributor View</span></div><div id="close"><%= link_to dashboard_url do %><i class="fi-x"></i><% end %></div>
	</div><!--/#lead-->

	<div id="main-body">

		<%= render partial: "/shared/profile/components/profile_nav", locals: { profile: profile, section: "profile"  } %>

		<div class="row">
			<div class="small-12 columns">
				<div class="company-introduction">
					<%= simple_format(profile.company_introduction) %>
				</div>
			</div><!--/.small-12-->
		</div><!--/.row-->

		<div class="row">
			<div class="medium-4 columns">
				<div class="general-info">
					<%= show_website_url(profile) %>
					<%= show_links(profile) %>
					<%= show_global_good_tags(profile) %>
					<%= show_country_of_origin(profile) %>
					<%= show_company_size(profile) %>
					<%= show_sectors(profile) %>
					<%= show_channels(profile) %>
					<%= show_countries_of_distribution(profile) %>
				</div><!--/.general-info-->
			</div><!--/.medium-4-->
			<div class="medium-8 columns">
				<%= render partial: "shared/profile/components/gallery", locals: {gallery: @gallery, profile: profile} %>
			</div><!--/.medium-8-->
		</div><!--/.row-->


		<div id="profile-profile-wrapper">

			<div class="row collapse">
				<div class="small-12 columns">

							<% if profile.distributor_brands.where(current: true).length > 0 %>
								<div class="profile-container">
								<div class="row">
									<div class="small-12 columns">
										<div class="profile-section-head">
											CURRENT BRAND PORTFOLIO
										</div><!--.profile-section-head-->								
									</div><!--/.small-12-->
								</div><!--/.row-->
									<div class="profile-content">
									<ul class="small-block-grid-1 medium-block-grid-3" data-equalizer>
									<% profile.distributor_brands.where(current: true).each do |p| %>
										<li><%= render partial: "shared/collections_view/distributor_brands", locals: {
											collitem: p
										} %></li>
									<% end %>
									</ul>
									</div>
								</div>
								<br>
							<% end %>
							

							<% if profile.distributor_brands.where(current: false).length > 0 %>
								<div class="profile-container">
								<div class="row">
									<div class="small-12 columns">
										<div class="profile-section-head">
											PAST BRAND PORTFOLIO
										</div><!--.profile-section-head-->								
									</div><!--/.small-12-->
								</div><!--/.row-->
									<div class="profile-content">
									<ul class="small-block-grid-1 medium-block-grid-3" data-equalizer>
									<% profile.distributor_brands.where(current: false).each do |p| %>
										<li><%= render partial: "shared/collections_view/distributor_brands", locals: {
											collitem: p
										} %></li>
									<% end %>
									</ul>
									</div>
								</div>
								<br>
							<% end %>

							<div class="profile-container">
								<div class="row">
									<div class="small-12 columns">
										<div class="profile-section-head">
											SALES / EDUCATION CAPABILITIES
										</div><!--.profile-section-head-->								
									</div><!--/.small-12-->
								</div><!--/.row-->
								<div class="profile-content">
									<div class="previewtile">
										<div class="row">
											<div class="small-12 columns">
												<% unless profile.inside_sales_size.blank? && profile.outside_sales_size.blank? %>
												<div class="preview-data">
													<% unless profile.inside_sales_size.blank? %>
													<h6>Inside Sales Force: <strong><%= profile.inside_sales_size %></strong></h6>
													<% end %>
													<% unless profile.outside_sales_size.blank? %>
													<h6>Outside Sales Force: <strong><%= profile.outside_sales_size %></strong></h6>
													<% end %>
												</div>
												<% end %>
											</div><!--/.small-12-->
										</div><!--/.row-->
									</div><!-- .previewtile -->
								</div><!-- .profile-content -->
							</div><!-- .profile-container -->

							<div class="profile-container">
								<div class="row">
									<div class="small-12 columns">
										<div class="profile-section-head">
											MARKETING / PR CAPABILITIES
										</div><!--.profile-section-head-->								
									</div><!--/.small-12-->
								</div><!--/.row-->
								<div class="profile-content">
									<div class="previewtile">
									<div class="row">
										<div class="small-12 columns">
											<div class="preview-data">
											<% unless profile.internal_marketing_size.blank? %>
											<h6>Internal Marketing / PR Team Size: <strong><%= profile.internal_marketing_size %></strong></h6>
											<% end %>
											
											<h6>This distributor <strong><%= profile.employ_pr_agency ? "uses" : "does not use" %> external Marketing / PR resources</strong> </h6>
											
											<% unless profile.customer_database_size.blank? %>
											<h6>Customer Database Size: <strong><%= profile.customer_database_size %></strong></h6>
											<% end %>

											<h6>This distributor advertises via:
												<%= render partial: "/shared/profile/components/marketing_type", locals: {name: "Print" ,p: profile.marketing_via_print}%>,
												<%= render partial: "/shared/profile/components/marketing_type", locals: {name: "Online" ,p: profile.marketing_via_online}%>,
												<%= render partial: "/shared/profile/components/marketing_type", locals: {name: "Email" ,p: profile.marketing_via_email}%>,
												<%= render partial: "/shared/profile/components/marketing_type", locals: {name: "Outdoor" ,p: profile.marketing_via_outdoor}%>,
												<%= render partial: "/shared/profile/components/marketing_type", locals: {name: "Events" ,p: profile.marketing_via_events}%>,
												<%= render partial: "/shared/profile/components/marketing_type", locals: {name: "Direct Mail" ,p: profile.marketing_via_direct_mail}%>,
												<%= render partial: "/shared/profile/components/marketing_type", locals: {name: "Classes" ,p: profile.marketing_via_classes}%>
												</h6>
											</div><!--/.preview-data-->
										</div><!--/.small-12-->
									</div><!--/.row-->

								</div><!-- .previewtile -->
								</div><!-- .profile-content -->
							</div><!-- .profile-container -->

							<% if profile.trade_shows.length > 0 %>
							<div class="profile-container">
								<div class="row">
									<div class="small-12 columns">
										<div class="profile-section-head">
											TRADE SHOWS
										</div><!--.profile-section-head-->								
									</div><!--/.small-12-->
								</div><!--/.row-->
								<div class="profile-content">
									<ul class="small-block-grid-1 medium-block-grid-3" data-equalizer>
									<% profile.trade_shows.order_by(:date.desc).each do |p| %>
										<li><%= render partial: "shared/collections_view/trade_shows", locals: {
											collitem: p
										} %></li>
									<% end %>
									</ul>
								</div><!--.profile-content-->
							</div><!--.profile-container-->
							<br>
							<% end %>

							<div class="profile-container">
								<div class="row">
									<div class="small-12 columns">
										<div class="profile-section-head">
											GIVING PLACE
										</div><!--.profile-section-head-->								
									</div><!--/.small-12-->
								</div><!--/.row-->
								<div class="profile-content">
									<div class="row">

									<div class="small-12 columns">
									<ul class="small-block-grid-1 medium-block-grid-3" data-equalizer>
										<% unless profile.social_causes.blank? %>
										<li>
											<div class="data">
												<h3>Social Causes</h3>
											</div>
											<div class="data">
												<%= simple_format(profile.social_causes) %>
											</div>
										</li>
										<% end %>
										<% unless profile.social_organizations.blank? %>
										<li>
											<div class="data">
												<h3>Organizations You Support</h3>
											</div>
											<div class="data">
												<%= simple_format(profile.social_organizations) %>
											</div>
										</li>
										<% end %>
										<% unless profile.social_give_back.blank? %>
										<li>
											<div class="data">
												<h3>How You Give Back</h3>
											</div>
											<div class="data">
												<%= simple_format(profile.social_give_back) %>
											</div>
										</li>
										<% end %>
									</ul>
									</div><!--/.small-12-->

									</div><!--/.row-->
								</div><!-- .profile-content -->
							</div><!-- .profile-container -->

				</div><!--/.small-12 -->
			</div><!--/.row-->
		</div><!--/.profile-profile -->



		<%# set default distributor brand photo %>
		<% content_for :javascript_head do %>
			<%= javascript_tag do %>
				var profileType = "<%=profile.class.to_s.downcase%>";
				var hasConversation = <%= @messages && @current_user.subscriber? ? "true" : "false" %>;
				var bsPhotos = [
				<% profile.export_countries.each do |ec| %>
					'/images/marketplace_<%= ec.country.gsub(/\s+/, "").downcase %>.jpg',
				<% end %>
				]
			<% end %>
		<% end %>
		<% content_for :javascript_foot do %>
			<%= javascript_tag do %>
				$( document ).ready(function() {
					initFullProfile();
				});
			<% end %>
		<% end %>

	</div><!--/#main-body-->
</div><!--/#container-->