<% if @messages && @current_user.subscriber? %>
<div class="row">
	<div class="small-8 columns">
		&nbsp;
	</div><!--/.small-8-->
	<div class="small-4 columns text-right profile-tabs">
		<h2 class="active" id="tab-conversation">conversation</h3>
		<h2 id="tab-profile">profile</h3>
	</div><!--/.small-12-->
</div><!--/.row-->
<% end %>


<div id="profile-conversation-wrapper">
	<div id="profile-conversation">
	<%= render partial: "matches/conversation", locals: {profile: profile} %>
	</div>
</div>

<div id="profile-profile-wrapper">
	<div class="row collapse" style="background-color: white;">
		<div class="medium-8 columns">
			<%= render partial: "shared/profile/components/gallery", locals: {gallery: @gallery, profile: profile} %>
		</div><!--/.medium-8-->
		<div class="medium-4 text-left columns">

			<div class="tags-window previewtile">
				<div class="profile-container">
					<div class="profile-content">
						<div class="row">
							<div class="small-12 columns">
								<div class="row collapse">
									<div class="small-6 columns">
										<%= render partial: "shared/profile/distributor_rating", locals: {d: profile} %><br>
									</div><!--/.small-6-->
									<div class="small-6 columns text-right">
										<%= render partial: "shared/profile/components/savebutton", locals: {profile: profile} %>
									</div><!--/.small-6-->
								</div><!--/.row-->
								<h1><%= profile.company_name %></h1>
									<% if profile.logo_file_name %>
										<%= image_tag profile.logo.url(:medium), alt: "Logo" %>
									<% else %>
										<% if !profile.facebook.blank? && fb_picture(profile.facebook) %>
											<%= image_tag fb_picture(profile.facebook) %>
										<% else %>
											<%= image_tag profile.logo.url(:medium), width: "100", height: "100", alt: "Logo" %>
										<% end %>					
									<% end %>
								<br><br>
								<% profile.tags.each do |tag| %>
									<span class="label"><%= tag.name %></span>
								<% end %>
								<br><br>
								<%= render partial: "shared/profile/components/indicators", locals: {match: profile} %>

								<p>
								<%= simple_format(profile.company_introduction) %>
								</p>

								<h3>
								<% unless profile.website.blank? %>
									<%= link_to "//#{clean_url(profile.website)}", target: "blank" do %> 
									<i class="fi-laptop" style="font-size: 3em;"></i> 
									<% end %>
								<% end %>
								<% unless profile.facebook.blank? %>
									<%#= !profile.website.blank? ? "/" : "" %>
									<%= link_to "//#{clean_url(profile.facebook)}", target: "blank" do %>
									<i class="fi-social-facebook" style="font-size: 3em;"></i> 
									<% end %>
								<% end %>
								<% unless profile.linkedin.blank? %>
									<%#= !profile.website.blank? || !profile.facebook.blank? ? "/" : "" %>
									<%= link_to "//#{clean_url(profile.linkedin)}", target: "blank" do %>
										<i class="fi-social-linkedin" style="font-size: 3em;"></i> 
									<% end %>
								<% end %>
								<% unless profile.twitter.blank? %>
									<%#= !profile.website.blank? || !profile.facebook.blank? || !profile.linkedin.blank? ? "/" : "" %>
									<%= link_to "//#{clean_url(profile.twitter)}", target: "blank" do %>
										<i class="fi-social-twitter" style="font-size: 3em;"></i> 
									<% end %>
								<% end %>
								<% unless profile.instagram.blank? %>
									<%#= !profile.website.blank? || !profile.facebook.blank? || !profile.linkedin.blank? || !profile.twitter.blank? ? "/" : "" %>
									<%= link_to "//#{clean_url(profile.instagram)}", target: "blank" do %>
										<i class="fi-social-instagram" style="font-size: 3em;"></i> 
									<% end %>
								<% end %>						
								</h3>
							</div>
						</div>
					</div>
				</div>

				<%= render partial: "shared/profile/components/general_info", locals: {profile: profile} %>
		
			</div>
		</div><!--/.medium-3-->
	</div><!--/.row-->

	<br>

	<%= render partial: "matches/conversation_start", locals: {profile: profile} %>

	<div class="row collapse">
		<div class="small-12 columns">
			


					<% if profile.distributor_brands.where(current: true).length > 0 %>
						<div class="profile-container">
							<div class="profile-header">
								<h1>CURRENT BRAND PORTFOLIO</h1>
							</div>
							<div class="profile-content">
							<ul class="small-block-grid-1 medium-block-grid-3" data-equalizer>
							<% profile.distributor_brands.where(current: true).each do |p| %>
								<li><%= render partial: "shared/collections_view/distributor_brands", locals: {
									collitem: p
								} %></li>
							<% end %>
							</ul>
							</div>
						</div>
						<br>
					<% end %>
					

					<% if profile.distributor_brands.where(current: false).length > 0 %>
						<div class="profile-container">
							<div class="profile-header">
								<h1>PAST BRAND PORTFOLIO</h1>
							</div>
							<div class="profile-content">
							<ul class="small-block-grid-1 medium-block-grid-3" data-equalizer>
							<% profile.distributor_brands.where(current: false).each do |p| %>
								<li><%= render partial: "shared/collections_view/distributor_brands", locals: {
									collitem: p
								} %></li>
							<% end %>
							</ul>
							</div>
						</div>
						<br>
					<% end %>


					<div class="profile-container">
						<div class="profile-header">
							<h1>SALES AND MARKETING INFO</h1>
						</div>
						<div class="profile-content">
							<div class="previewtile">
							<div class="row">
								<div class="small-6 columns">
									<% unless profile.inside_sales_size.blank? && profile.outside_sales_size.blank? %>
									<div class="preview-data">
										<span class="preview-data-tile-title">Sales &amp; Education</span><br>
										<% unless profile.inside_sales_size.blank? %>
										<h6><strong>Inside Sales Force: <%= profile.inside_sales_size %></strong></h6>
										<% end %>
										<% unless profile.outside_sales_size.blank? %>
										<h6><strong>Outside Sales Force: <%= profile.outside_sales_size %></strong></h6>								
										<% end %>
									</div>
									<% end %>
								</div><!--/.small-6-->
								<div class="small-6 columns">
									<% unless profile.channels.blank? %>
									<div class="preview-data">
										<span class="preview-data-tile-title">Channels (Capacity)</span>
											
											<% profile.channels.each do |ch| %>
												<h6><strong><%= ch.name  %> <%= profile.channel_capacities.where(channel_id: ch.id).first.capacity.blank? ? "" : "(#{profile.channel_capacities.where(channel_id: ch.id).first.capacity})" %></strong></h6>
											<% end %>

											<% if profile.channel_capacities.where(channel_id: 0).length > 0 %>
												<% profile.channel_capacities.where(channel_id: 0).each do |cch| %>
													<h6><strong><%= cch.custom_channel_name %> <small>(Custom Channel)</small> (<%= cch.capacity %>)</strong></h6>
												<% end %>
											<% end %>								
										</div>
										<% end %>
								</div><!--/.small-6-->
							</div><!--/.row-->

							<div class="row">
								<div class="small-12 columns">
									<div class="preview-data">
									<span class="preview-data-tile-title">Marketing &amp; PR</span><br>
									<% unless profile.internal_marketing_size.blank? %>
									<h6>Internal Marketing/ PR Team Size: <strong><%= profile.internal_marketing_size %></strong></h6>
									<% end %>
									
									<h6><strong><%= profile.employ_pr_agency ? "Has" : "No" %> External Marketing/PR</strong></h6>
									
									<% unless profile.customer_database_size.blank? %>
									<h6>Customer Database Size: <strong><%= profile.customer_database_size %></strong></h6>
									<% end %>

									<h6><strong>Product Marketing:</strong></h6>
									<div class="row">
										<div class="small-6 columns">
											<div class="preview-data">
											<strong>
											<%= render partial: "/shared/profile/components/distributor_marketing_type", locals: {name: "Print" ,p: profile.marketing_via_print}%>
											<%= render partial: "/shared/profile/components/distributor_marketing_type", locals: {name: "Online" ,p: profile.marketing_via_online}%>
											<%= render partial: "/shared/profile/components/distributor_marketing_type", locals: {name: "Email" ,p: profile.marketing_via_email}%>
											<%= render partial: "/shared/profile/components/distributor_marketing_type", locals: {name: "Outdoor" ,p: profile.marketing_via_outdoor}%>
											</strong>
											</div>					
										</div><!--/.small-6-->
										<div class="small-6 columns">
											<div class="preview-data">
											<strong>
											<%= render partial: "/shared/profile/components/distributor_marketing_type", locals: {name: "Events" ,p: profile.marketing_via_events}%>
											<%= render partial: "/shared/profile/components/distributor_marketing_type", locals: {name: "Direct Mail" ,p: profile.marketing_via_direct_mail}%>
											<%= render partial: "/shared/profile/components/distributor_marketing_type", locals: {name: "Classes" ,p: profile.marketing_via_classes}%>		
											</strong>
											</div>			
										</div><!--/.small-6-->
									</div><!--/.row-->
									</div>
								</div><!--/.small-12-->
							</div><!--/.row-->

						</div><!-- .previewtile -->
						</div><!-- .profile-content -->
					</div><!-- .profile-container -->

		</div><!--/.small-12 -->
	</div><!--/.row-->
</div><!--/.profile-profile -->



<%# set default distributor brand photo %>
<% content_for :javascript_head do %>
	<%= javascript_tag do %>
		var profileType = "<%=profile.class.to_s.downcase%>";
		var hasConversation = <%= @messages && @current_user.subscriber? ? "true" : "false" %>;
		var bsPhotos = [
		<% profile.export_countries.each do |ec| %>
			'/images/marketplace_<%= ec.country.gsub(/\s+/, "").downcase %>.jpg',
		<% end %>
		]
	<% end %>
<% end %>
<% content_for :javascript_foot do %>
	<%= javascript_tag do %>
		$( document ).ready(function() {
			initFullProfile();
		});
	<% end %>
<% end %>
