<div class="profile-list-item">
	<div class="row">
		<div class="medium-1 columns">
			<% if @current_user.subscriber? && action_name != "public_profile"  %>
				<% if profile_item.logo_file_name %>
					<%= link_to view_match_url(profile_item.id, action_name) do %>
						<%= image_tag profile_item.logo.url(:medium), alt: "Logo" %>
					<% end %>
				<% else %>
					<% if !profile_item.facebook.blank? && fb_picture(profile_item.facebook) %>
						<%= link_to view_match_url(profile_item.id, action_name) do %>
							<%= image_tag fb_picture(profile_item.facebook) %>
						<% end %>
					<% else %>
						<%= link_to view_match_url(profile_item.id, action_name) do %>
							<%= image_tag profile_item.logo.url(:medium), alt: "Logo" %>
						<% end %>
					<% end %>					
				<% end %>
			<% else %>
			<span data-tooltip aria-haspopup="true" class="has-tip" title="<%= profile_item.class.to_s %> logo hidden. Subscribe to view full profile"><%= image_tag profile_item.logo.url(:medium), width: "40", height: "40", alt: "Logo" %></span>
			<% end %>
		</div><!--/.medium-1-->
		<div class="medium-4 columns">

					<% if @current_user.brand %>
						<% profile_item.export_countries.each_with_index do |ec, index| %>
							<small><%= ec.country %></small><%= index == (profile_item.export_countries.length - 1) ? '' : '<small>,</small>'.html_safe %>
						<% end %>
					<% elsif @current_user.distributor %>
						<% profile_item.sectors.sort_by{|s| s.name}.each_with_index do |s, index| %>
							<small><%= s.name %></small><%= index == (profile_item.sectors.length - 1) ? '' : '<small>,</small>'.html_safe %>
						<% end %>
					<% end %>
						<br>
					<% if @current_user.subscriber? && action_name != "public_profile" %>
						<span style="font-weight: 200;font-size:1.3em;"><%= link_to profile_item.company_name, view_match_url(profile_item.id, action_name) %></span>
						<% if @current_user.distributor && !profile_item.brand_positioning.blank? %>
							<h5><%= truncate(profile_item.brand_positioning, :length => 100, :separator => ' ') %><small><%= link_to "more", view_match_url(profile_item.id, action_name) %> </small></h5>
						<% end %>
					<% else %>
						<span data-tooltip aria-haspopup="true" class="has-tip" title="Subscribe to view full profile">
						<%= profile_item.company_name %>
						</span>
					<% end %>

		</div><!--/.medium-4-->
		<div class="medium-2 columns">
					<br>
					<% if @current_user.brand %>
						<%= render partial: "shared/profile/distributor_rating", locals: {d: profile_item} %>
					<% end %>
		</div><!--/.medium-2-->
		<div class="medium-4 columns text-right">
			<% if @current_user.subscriber? && action_name != "public_profile"  %>
				<%= render partial:"shared/profile/components/indicators_h", locals:{match: profile_item} %>
			<% end %>
		</div><!--/.medium-3-->
		<div class="medium-1 columns text-right">
			<%= render partial: "shared/profile/components/savebutton", locals: {profile: profile_item} %>
		</div>
	</div>
</div>
<div class="tags-list text-left">
<% if @current_user.subscriber? && action_name != "public_profile" %>
	<% profile_item.tags.each do |tag| %>
		<%= link_to matches_path(tag: tag.name, sector: @sector, country: @country, list_style: 'hz') do %>
			<span class="label"><%= tag.name %></span>
		<% end %>
	<% end %>
<% end %>
</div>