<% if @messages && @current_user.subscriber? %>
<div class="row">
	<div class="small-6 columns">
		&nbsp;
	</div><!--/.small-6-->
	<div class="small-6 columns text-right profile-tabs">
		<h2 class="active" id="tab-conversation">conversation</h3>
		<h2 id="tab-profile">profile</h3>
	</div><!--/.small-6-->
</div><!--/.row-->
<% end %>

<div id="profile-conversation-wrapper">
	<div id="profile-conversation">
	<%= render partial: "matches/conversation", locals: {profile: profile} %>
	</div>
</div>

<div class="row">
	<div class="medium-4 columns medium-push-8 medium-text-right">
		<% if profile.logo_file_name %>
			<%= image_tag profile.logo.url(:medium), alt: "Logo" %>
		<% else %>
			<% if !profile.facebook.blank? && fb_picture(profile.facebook) %>
				<%= image_tag fb_picture(profile.facebook) %>
			<% else %>
				<%= image_tag profile.logo.url(:medium), width: "100", height: "100", alt: "Logo" %>
			<% end %>
		<% end %>
	</div><!--/.medium-4-->
	<div class="medium-8 columns medium-pull-4 medium-text-left">
		<h1><%= profile.company_name %></h1>

		<div>
			<% profile.tags.each do |tag| %>
				<span data-tooltip aria-haspopup="true" class="has-tip radius tip-right" title="GLOBAL GOOD TAGS"><span class="tag"><%= tag.name %></span></span>
			<% end %>
		</div>
		
		<% if profile.class.to_s == "Brand" && !profile.trends.blank? %>
		<div>
			<% profile.trends.pluck(:name).each do |trend| %>
				<span data-tooltip aria-haspopup="true" class="has-tip radius tip-right" title="TRENDS"><span class="tag trend"><%= trend %></span></span>
			<% end %>
		</div>
		<% end %>
		
		<br>

		<div class="profile-general-info">
			<div class="data">
				Based in 
				<strong>
				<% if profile.country_of_origin.blank? %>
				 Unknown Country
				<% else %>
				<%= profile.country_of_origin %>
				<% end %>
				</strong>
				with
				<strong>
				<% if profile.company_size.blank? %>
					unknown number of employees
				<% else %>
					<%= CompanySize.find(profile.company_size).name rescue nil %>
				<% end %>
				</strong>
			</div>
			<div class="data">
			<% if profile.sectors.blank? %>
				n/a
			<% else %>
				<% profile.sectors.order_by(:name => "asc").each do |s| %>
					<%= s.name %>
					<% unless profile.subsectors.where(:sector => s).blank? %>
					( <%= profile.subsectors.where(:sector => s).pluck(:name).to_a.join(", ") %> )
					<% end %>
					<br>
				<% end %>
			<% end %>
			</div>

		</div>
		
			<%= render partial: "shared/profile/components/links", locals: {profile: profile} %>

	</div><!--/.medium-8-->
</div><!--/.row-->


<div class="row">
	<div class="small-12 columns">
		<%= render partial: "shared/profile/components/gallery", locals: {gallery: @gallery, profile: profile} %>
	</div><!--/.small-12-->
</div><!--/.row-->


<div id="profile-profile-wrapper">
	<br>

	<%= render partial: "matches/conversation_start", locals: {profile: profile} %>

	<div class="row collapse">
		<div class="small-12 columns">
					
					<% if profile.trade_shows.length > 0 %>
					<div class="profile-container">
						<div class="row">
							<div class="small-12 columns">
								<div class="profile-section-head">
									TRADE SHOWS
								</div><!--.profile-section-head-->								
							</div><!--/.small-12-->
						</div><!--/.row-->
						<div class="profile-content">
							<% profile.trade_shows.order_by(:date.desc).each do |p| %>
								<%= render partial: "shared/collections_view/trade_shows", locals: {
									collitem: p
								} %>
							<% end %>
						</div><!--.profile-content-->
					</div><!--.profile-container-->
					<% end %>

					<div class="profile-container">
						<div class="row">
							<div class="small-12 columns">
								<div class="profile-section-head">
									SALES &amp; MARKETING INFO
								</div><!--.profile-section-head-->								
							</div><!--/.small-12-->
						</div><!--/.row-->
						<div class="profile-content">
							<div class="previewtile">

							<div class="row">
								<div class="small-12 columns">
									<div class="preview-data">
									<span class="preview-data-tile-title">Marketing &amp; PR</span><br>
									<% unless profile.internal_marketing_size.blank? %>
									<h6>Internal Marketing / PR Team Size: <strong><%= profile.internal_marketing_size %></strong></h6>
									<% end %>
									
									<h6>External Marketing / PR?: <strong><%= profile.employ_pr_agency ? "Yes" : "No" %></strong></h6>
									
									<% unless profile.customer_database_size.blank? %>
									<h6>Customer Database Size: <strong><%= profile.customer_database_size %></strong></h6>
									<% end %>

									<h6>Product Marketing:
										<%= render partial: "/shared/profile/components/marketing_type", locals: {name: "Print" ,p: profile.marketing_via_print}%>,
										<%= render partial: "/shared/profile/components/marketing_type", locals: {name: "Online" ,p: profile.marketing_via_online}%>,
										<%= render partial: "/shared/profile/components/marketing_type", locals: {name: "Email" ,p: profile.marketing_via_email}%>,
										<%= render partial: "/shared/profile/components/marketing_type", locals: {name: "Outdoor" ,p: profile.marketing_via_outdoor}%>,
										<%= render partial: "/shared/profile/components/marketing_type", locals: {name: "Events" ,p: profile.marketing_via_events}%>,
										<%= render partial: "/shared/profile/components/marketing_type", locals: {name: "Direct Mail" ,p: profile.marketing_via_direct_mail}%>,
										<%= render partial: "/shared/profile/components/marketing_type", locals: {name: "Classes" ,p: profile.marketing_via_classes}%>
										</h6>
									</div><!--/.preview-data-->
								</div><!--/.small-12-->
							</div><!--/.row-->

						</div><!-- .previewtile -->
						</div><!-- .profile-content -->
					</div><!-- .profile-container -->

		</div><!--/.small-12 -->
	</div><!--/.row-->
</div><!--/.profile-profile -->



<%# set default retailer brand photo %>
<% content_for :javascript_head do %>
	<%= javascript_tag do %>
		var profileType = "<%=profile.class.to_s.downcase%>";
		var hasConversation = <%= @messages && @current_user.subscriber? ? "true" : "false" %>;
		var bsPhotos = [
		<% profile.export_countries.each do |ec| %>
			'/images/marketplace_<%= ec.country.gsub(/\s+/, "").downcase %>.jpg',
		<% end %>
		]
	<% end %>
<% end %>
<% content_for :javascript_foot do %>
	<%= javascript_tag do %>
		$( document ).ready(function() {
			initFullProfile();
		});
	<% end %>
<% end %>
