<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Landing" %></title>
  <link rel="shortcut icon" href="/favicon.ico?v=2" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>

<script src="//use.typekit.net/aaw2ric.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<script
    type="text/javascript"
    async defer
    src="//assets.pinterest.com/js/pinit.js"
></script>

  <%= content_for?(:javascript_head) ? yield(:javascript_head) : "" %>
  <%= content_for?(:css_head) ? yield(:css_head) : "" %>



</head>
<body>

<%= content_for?(:user_head) ? yield(:user_head) : "" %>

<%= content_for?(:subnav) ? yield(:subnav) : "" %>


<%= yield %>


<div class="overlay"></div>
<div class="modal ajax-wait"><%= image_tag 'landing_loading.gif' %></div>

<div id="quick-view">
	<a id="close-quick-view" aria-label="Close"><i class="fi-x"></i></a>
	<div id="quick-view-data"></div>
</div>
<div class="overlay" id="quick-view-overlay"></div>

<div id="profile-preview">
  <a id="close-profile-preview" aria-label="Close"><i class="fi-x"></i></a>
  <div id="profile-preview-data"></div>
</div>
<div class="overlay" id="profile-preview-overlay"></div>

<div id="order-item">
  <a id="close-order-item" aria-label="Close"><i class="fi-x"></i></a>
  <div id="order-item-data"></div>
</div>
<div class="overlay" id="order-item-overlay"></div>

<div id="order">
  <a id="close-order" aria-label="Close"><i class="fi-x"></i></a>
  <div id="order-data"></div>
</div>
<div class="overlay" id="order-overlay"></div>

<%= javascript_include_tag "application" %>
<%= content_for?(:javascript_foot) ? yield(:javascript_foot) : "" %>


</body>
</html>



