<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Landing" %></title>
  <link rel="shortcut icon" href="/favicon.ico?v=2" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>

<script src="//use.typekit.net/aaw2ric.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<script
    type="text/javascript"
    async defer
    src="//assets.pinterest.com/js/pinit.js"
></script>
<script src="https://use.fontawesome.com/2655ad3aae.js"></script>

  <%= content_for?(:javascript_head) ? yield(:javascript_head) : "" %>
  <%= content_for?(:css_head) ? yield(:css_head) : "" %>



</head>
<body>

<%= content_for?(:user_head) ? yield(:user_head) : "" %>

<%= content_for?(:subnav) ? yield(:subnav) : "" %>


<%= yield %>



<div class="ajax-wait">
  <div class="ajax-wait-inner">
  </div>
</div>
<div class="overlay" id="ajax-wait-overlay"></div>

<div id="quick-view">
	<a id="close-quick-view" aria-label="Close"><i class="fi-x"></i></a>
	<div id="quick-view-data"></div>
</div>
<div class="overlay" id="quick-view-overlay"></div>

<div id="profile-preview" class="profile-preview">
  <a id="close-profile-preview" aria-label="Close"><i class="fi-x"></i></a>
  <div id="profile-preview-data"></div>
</div>
<div class="overlay" id="profile-preview-overlay"></div>

<div id="order-item">
  <a id="close-order-item" aria-label="Close"><i class="fi-x"></i></a>
  <div id="order-item-data"></div>
</div>
<div class="overlay" id="order-item-overlay"></div>

<div id="inventory-item">
  <a id="close-inventory-item" aria-label="Close"><i class="fi-x"></i></a>
  <div id="inventory-item-data"></div>
</div>
<div class="overlay" id="inventory-item-overlay"></div>

<div id="order">
  <a id="close-order" aria-label="Close"><i class="fi-x"></i></a>
  <div id="order-data"></div>
</div>
<div class="overlay" id="order-overlay"></div>

<div id="ajax-message">
  <div class="ajax-message-inner" id="success">
    <div class="row">
      <div class="small-12 columns text-center">
        <div id="ajax-success-data"></div>
      </div><!--/.small-12-->
    </div><!--/.row-->
  </div>  
</div>
<div id="ajax-message-error">
  <div class="ajax-message-inner" id="error">
    <div class="row">
      <div class="small-12 columns text-center">
        <div id="ajax-error-data"></div>
      </div><!--/.small-12-->
    </div><!--/.row-->
  </div>
</div>
<%= javascript_include_tag "application" %>
<%= content_for?(:javascript_foot) ? yield(:javascript_foot) : "" %>
<%= armor_lightbox_script() %>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>

</body>
</html>



