<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Landing" %></title>
  <link rel="shortcut icon" href="/favicon.ico?v=2" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>

<script src="//use.typekit.net/aaw2ric.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

  <%= content_for?(:javascript_head) ? yield(:javascript_head) : "" %>



</head>
<body data-vide-bg="mp4: /video/Landing.mp4" data-vide-options="loop: false, muted: true, position: 0% 0%">

<%= content_for?(:user_head) ? yield(:user_head) : "" %>

<%= content_for?(:subnav) ? yield(:subnav) : "" %>


<%= yield %>


<%= javascript_include_tag "application" %>
<%= content_for?(:javascript_foot) ? yield(:javascript_foot) : "" %>

<div class="overlay"></div>
<div class="modal ajax-wait"><%= image_tag 'landing_loading.gif' %></div>

</body>
</html>